Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-0.4.3-main.4bb1f13
  index.yaml
  yay-tsa-0.4.3-main.4bb1f13.tgz
  yay-tsa-0.4.3-main.7acf9eb.tgz
Due: prettier

fix: Update dependencies and fix SSRF CodeQL alerts in metadata providers
  apps/web/package.json
  package-lock.json
  package.json
  packages/core/package.json
  packages/platform/package.json
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/LastFmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MusicBrainzProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/SpotifyProvider.java
Due: prettier, sort-package-json, npm-audit, docker-build, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.f211be7
  index.yaml
  yay-tsa-0.4.3-main.4bb1f13.tgz
  yay-tsa-0.4.3-main.f211be7.tgz
Due: prettier

fix: Eliminate ReDoS in GeniusProvider normalizeTitle regex patterns
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/GeniusProvider.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.baa19db
  index.yaml
  yay-tsa-0.4.3-main.baa19db.tgz
  yay-tsa-0.4.3-main.e1b9989.tgz
Due: prettier

fix: Downgrade ESLint to 9.x for eslint-plugin-import compatibility
  apps/web/package.json
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

Release yay-tsa-0.4.3-main.2da9cd3
  index.yaml
  yay-tsa-0.4.3-main.2da9cd3.tgz
  yay-tsa-0.4.3-main.baa19db.tgz
Due: prettier

fix: Remove minimatch override that broke eslint-plugin-jsx-a11y v9 API
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

Release yay-tsa-0.4.3-main.1ca8b4d
  index.yaml
  yay-tsa-0.4.3-main.1ca8b4d.tgz
  yay-tsa-0.4.3-main.2da9cd3.tgz
Due: prettier

fix: Serialize adaptive queue fills per session to prevent duplicate key race
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Remove dead currentQueueSize param, use fresh activeQueue size under lock
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.7cc650a
  index.yaml
  yay-tsa-0.4.3-main.1ca8b4d.tgz
  yay-tsa-0.4.3-main.7cc650a.tgz
Due: prettier

fix: Karaoke cancel, failed-track guard, and tri-state button UX
  .pre-commit-config.yaml
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/api/api.client.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

feat: Add Python pre-commit hooks for audio-separator and fix PMD enforcement
  .treemapper/dj.whitelist
  .treemapper/karaoke.whitelist
  .treemapper/review-api.whitelist
  .treemapper/review-audio.whitelist
  .treemapper/review-backend.whitelist
  .treemapper/review-cicd.whitelist
  .treemapper/review-core.whitelist
  .treemapper/review-domain.whitelist
  .treemapper/review-frontend-features.whitelist
  .treemapper/review-frontend-pages.whitelist
  .treemapper/review-frontend.whitelist
  services/audio-separator/app.py
  services/audio-separator/extractor/embedding_extractor.py
  services/audio-separator/extractor/essentia_analyzer.py
  services/audio-separator/pyproject.toml
Due: none

Release yay-tsa-0.4.3-main.64dd7bb
  index.yaml
  yay-tsa-0.4.3-main.64dd7bb.tgz
  yay-tsa-0.4.3-main.7cc650a.tgz
Due: prettier

chore: Remove shift-commit-time hook
  .pre-commit-config.yaml
Due: prettier

Release yay-tsa-0.4.3-main.4257381
  index.yaml
  yay-tsa-0.4.3-main.4257381.tgz
  yay-tsa-0.4.3-main.64dd7bb.tgz
Due: prettier

fix: Handle AsyncRequestTimeoutException in SSE karaoke status stream
  services/server/src/main/java/com/yaytsa/server/error/GlobalExceptionHandler.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.39d26ff
  index.yaml
  yay-tsa-0.4.3-main.39d26ff.tgz
  yay-tsa-0.4.3-main.4257381.tgz
Due: prettier

fix: Move DJ queue trigger out of DB transaction to prevent connection pool exhaustion
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.722b0c5
  index.yaml
  yay-tsa-0.4.3-main.39d26ff.tgz
  yay-tsa-0.4.3-main.722b0c5.tgz
Due: prettier

fix: Skip while karaoke processing no longer auto-starts processing on next track
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.2d03242
  index.yaml
  yay-tsa-0.4.3-main.2d03242.tgz
  yay-tsa-0.4.3-main.722b0c5.tgz
Due: prettier

fix: Capture isKaraokeMode before reset in loadAndPlay to preserve karaoke intent
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

fix: Use karaokeEnabled (not isKaraokeMode) to preserve karaoke intent across track changes
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.91e30c1
  index.yaml
  yay-tsa-0.4.3-main.2d03242.tgz
  yay-tsa-0.4.3-main.91e30c1.tgz
Due: prettier

fix: Replace signal retry loop with per-session mutex; silence read-only lyrics warn
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.55fa99a
  index.yaml
  yay-tsa-0.4.3-main.55fa99a.tgz
  yay-tsa-0.4.3-main.91e30c1.tgz
Due: prettier

fix: Replace loop+save with bulk UPDATE queries to prevent connection pool exhaustion
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AdaptiveQueueRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.95e4eab
  index.yaml
  yay-tsa-0.4.3-main.55fa99a.tgz
  yay-tsa-0.4.3-main.95e4eab.tgz
Due: prettier

fix: Use correct column name track_id in bulk UPDATE native queries
  apps/web/tests/e2e/monkey.spec.ts
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AdaptiveQueueRepository.java
Due: prettier, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.46fa960
  index.yaml
  yay-tsa-0.4.3-main.46fa960.tgz
  yay-tsa-0.4.3-main.95e4eab.tgz
Due: prettier

fix: Scalability and robustness improvements from monkey testing
  apps/web/scripts/generate-icons.js
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/components/SleepTimerModal.tsx
  apps/web/src/features/player/hooks/useSignalEmitter.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/hooks/useFocusTrap.ts
  apps/web/src/shared/ui/SortMenu.tsx
  apps/web/tests/e2e/monkey.spec.ts
  apps/web/vite.config.ts
  packages/core/src/api/api.client.ts
  packages/core/src/internal/config/env.ts
  packages/core/src/internal/utils/logger.ts
  packages/platform/src/web/html5-audio.ts
  packages/platform/src/web/pink-noise-generator.ts
  services/audio-separator/app.py
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
  services/server/src/main/resources/application.yml
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.88e834d
  index.yaml
  yay-tsa-0.4.3-main.46fa960.tgz
  yay-tsa-0.4.3-main.88e834d.tgz
Due: prettier

fix: Proper DB pool and async architecture replacing band-aid fixes
  apps/web/src/features/player/stores/player.store.ts
  services/server/src/main/java/com/yaytsa/server/config/AsyncConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalPersistenceService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
  services/server/src/main/resources/application.yml
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

fix: Replace unbounded maps/executors with Caffeine caches and bounded executors
  apps/web/src/features/player/stores/player.store.ts
  services/server/src/main/java/com/yaytsa/server/config/AsyncConfig.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.10a0f10
  index.yaml
  yay-tsa-0.4.3-main.10a0f10.tgz
  yay-tsa-0.4.3-main.88e834d.tgz
Due: prettier

fix: Restore applicationTaskExecutor bean displaced by AsyncConfig
  services/server/src/main/java/com/yaytsa/server/config/AsyncConfig.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.cfda9ed
  index.yaml
  yay-tsa-0.4.3-main.10a0f10.tgz
  yay-tsa-0.4.3-main.cfda9ed.tgz
Due: prettier

fix: Reduce cognitive complexity to pass SonarQube quality gate
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/tests/e2e/monkey.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming
