Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.4.3-main.aee6f48
  index.yaml
  yay-tsa-0.4.3-main.074aa38.tgz
  yay-tsa-0.4.3-main.aee6f48.tgz
Due: prettier

fix: Add ML fallback logging, parseEmbedding safety, remove long txn
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Restore readOnly tx on getSeeds, REQUIRES_NEW on recomputeAndCache
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.843feea
  index.yaml
  yay-tsa-0.4.3-main.843feea.tgz
  yay-tsa-0.4.3-main.aee6f48.tgz
Due: prettier

fix: Use @Transactional on getSeeds to fix lazy loading + self-invoke
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.c977a94
  index.yaml
  yay-tsa-0.4.3-main.843feea.tgz
  yay-tsa-0.4.3-main.c977a94.tgz
Due: prettier

fix: Play seed track first in radio, fallback to discogs similarity
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioAnchorResolver.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.82392dd
  index.yaml
  yay-tsa-0.4.3-main.82392dd.tgz
  yay-tsa-0.4.3-main.c977a94.tgz
Due: prettier

feat: Add background karaoke stem pre-processing with priority queue
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeBackfillService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.4132e1e
  index.yaml
  yay-tsa-0.4.3-main.4132e1e.tgz
  yay-tsa-0.4.3-main.82392dd.tgz
Due: prettier

fix: Align discogs similarity SQL columns with mapper, validate embedding dimensions
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.62da224
  index.yaml
  yay-tsa-0.4.3-main.4132e1e.tgz
  yay-tsa-0.4.3-main.62da224.tgz
Due: prettier

fix: Retry all exceptions in embedding client, add Accept header
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/EmbeddingExtractionClient.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.fc454d5
  index.yaml
  yay-tsa-0.4.3-main.62da224.tgz
  yay-tsa-0.4.3-main.fc454d5.tgz
Due: prettier

Release yay-tsa-0.4.3-main.fa3dae4
  index.yaml
  yay-tsa-0.4.3-main.ef5cabd.tgz
  yay-tsa-0.4.3-main.fa3dae4.tgz
Due: prettier

fix(ci): Fix Android TWA build, add CI APK pipeline, serve APK via frontend
  .github/workflows/ci.yml
  .gitignore
  apps/android-twa/app/build.gradle
  apps/android-twa/app/proguard-rules.pro
  apps/android-twa/app/src/main/AndroidManifest.xml
  apps/android-twa/app/src/main/res/raw/web_app_manifest.json
  apps/android-twa/build.exp
  apps/android-twa/build.gradle
  apps/android-twa/twa-manifest.json
  apps/web/docker/entrypoint.sh
  apps/web/public/.well-known/assetlinks.json
  apps/web/public/downloads/.gitkeep
  apps/web/public/manifest.webmanifest
  apps/web/src/pages/SettingsPage.tsx
  charts/yay-tsa/templates/configmap.yaml
  charts/yay-tsa/values.yaml
  infra/nginx/nginx.conf.template
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.bdcb985
  index.yaml
  yay-tsa-0.4.3-main.bdcb985.tgz
  yay-tsa-0.4.3-main.eff975d.tgz
Due: prettier

fix(ci): Format android-twa generated files for pre-commit
  apps/android-twa/app/src/main/java/com/yaytsa/app/Application.java
  apps/android-twa/app/src/main/java/com/yaytsa/app/DelegationService.java
  apps/android-twa/app/src/main/java/com/yaytsa/app/LauncherActivity.java
  apps/android-twa/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/android-twa/app/src/main/res/values/strings.xml
  apps/android-twa/gradlew
  apps/android-twa/gradlew.bat
  apps/android-twa/manifest-checksum.txt
Due: none

Release yay-tsa-0.4.3-main.c2888d1
  index.yaml
  yay-tsa-0.4.3-main.bdcb985.tgz
  yay-tsa-0.4.3-main.c2888d1.tgz
Due: prettier

fix: Radio seeds from play history, MMR diversity reranking, anchor weight floor
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioAnchorResolver.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/TrackFeaturesNativeQueryTest.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.cb4913c
  index.yaml
  yay-tsa-0.4.3-main.c2888d1.tgz
  yay-tsa-0.4.3-main.cb4913c.tgz
Due: prettier

fix: CLAP mean pooling over sequence dim, increase embedding timeout to 900s
  services/audio-separator/extractor/embedding_extractor.py
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/EmbeddingExtractionClient.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.a237fb3
  index.yaml
  yay-tsa-0.4.3-main.a237fb3.tgz
  yay-tsa-0.4.3-main.cb4913c.tgz
Due: prettier

fix: Use pooler_output for CLAP embeddings (BaseModelOutputWithPooling)
  services/audio-separator/extractor/embedding_extractor.py
Due: none

Release yay-tsa-0.4.3-main.de083d8
  index.yaml
  yay-tsa-0.4.3-main.a237fb3.tgz
  yay-tsa-0.4.3-main.de083d8.tgz
Due: prettier

feat: Genre-aware recommendations, avoidGenres wiring, LLM cooldown cache
  services/server/src/main/java/com/yaytsa/server/controller/RecommendationController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmSessionParamService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TasteProfileService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ListeningSessionEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/GenreRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackSignalRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
  services/server/src/main/resources/db/migration/V28__session_seed_genres.sql
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.89ef14a
  index.yaml
  yay-tsa-0.4.3-main.89ef14a.tgz
  yay-tsa-0.4.3-main.de083d8.tgz
Due: prettier

fix: DJ session expiration handling, race guards, queue dedup, stale cleanup
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/hooks/useDjAutoRefill.ts
  apps/web/src/features/player/hooks/useSignalEmitter.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/shared/utils/time.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ListeningSessionRepository.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.e7ae618
  index.yaml
  yay-tsa-0.4.3-main.89ef14a.tgz
  yay-tsa-0.4.3-main.e7ae618.tgz
Due: prettier

feat: Dynamic DJ queue size and positional track insertion
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmSessionParamService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AdaptiveQueueRepository.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.03246bf
  index.yaml
  yay-tsa-0.4.3-main.03246bf.tgz
  yay-tsa-0.4.3-main.e7ae618.tgz
Due: prettier

fix: Cap DJ queue at 100 tracks on frontend
  apps/web/src/features/player/stores/session-store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.9eb5591
  index.yaml
  yay-tsa-0.4.3-main.03246bf.tgz
  yay-tsa-0.4.3-main.9eb5591.tgz
Due: prettier

fix: Show all radio seeds, no artificial limits
  apps/web/src/features/radio/hooks/useRadioSeeds.ts
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.109e2c9
  index.yaml
  yay-tsa-0.4.3-main.109e2c9.tgz
  yay-tsa-0.4.3-main.9eb5591.tgz
Due: prettier

fix(web): Handle Android back gesture and fix pointer events in mobile full player
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat(android): replace TWA with native WebView wrapper (#164)
  apps/android-app/.gitignore
  apps/android-app/app/build.gradle.kts
  apps/android-app/app/src/main/AndroidManifest.xml
  apps/android-app/app/src/main/java/com/yaytsa/app/LoginActivity.kt
  apps/android-app/app/src/main/java/com/yaytsa/app/MediaPlaybackService.kt
  apps/android-app/app/src/main/java/com/yaytsa/app/WebViewActivity.kt
  apps/android-app/app/src/main/res/drawable/ic_forward_10.xml
  apps/android-app/app/src/main/res/drawable/ic_music_note.xml
  apps/android-app/app/src/main/res/drawable/ic_pause.xml
  apps/android-app/app/src/main/res/drawable/ic_play.xml
  apps/android-app/app/src/main/res/drawable/ic_replay_10.xml
  apps/android-app/app/src/main/res/drawable/ic_skip_next.xml
  apps/android-app/app/src/main/res/drawable/ic_skip_previous.xml
  apps/android-app/app/src/main/res/layout/activity_login.xml
  apps/android-app/app/src/main/res/layout/activity_webview.xml
  apps/android-app/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  apps/android-app/app/src/main/res/mipmap-hdpi/ic_launcher.png
  apps/android-app/app/src/main/res/mipmap-hdpi/ic_maskable.png
  apps/android-app/app/src/main/res/mipmap-mdpi/ic_launcher.png
  apps/android-app/app/src/main/res/mipmap-mdpi/ic_maskable.png
  apps/android-app/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  apps/android-app/app/src/main/res/mipmap-xhdpi/ic_maskable.png
  apps/android-app/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  apps/android-app/app/src/main/res/mipmap-xxhdpi/ic_maskable.png
  apps/android-app/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  apps/android-app/app/src/main/res/mipmap-xxxhdpi/ic_maskable.png
  apps/android-app/app/src/main/res/values/strings.xml
  apps/android-app/app/src/main/res/values/themes.xml
  apps/android-app/app/src/test/java/com/yaytsa/app/BuildCommandJsTest.kt
  apps/android-app/app/src/test/java/com/yaytsa/app/ResolveUrlTest.kt
  apps/android-app/app/src/test/java/com/yaytsa/app/UnescapeJsTest.kt
  apps/android-app/build.gradle.kts
  apps/android-app/gradle.properties
  apps/android-app/gradle/wrapper/gradle-wrapper.jar
  apps/android-app/gradle/wrapper/gradle-wrapper.properties
  apps/android-app/gradlew
  apps/android-app/gradlew.bat
  apps/android-app/pid.txt
  apps/android-app/settings.gradle.kts
  apps/web/public/manifest.webmanifest
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
