Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-v2-0.1.0-main.r0000000500-g8b83d06
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000500-g8b83d06.tgz
Due: prettier

fix(core): Scanner ICU-aware case-insensitive source_path lookup
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/scripts/normalize-source-paths.sql
Due: none

Release yay-tsa-0.5.1-main.r0000000501-g41e169a
  index.yaml
  yay-tsa-0.5.1-main.r0000000500-g8b83d06.tgz
  yay-tsa-0.5.1-main.r0000000501-g41e169a.tgz
  yay-tsa-v2-0.1.0-main.r0000000491-g6725651.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000501-g41e169a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000501-g41e169a.tgz
Due: prettier

feat(web): Restore Radio (DJ cluster seeds) on HomePage above Daily Mix
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  apps/web/src/features/radio/hooks/useRadioSeeds.ts
  apps/web/src/features/radio/index.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/shared/testing/test-ids.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000502-g8944421
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000492-g6225d5a.tgz
  yay-tsa-v2-0.1.0-main.r0000000502-g8944421.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000502-g8944421
  index.yaml
  yay-tsa-0.5.1-main.r0000000501-g41e169a.tgz
  yay-tsa-0.5.1-main.r0000000502-g8944421.tgz
  yay-tsa-v2-0.1.0-main.r0000000493-g3ae6601.tgz
Due: prettier

fix(core): /Items personalized + /v1/recommend/radio/seeds use ML affinities
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000503-g9a034cb
  index.yaml
  yay-tsa-0.5.1-main.r0000000502-g8944421.tgz
  yay-tsa-0.5.1-main.r0000000503-g9a034cb.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000503-g9a034cb
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000503-g9a034cb.tgz
Due: prettier

fix(core): Random fallback for users with no ML affinities/favorites
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000504-ge86104d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000494-ga7b3a20.tgz
  yay-tsa-v2-0.1.0-main.r0000000504-ge86104d.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000504-ge86104d
  index.yaml
  yay-tsa-0.5.1-main.r0000000503-g9a034cb.tgz
  yay-tsa-0.5.1-main.r0000000504-ge86104d.tgz
  yay-tsa-v2-0.1.0-main.r0000000495-gb3b025b.tgz
Due: prettier

feat(helm): Expose ML/LLM/Karaoke/MPD enable flags + LLM apiKey secret ref
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
Due: none

Release yay-tsa-0.5.1-main.r0000000505-g1e1df2f
  index.yaml
  yay-tsa-0.5.1-main.r0000000504-ge86104d.tgz
  yay-tsa-0.5.1-main.r0000000505-g1e1df2f.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000505-g1e1df2f
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000505-g1e1df2f.tgz
Due: prettier

feat(core): Lyrics from .lyrics/*.lrc sidecar files (LRC parser)
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinLyricsController.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000506-g0ba4b9b
  index.yaml
  yay-tsa-0.5.1-main.r0000000505-g1e1df2f.tgz
  yay-tsa-0.5.1-main.r0000000506-g0ba4b9b.tgz
  yay-tsa-v2-0.1.0-main.r0000000496-ge64c7bc.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000506-g0ba4b9b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000506-g0ba4b9b.tgz
Due: prettier

docs(config): QA.md - feature-validation gotchas (UID readonly, livez path)
  QA.md
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000507-g9e3ef3c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000497-g4da85ca.tgz
  yay-tsa-v2-0.1.0-main.r0000000507-g9e3ef3c.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000507-g9e3ef3c
  index.yaml
  yay-tsa-0.5.1-main.r0000000506-g0ba4b9b.tgz
  yay-tsa-0.5.1-main.r0000000507-g9e3ef3c.tgz
  yay-tsa-v2-0.1.0-main.r0000000498-g0159395.tgz
Due: prettier

feat(helm): Mount /mnt/t7-stems → /app/stems in backend (RO)
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
Due: none

Release yay-tsa-0.5.1-main.r0000000508-g5acad9f
  index.yaml
  yay-tsa-0.5.1-main.r0000000507-g9e3ef3c.tgz
  yay-tsa-0.5.1-main.r0000000508-g5acad9f.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000508-g5acad9f
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000508-g5acad9f.tgz
Due: prettier

fix(core): Karaoke stream HttpServletResponse, gate processor, null moodTags
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
  yay-tsa-v2/infra-persistence/adaptive/src/main/kotlin/dev/yaytsa/persistence/adaptive/mapper/AdaptiveMappers.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000509-g9fc3238
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000499-g6210513.tgz
  yay-tsa-v2-0.1.0-main.r0000000509-g9fc3238.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000509-g9fc3238
  index.yaml
  yay-tsa-0.5.1-main.r0000000508-g5acad9f.tgz
  yay-tsa-0.5.1-main.r0000000509-g9fc3238.tgz
  yay-tsa-v2-0.1.0-main.r0000000500-g8b83d06.tgz
Due: prettier

ci(core): Spotless cleanup unused imports in KaraokeController
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000510-g4f581c8
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000510-g4f581c8.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000510-g4f581c8
  index.yaml
  yay-tsa-0.5.1-main.r0000000509-g9fc3238.tgz
  yay-tsa-0.5.1-main.r0000000510-g4f581c8.tgz
  yay-tsa-v2-0.1.0-main.r0000000501-g41e169a.tgz
Due: prettier

fix(core): Lyrics endpoint returns raw LRC string (PWA contract)
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinLyricsController.kt
Due: none

fix(core): Scanner force-syncs track name from ID3 on every scan (fixes #213)
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
Due: none

fix(core): Radio bootstrap queue + LLM-DJ stale-version (#214)
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
Due: none

fix(core): Adaptive controller passes current OCC version (signals were silently dropped)
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
Due: none

fix(core): Scanner falls back to filename when ID3 disagrees (#213)
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
Due: none

fix(core): Accept api_key query token + filter LLM non-UUID suggestions
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/ApiTokenAuthFilter.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
Due: none

fix(core): LLM orchestrator writes audit trail to llm_decisions (#212)
  yay-tsa-v2/infra-llm/build.gradle.kts
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
Due: none

fix(core): Preferences PUT normalises JSON objects and redLines list
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
Due: none

fix(core): /v1/sessions/active tolerates duplicate ACTIVE rows
  yay-tsa-v2/infra-persistence/adaptive/src/main/kotlin/dev/yaytsa/persistence/adaptive/adapter/JpaAdaptiveQueryPort.kt
  yay-tsa-v2/infra-persistence/adaptive/src/main/kotlin/dev/yaytsa/persistence/adaptive/adapter/JpaAdaptiveSessionRepository.kt
  yay-tsa-v2/infra-persistence/adaptive/src/main/kotlin/dev/yaytsa/persistence/adaptive/jpa/ListeningSessionJpaRepository.kt
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
