Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

test(offline): drive offline e2e via non-virtualised lists
  apps/web/tests/e2e/offline.mocked.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.5.1-main.r0000000622-g43ff48a
  index.yaml
  yay-tsa-0.5.1-main.r0000000621-g2a18326.tgz
  yay-tsa-0.5.1-main.r0000000622-g43ff48a.tgz
  yay-tsa-v2-0.1.0-main.r0000000612-g360275b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000622-g43ff48a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000622-g43ff48a.tgz
Due: prettier

test(offline): defer offline e2e to a browser-validated run (test.fixme)
  apps/web/tests/e2e/offline.mocked.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.5.1-main.r0000000623-g9961e41
  index.yaml
  yay-tsa-0.5.1-main.r0000000622-g43ff48a.tgz
  yay-tsa-0.5.1-main.r0000000623-g9961e41.tgz
  yay-tsa-v2-0.1.0-main.r0000000613-gb39ff84.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000623-g9961e41
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000623-g9961e41.tgz
Due: prettier

feat(web): Auto-download favorites and cache played tracks
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/offline/components/DownloadTracksButton.tsx
  apps/web/src/features/offline/components/OfflineManager.tsx
  apps/web/src/features/offline/stores/cache-eviction.test.ts
  apps/web/src/features/offline/stores/cache-eviction.ts
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/tests/e2e/offline.mocked.spec.ts
  packages/platform/src/index.ts
  packages/platform/src/web/offline-store.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000624-g371414e
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000614-g78e8783.tgz
  yay-tsa-v2-0.1.0-main.r0000000624-g371414e.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000624-g371414e
  index.yaml
  yay-tsa-0.5.1-main.r0000000623-g9961e41.tgz
  yay-tsa-0.5.1-main.r0000000624-g371414e.tgz
  yay-tsa-v2-0.1.0-main.r0000000615-g6d40280.tgz
Due: prettier

fix(web): Zero-downtime frontend rollout and graceful audiobooks 404
  charts/yay-tsa/templates/deployment.yaml
  packages/core/src/api/audiobooks.service.ts
Due: prettier, eslint, docker-build, jscpd

fix(web): Address SonarCloud new-code reliability and style findings
  apps/web/src/features/offline/stores/outbox.test.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AudiobooksPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(web): Serve offline audio via service worker to satisfy media-src CSP
  apps/web/public/audio-offline-sw.js
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/vite.config.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

feat(core): Durable cross-protocol audiobook resume and tab
  apps/web/src/app/App.tsx
  apps/web/src/features/audiobooks/hooks/useAudiobooks.ts
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/features/player/components/PlaybackControls.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AudiobooksPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
  apps/web/tests/e2e/audiobooks.spec.ts
  packages/core/src/api/audiobooks.service.ts
  packages/core/src/index.ts
  packages/core/src/player/audiobook.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/YaytsaAudiobooksController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/CoreBeansConfiguration.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ResumeHttpIntegrationTest.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/ResumePosition.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/ResumePositionService.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/port/ResumePositionRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/adapter/JpaResumePositionRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/entity/ResumePositionEntity.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/ResumePositionJpaRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/resources/db/playback/V003__resume_position.sql
  yay-tsa-v2/infra-persistence/playback/src/test/kotlin/dev/yaytsa/persistence/playback/ResumePositionServiceTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

style(core): Apply ktlint import ordering to audiobook files
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/YaytsaAudiobooksController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ResumeHttpIntegrationTest.kt
  yay-tsa-v2/infra-persistence/playback/src/test/kotlin/dev/yaytsa/persistence/playback/ResumePositionServiceTest.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000625-gdb9b6aa
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000625-gdb9b6aa.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000625-gdb9b6aa
  index.yaml
  yay-tsa-0.5.1-main.r0000000624-g371414e.tgz
  yay-tsa-0.5.1-main.r0000000625-gdb9b6aa.tgz
  yay-tsa-v2-0.1.0-main.r0000000616-g27526c7.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000626-gbd6d0e4
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000626-gbd6d0e4.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000626-gbd6d0e4
  index.yaml
  yay-tsa-0.5.1-main.r0000000625-gdb9b6aa.tgz
  yay-tsa-0.5.1-main.r0000000626-gbd6d0e4.tgz
  yay-tsa-v2-0.1.0-main.r0000000617-gc32749f.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000627-gd76863a
  index.yaml
  yay-tsa-0.5.1-main.r0000000626-gbd6d0e4.tgz
  yay-tsa-0.5.1-main.r0000000627-gd76863a.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000627-gd76863a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000627-gd76863a.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000628-gd1e66e0
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000618-g6a088fa.tgz
  yay-tsa-v2-0.1.0-main.r0000000628-gd1e66e0.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000628-gd1e66e0
  index.yaml
  yay-tsa-0.5.1-main.r0000000627-gd76863a.tgz
  yay-tsa-0.5.1-main.r0000000628-gd1e66e0.tgz
  yay-tsa-v2-0.1.0-main.r0000000619-g999fb55.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000629-g53cd771
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000629-g53cd771.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000629-g53cd771
  index.yaml
  yay-tsa-0.5.1-main.r0000000628-gd1e66e0.tgz
  yay-tsa-0.5.1-main.r0000000629-g53cd771.tgz
  yay-tsa-v2-0.1.0-main.r0000000620-gbd0610c.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000630-gcfeea80
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000630-gcfeea80.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000630-gcfeea80
  index.yaml
  yay-tsa-0.5.1-main.r0000000629-g53cd771.tgz
  yay-tsa-0.5.1-main.r0000000630-gcfeea80.tgz
  yay-tsa-v2-0.1.0-main.r0000000621-g2a18326.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000631-g475c346
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000631-g475c346.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000631-g475c346
  index.yaml
  yay-tsa-0.5.1-main.r0000000630-gcfeea80.tgz
  yay-tsa-0.5.1-main.r0000000631-g475c346.tgz
  yay-tsa-v2-0.1.0-main.r0000000622-g43ff48a.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000632-ga88a497
  index.yaml
  yay-tsa-0.5.1-main.r0000000631-g475c346.tgz
  yay-tsa-0.5.1-main.r0000000632-ga88a497.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000632-ga88a497
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000632-ga88a497.tgz
Due: prettier

test(web): Exercise offline audio via service worker, not stale blob: URL
  apps/web/tests/e2e/offline.mocked.spec.ts
Due: prettier, jscpd

feat(core): List full audiobook catalog including never-played books
  apps/web/src/features/audiobooks/hooks/useAudiobooks.ts
  apps/web/src/pages/AudiobooksPage.tsx
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/YaytsaAudiobooksController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ResumeHttpIntegrationTest.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/EntityGenreRepository.kt
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat(web): Group audiobook chapters into book cards on Audiobooks tab
  apps/web/src/features/audiobooks/hooks/useAudiobooks.ts
  apps/web/src/pages/AudiobooksPage.tsx
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat(web): Persist audiobook resume locally, fix seek, list chapters
  apps/web/src/features/audiobooks/hooks/useAudiobooks.ts
  apps/web/src/features/audiobooks/stores/local-resume.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AudiobooksPage.tsx
  packages/core/src/api/api.client.ts
  packages/core/src/internal/models/types.ts
  packages/core/src/player/playback-state.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/JellyfinDtos.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/TrackProjection.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ResumeHttpIntegrationTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000633-gd4212c2
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000623-g9961e41.tgz
  yay-tsa-v2-0.1.0-main.r0000000633-gd4212c2.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000633-gd4212c2
  index.yaml
  yay-tsa-0.5.1-main.r0000000632-ga88a497.tgz
  yay-tsa-0.5.1-main.r0000000633-gd4212c2.tgz
  yay-tsa-v2-0.1.0-main.r0000000624-g371414e.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000634-ga436d3d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000634-ga436d3d.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000634-ga436d3d
  index.yaml
  yay-tsa-0.5.1-main.r0000000633-gd4212c2.tgz
  yay-tsa-0.5.1-main.r0000000634-ga436d3d.tgz
  yay-tsa-v2-0.1.0-main.r0000000625-gdb9b6aa.tgz
Due: prettier

fix(deps): Pin jscpd to 4.x to restore threshold-gated dup check
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

fix(core): Add EventName to Kotlin PlaybackStartInfo DTO
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
Due: none
