Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

docs: QA pass — MusicSurfaceFilter filler lesson, autoqa#44 gate gap
  QA.md
Due: prettier

fix: Release CPU/CUDA memory after each separation to stop 6Gi OOM creep
  services/audio-ml/app.py
Due: none

fix(platform): Avoid constructor parameter property in client-telemetry
  packages/platform/src/web/client-telemetry.ts
Due: prettier, eslint, docker-build, jscpd

fix: Play-source attribution end-to-end, MCP audit P1/P2 fixes
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/library/components/ExploreNew.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/AudiobooksPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/OfflineLibraryPage.tsx
  apps/web/src/pages/PlaylistDetailPage.tsx
  apps/web/src/pages/SearchPage.tsx
  packages/core/src/internal/models/types.ts
  packages/core/src/player/playback-state.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-mcp/detekt-baseline.xml
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpListeningTools.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpPlaylistTools.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlayHistoryDedupIntegrationTest.kt
  yay-tsa-v2/core-application/recommendation/src/main/kotlin/dev/yaytsa/application/recommendation/SemanticTrackSearchService.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

fix: Don't burn karaoke retry budget on separator outage, abort batch
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
  yay-tsa-v2/infra-karaoke-worker/src/test/kotlin/dev/yaytsa/worker/karaoke/KaraokeAudiobookCleanupTest.kt
Due: none

test: Scrobble source assertions follow the protocol-fallback contract
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ScrobbleIntegrationTest.kt
Due: none

style: Shorten scrobble assertion message under detekt line limit
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ScrobbleIntegrationTest.kt
Due: none

fix: QA pass — filter CD-filler from random fills, Sonar supply-chain wave
  .github/workflows/chart-acceptance.yml
  .github/workflows/ci.yml
  QA.md
  yay-tsa-v2/core-application/library/build.gradle.kts
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/test/kotlin/dev/yaytsa/application/library/LibraryQueriesRandomTest.kt
Due: prettier

fix: Exclude sub-15s filler tracks in MusicSurfaceFilter (similarity leg)
  yay-tsa-v2/core-application/recommendation/build.gradle.kts
  yay-tsa-v2/core-application/recommendation/src/main/kotlin/dev/yaytsa/application/recommendation/MusicSurfaceFilter.kt
  yay-tsa-v2/core-application/recommendation/src/test/kotlin/dev/yaytsa/application/recommendation/MusicSurfaceFilterTest.kt
Due: none

fix(ios): Sonar pass — keychain accessibility, curl https pin, CI compile gate
  .github/workflows/ios-ci.yml
  CLAUDE.md
  apps/ios/Sources/Features/GroupListen/GroupSyncViewModel.swift
  apps/ios/Sources/Features/Player/PlayerViewModel.swift
  apps/ios/Sources/Features/Settings/ChangePasswordView.swift
  apps/ios/Sources/Models/LrcParser.swift
  apps/ios/Sources/Networking/APIClient.swift
  apps/ios/Sources/Networking/KeychainStore.swift
  apps/ios/UITests/YayTsaUITests.swift
  apps/ios/setup-mac.sh
  yay-tsa-v2/infra-karaoke-worker/src/test/kotlin/dev/yaytsa/worker/karaoke/KaraokeAudiobookCleanupTest.kt
Due: prettier

refactor: Sonar pass, leverage log — sidecar extract, fun interface, literals
  LEVERAGE.md
  yay-tsa-v2/core-application/karaoke/src/main/kotlin/dev/yaytsa/application/karaoke/port/KaraokeOnDemandPort.kt
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
  yay-tsa-v2/infra-karaoke-worker/src/test/kotlin/dev/yaytsa/worker/karaoke/KaraokeAudiobookCleanupTest.kt
Due: prettier

docs: Sweep QA.md to durable topic lessons, drop diary and secrets
  QA.md
Due: prettier

fix(web): Silent PWA auto-update at playback-idle, drop dead update prompt
  QA.md
  apps/web/src/main.tsx
  apps/web/src/shared/components/UpdatePrompt.tsx
  apps/web/vite.config.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(platform): Drop third-party client-telemetry noise
  packages/platform/src/web/client-telemetry.test.ts
  packages/platform/src/web/client-telemetry.ts
Due: prettier, eslint, docker-build, jscpd

fix: Dedup play-history on started_at, track stats, dj_style bound
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpListeningTools.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/CoreBeansConfiguration.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/McpListeningToolsIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlayHistoryDedupIntegrationTest.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/ListeningStatsService.kt
  yay-tsa-v2/core-domain/preferences/src/main/kotlin/dev/yaytsa/domain/preferences/PreferencesHandler.kt
  yay-tsa-v2/core-domain/preferences/src/test/kotlin/dev/yaytsa/domain/preferences/PreferencesHandlerTest.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/adapter/JpaPlayHistoryWritePort.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/PlayHistoryJpaRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/resources/db/playback/V007__play_history_started_at_dedup_index.sql
  yay-tsa-v2/infra-persistence/preferences/src/main/resources/db/preferences/V003__preference_contract_text_columns.sql
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
