Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix: Declare id-list pattern on Ids query params for schemathesis
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConfig.kt
Due: none

fix: Remove dead album/artist favorite hearts (backend is per-track only)
  apps/web/src/features/library/components/FavoriteButton.test.tsx
  apps/web/src/features/library/components/FavoriteButton.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/shared/testing/test-ids.ts
  apps/web/tests/e2e/favorites.spec.ts
  apps/web/tests/e2e/helpers/test-ids.ts
  apps/web/tests/e2e/page-objects/AlbumPage.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Import expect in auth fixture, match renamed Songs tab in e2e
  apps/web/tests/e2e/favorites.spec.ts
  apps/web/tests/e2e/fixtures/auth.fixture.ts
Due: prettier, jscpd

fix: Declare real request domains in OpenAPI, type the signals body (Fixes #287)
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConformanceConfig.kt
Due: none

docs: QA pass 2026-07-14 (2) — preemption triage, autoqa pin note
  QA.md
Due: prettier

fix: Rate-limit OAuth authorize, bind MPD to loopback by default
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/values.yaml
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdTcpServer.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/AuthRateLimitFilter.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/SecurityConfig.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AuthRateLimitIntegrationTest.kt
Due: prettier

refactor: Single MediaPathSafety + failure translator, drop dead chain
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDevicesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinMediaController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/HttpFailureTranslator.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/MediaPathSafety.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
  yay-tsa-v2/infra-media/build.gradle.kts
  yay-tsa-v2/infra-media/src/main/kotlin/dev/yaytsa/inframedia/MediaPathSafety.kt
  yay-tsa-v2/infra-media/src/main/kotlin/dev/yaytsa/inframedia/MediaStreamController.kt
Due: none

refactor: Move reflect policy into domain, govern recommendation deps
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/archunit/ArchitectureTest.kt
  yay-tsa-v2/core-domain/auth/src/main/kotlin/dev/yaytsa/domain/auth/AuthHandler.kt
  yay-tsa-v2/core-domain/auth/src/main/kotlin/dev/yaytsa/domain/auth/Commands.kt
  yay-tsa-v2/core-domain/playback/src/main/kotlin/dev/yaytsa/domain/playback/PlaybackSessionAggregate.kt
  yay-tsa-v2/core-domain/playlists/src/main/kotlin/dev/yaytsa/domain/playlists/Commands.kt
  yay-tsa-v2/core-domain/playlists/src/main/kotlin/dev/yaytsa/domain/playlists/PlaylistHandler.kt
  yay-tsa-v2/core-testkit/src/test/kotlin/dev/yaytsa/testkit/CapabilitiesCompletenessTest.kt
Due: none

refactor: Inject Clock port into SubsonicAuthFilter token expiry
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicAuthFilter.kt
Due: none

refactor: Split Subsonic god-controller into 9 focused controllers
  yay-tsa-v2/adapter-opensubsonic/detekt-baseline.xml
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicAlbumListsController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicAnnotationController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicBrowsingController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicEndpointSupport.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicErrorHandling.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicPlayQueueController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicPlaylistsController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicSearchController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicSongListsController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicSystemController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicUserController.kt
Due: none

test: Cover outbox delivery, HTTP OCC 409, device lease, ML-only adaptive
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AdaptiveQueueMlOnlyIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/OutboxDeliveryIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaybackLeaseIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaybackOccConflictIntegrationTest.kt
Due: none

fix: Scrub nginx query logs, harden postgres chart, lock ML deps
  .github/workflows/chart-acceptance.yml
  charts/postgres-pgvector/templates/statefulset.yaml
  charts/postgres-pgvector/values.yaml
  infra/nginx/nginx.conf.template
  services/audio-ml/Dockerfile
  services/audio-ml/requirements/cpu.lock.txt
  services/audio-ml/requirements/essentia-base.lock.txt
  services/audio-ml/requirements/gpu.lock.txt
Due: prettier, docker-build

fix: QA pass — bound playlist text to 255, a11y landmarks/h1 on load+error states
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/RootLayout.tsx
  tools/post-deploy-qa.sh
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaylistsIntegrationTest.kt
  yay-tsa-v2/core-domain/playlists/src/main/kotlin/dev/yaytsa/domain/playlists/PlaylistHandler.kt
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

refactor: Dedup Subsonic star/unstar validation, hoist literal to const
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicAnnotationController.kt
Due: none

docs: QA pass — schemathesis 429 class, a11y load-state, spec path
  QA.md
Due: prettier

refactor: Fold Subsonic album-list params into @ModelAttribute DTO
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicAlbumListsController.kt
Due: none

docs: Testing policy exception, outbox delivers via SSE not WS
  CLAUDE.md
  yay-tsa-v2/CLAUDE.md
Due: prettier

fix: Adopt durationchange so FLAC duration corrects after canplay
  packages/platform/src/web/html5-audio.ts
Due: prettier, eslint, docker-build, jscpd

refactor: Redact parity, runtime providers, drift math to core
  .pre-commit-config.yaml
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/group-sync-store.ts
  apps/web/src/features/player/stores/playback-controller.ts
  apps/web/src/features/player/stores/playback-report-tracker.ts
  apps/web/src/features/player/stores/player-errors.ts
  apps/web/src/features/player/stores/player-persistence.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/main.tsx
  apps/web/src/pages/LoginPage.tsx
  packages/core/src/index.ts
  packages/core/src/internal/config/env.ts
  packages/core/src/internal/config/runtime-providers.ts
  packages/core/src/internal/utils/logger.ts
  packages/core/src/internal/utils/redact.ts
  packages/core/src/player/audiobook.ts
  packages/core/src/player/normalization.ts
  packages/core/src/sync/drift-correction.ts
  packages/core/src/sync/server-clock.ts
  packages/platform/src/index.ts
  packages/platform/src/web/browser-runtime-providers.ts
  packages/platform/src/web/html5-audio.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

fix: Unique PWA id + icon names so iOS stops conflating installed apps
  CLAUDE.md
  apps/web/index.html
  apps/web/public/icons/yaytsa-apple-touch-icon.png
  apps/web/public/icons/yaytsa-icon-192.png
  apps/web/public/icons/yaytsa-icon-512-maskable.png
  apps/web/public/icons/yaytsa-icon-512.png
  apps/web/public/manifest.webmanifest
Due: prettier

refactor: Reuse shared Modal for AddUser dialog, drop hand-rolled overlay
  apps/web/src/features/auth/components/UsersPanel.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat: Show desktop lyrics in a closeable Modal panel, not fullscreen
  apps/web/src/features/player/components/LyricsView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Serve no-store 404 for missing immutable assets (CDN deploy race)
  infra/nginx/nginx.conf.template
Due: docker-build

fix: Escape closes any Modal; stop phantom 404 for coverless audiobooks
  apps/web/src/features/audiobooks/hooks/useAudiobooks.ts
  apps/web/src/shared/ui/Modal.test.tsx
  apps/web/src/shared/ui/Modal.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

docs: QA pass — Minio autoqa logs, Artists rollout-timeout, Modal/audiobook fixes
  QA.md
Due: prettier

fix: Stagger preload and listening-cache off track start to stop stutter
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/preload-manager.test.ts
  apps/web/src/features/player/stores/preload-manager.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

docs: add UX audit findings log (review-ux @ 8008dee1)
  UX.md
Due: prettier

fix: QA pass — playlist BOLA write, bundle budget, a11y/Sonar cleanup
  apps/web/src/app/infra/ErrorBoundary.tsx
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/SleepTimerModal.tsx
  apps/web/src/features/playlists/components/AddToPlaylistModal.tsx
  apps/web/src/features/playlists/components/CreatePlaylistModal.tsx
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/OfflineLibraryPage.tsx
  apps/web/src/pages/PlaylistDetailPage.tsx
  apps/web/src/pages/SearchPage.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/ui/InfiniteScrollFooter.tsx
  apps/web/src/shared/ui/LoadingSpinner.tsx
  apps/web/src/shared/ui/Toast.tsx
  packages/core/src/api/items.service.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaylistsIntegrationTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

docs: QA pass — pin-staleness detector, BOLA grep, warm-up timeouts
  QA.md
Due: prettier

fix: Swallow client-abort IOException in stream flush, don't log as 500
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
Due: none

docs: QA pass — client-abort IOException swallow
  QA.md
Due: prettier

fix: Hoist client-abort message list to satisfy detekt ComplexCondition
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
Due: none

chore(config): Semgrep org rename and drop dead treemapper dockerignore lines
  .dockerignore
  .pre-commit-config.yaml
Due: prettier

chore(helm): Drop deprecated kubernetes.io/ingress.class annotation from v2 ingresses
  charts/yay-tsa-v2/templates/ingress-oauth.yaml
  charts/yay-tsa-v2/templates/ingress-subsonic.yaml
  charts/yay-tsa-v2/templates/ingress-wellknown.yaml
  charts/yay-tsa-v2/templates/ingress.yaml
Due: none

refactor(core): Centralize audiobook-genre EXISTS subquery into shared const fragments
  yay-tsa-v2/core-domain/shared/src/main/kotlin/dev/yaytsa/shared/AudiobookGenres.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
  yay-tsa-v2/infra-persistence/karaoke/src/main/kotlin/dev/yaytsa/persistence/karaoke/jpa/KaraokeAssetJpaRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/jpa/TrackFeaturesJpaRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/PlayHistoryJpaRepository.kt
Due: none

chore(ios): Apply pre-commit formatting to asset JSONs and project.yml
  apps/ios/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  apps/ios/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/ios/Resources/Assets.xcassets/Contents.json
  apps/ios/project.yml
Due: prettier

fix(ios): Strip personal sync infra, refresh stale docs
  QA.md
  apps/ios/.claude/settings.json
  apps/ios/CLAUDE.md
  apps/ios/README.md
  apps/ios/SYNC.md
  apps/ios/scripts/sync-pull.sh
  apps/ios/scripts/sync-push.sh
  commitlint.config.js
Due: prettier, jscpd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
