Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-v2-0.1.0-main.r0000000715-g4b88857
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000715-g4b88857.tgz
Due: prettier

docs: QA learning — radio flow #7 seed_track_id field-name false-positive
  QA.md
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000716-g9544821
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000642-g1007f22.tgz
  yay-tsa-v2-0.1.0-main.r0000000716-g9544821.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000716-g9544821
  index.yaml
  yay-tsa-0.5.1-main.r0000000715-g4b88857.tgz
  yay-tsa-0.5.1-main.r0000000716-g9544821.tgz
  yay-tsa-v2-0.1.0-main.r0000000643-g4b3d157.tgz
Due: prettier

fix(core): De-flake album N+1 query-count test via min-over-samples
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsPaginationIntegrationTest.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000717-g5069b79
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000717-g5069b79.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000717-g5069b79
  index.yaml
  yay-tsa-0.5.1-main.r0000000716-g9544821.tgz
  yay-tsa-0.5.1-main.r0000000717-g5069b79.tgz
  yay-tsa-v2-0.1.0-main.r0000000644-gecbdd5d.tgz
Due: prettier

ci: Bump autoqa to 24a0303 (v1.2.0), drop duplicate ZAP HIGH gate
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000718-g992df17
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000718-g992df17.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000718-g992df17
  index.yaml
  yay-tsa-0.5.1-main.r0000000717-g5069b79.tgz
  yay-tsa-0.5.1-main.r0000000718-g992df17.tgz
  yay-tsa-v2-0.1.0-main.r0000000645-ge746c0c.tgz
Due: prettier

feat(core): Add MCP preference, queue, and adaptive tools
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpProtocolCapabilities.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AuthorizationBoundariesIntegrationTest.kt
Due: none

feat(core): Bridge playback notifications to device SSE for live now-playing
  packages/core/src/api/device.service.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/DeviceEventBroadcaster.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/DeviceNowPlayingResolver.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDevicesController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/devices/DeviceSseNotificationBridge.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/DeviceNowPlayingIntegrationTest.kt
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/OutboxEntryProcessor.kt
Due: prettier, eslint, docker-build, jscpd

feat(web): Add karaoke vocals-stem toggle (instrumental <-> vocals)
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/api/api.client.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

docs: Product audit (PRODUCT.md) + correct stale offline/LLM docs
  CLAUDE.md
  PRODUCT.md
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000719-gda1d64f
  index.yaml
  yay-tsa-0.5.1-main.r0000000718-g992df17.tgz
  yay-tsa-0.5.1-main.r0000000719-gda1d64f.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000719-gda1d64f
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000719-gda1d64f.tgz
Due: prettier

fix(core): Correctness-audit fixes for new device/MCP/karaoke features
  CORRECTNESS.md
  apps/web/src/features/player/hooks/useDeviceEvents.ts
  apps/web/src/features/player/stores/player.store.ts
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/devices/DeviceSseNotificationBridge.kt
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/NotificationPublisher.kt
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/OutboxEntryProcessor.kt
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000720-g8522201
  index.yaml
  yay-tsa-0.5.1-main.r0000000719-gda1d64f.tgz
  yay-tsa-0.5.1-main.r0000000720-g8522201.tgz
  yay-tsa-v2-0.1.0-main.r0000000708-g3bde4f9.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000720-g8522201
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000720-g8522201.tgz
Due: prettier

chore(ci): Bump autoqa pin 24a0303 -> 4ea6a7c
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000721-gfbb7982
  index.yaml
  yay-tsa-0.5.1-main.r0000000720-g8522201.tgz
  yay-tsa-0.5.1-main.r0000000721-gfbb7982.tgz
  yay-tsa-v2-0.1.0-main.r0000000710-g048e779.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000721-gfbb7982
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000721-gfbb7982.tgz
Due: prettier

refactor(web): Extract KaraokeStemButton to cut PlayerBar complexity
  apps/web/src/features/player/components/KaraokeStemButton.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000722-gf512cd4
  index.yaml
  yay-tsa-0.5.1-main.r0000000721-gfbb7982.tgz
  yay-tsa-0.5.1-main.r0000000722-gf512cd4.tgz
  yay-tsa-v2-0.1.0-main.r0000000711-gcd6c667.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000722-gf512cd4
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000722-gf512cd4.tgz
Due: prettier

fix(core): Restore live device-card update on lease release; honest deviceId type
  CORRECTNESS.md
  apps/web/src/features/player/hooks/useDeviceEvents.ts
  packages/core/src/api/device.types.ts
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/devices/DeviceSseNotificationBridge.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-v2-0.1.0-main.r0000000723-g7e7681a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000713-gd40b869.tgz
  yay-tsa-v2-0.1.0-main.r0000000723-g7e7681a.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000723-g7e7681a
  index.yaml
  yay-tsa-0.5.1-main.r0000000722-gf512cd4.tgz
  yay-tsa-0.5.1-main.r0000000723-g7e7681a.tgz
  yay-tsa-v2-0.1.0-main.r0000000714-g9f6b042.tgz
Due: prettier

feat: Add sanitized client-side error telemetry to backend
  apps/web/src/app/infra/ErrorBoundary.tsx
  apps/web/src/app/infra/RouteTracker.tsx
  apps/web/src/app/infra/install-error-handlers.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/main.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/shared/utils/error-reporter.ts
  packages/platform/src/audio.interface.ts
  packages/platform/src/error-transport.interface.ts
  packages/platform/src/index.ts
  packages/platform/src/web/beacon-error-transport.ts
  packages/platform/src/web/html5-audio.ts
  yay-tsa-v2/adapter-jellyfin/build.gradle.kts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinClientErrorsController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/SecurityConfig.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ClientErrorsIntegrationTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000724-gda63f71
  index.yaml
  yay-tsa-0.5.1-main.r0000000723-g7e7681a.tgz
  yay-tsa-0.5.1-main.r0000000724-gda63f71.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000724-gda63f71
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000724-gda63f71.tgz
Due: prettier

fix: Harden client-error telemetry redaction and delivery
  apps/web/src/app/infra/RouteTracker.tsx
  apps/web/src/app/infra/install-error-handlers.ts
  apps/web/src/shared/utils/error-reporter.ts
  packages/platform/src/error-transport.interface.ts
  packages/platform/src/web/beacon-error-transport.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinClientErrorsController.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000725-gb2dcf33
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000715-g4b88857.tgz
  yay-tsa-v2-0.1.0-main.r0000000725-gb2dcf33.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000725-gb2dcf33
  index.yaml
  yay-tsa-0.5.1-main.r0000000724-gda63f71.tgz
  yay-tsa-0.5.1-main.r0000000725-gb2dcf33.tgz
  yay-tsa-v2-0.1.0-main.r0000000716-g9544821.tgz
Due: prettier

fix: Resolve SonarCloud code smells in telemetry reporter
  apps/web/src/app/infra/RouteTracker.tsx
  apps/web/src/app/infra/install-error-handlers.ts
  apps/web/src/shared/utils/error-reporter.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000726-g3ac56e2
  index.yaml
  yay-tsa-0.5.1-main.r0000000725-gb2dcf33.tgz
  yay-tsa-0.5.1-main.r0000000726-g3ac56e2.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000726-g3ac56e2
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000726-g3ac56e2.tgz
Due: prettier

fix: Bound client-error version metric tag to deploy tags
  QA.md
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinClientErrorsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ClientErrorsIntegrationTest.kt
Due: prettier

Release yay-tsa-0.5.1-main.r0000000727-gd415965
  index.yaml
  yay-tsa-0.5.1-main.r0000000726-g3ac56e2.tgz
  yay-tsa-0.5.1-main.r0000000727-gd415965.tgz
  yay-tsa-v2-0.1.0-main.r0000000717-g5069b79.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000727-gd415965
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000727-gd415965.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
