Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

docs(web): Document audio-stream nginx 500 root cause in QA.md
  QA.md
Due: prettier

Revert "fix(ci): Exclude audited subsonic SQLi false-positive from ZAP gate"
  .github/workflows/ci.yml
Due: prettier

fix(platform): Force HTTP/1.1 in separator client so POST body reaches uvicorn
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/SeparatorClient.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000583-gf02d7d0
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000573-g28903b7.tgz
  yay-tsa-v2-0.1.0-main.r0000000583-gf02d7d0.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000583-gf02d7d0
  index.yaml
  yay-tsa-0.5.1-main.r0000000582-g0986c22.tgz
  yay-tsa-0.5.1-main.r0000000583-gf02d7d0.tgz
  yay-tsa-v2-0.1.0-main.r0000000574-g0f4b47d.tgz
Due: prettier

fix(platform): Resolve correctness-audit findings in v2 and PWA
  apps/web/src/shared/utils/time.ts
  packages/core/src/api/api.client.ts
  packages/core/src/internal/utils/redact.ts
  packages/core/src/player/queue.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinFavoritesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinMediaController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/MediaPathSafety.kt
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdCommandHandler.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/AdapterCommandContextFactory.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/TrackProjection.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/ApiTokenAuthFilter.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/PlaybackUseCases.kt
  yay-tsa-v2/core-application/preferences/src/main/kotlin/dev/yaytsa/application/preferences/PreferencesUseCases.kt
  yay-tsa-v2/core-domain/playback/src/main/kotlin/dev/yaytsa/domain/playback/PlaybackHandler.kt
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/SeparatorClient.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryScanner.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-media/src/main/kotlin/dev/yaytsa/inframedia/MediaPathSafety.kt
  yay-tsa-v2/infra-media/src/main/kotlin/dev/yaytsa/inframedia/MediaStreamController.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
  yay-tsa-v2/infra-persistence/auth/src/main/kotlin/dev/yaytsa/persistence/auth/adapter/JpaUserRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/OffsetBasedPageRequest.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/jpa/TrackFeaturesJpaRepository.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/jpa/OutboxJpaRepository.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000584-g19a5eb5
  index.yaml
  yay-tsa-0.5.1-main.r0000000583-gf02d7d0.tgz
  yay-tsa-0.5.1-main.r0000000584-g19a5eb5.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000584-g19a5eb5
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000584-g19a5eb5.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000585-gfbee0d5
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000575-g77ae2f4.tgz
  yay-tsa-v2-0.1.0-main.r0000000585-gfbee0d5.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000585-gfbee0d5
  index.yaml
  yay-tsa-0.5.1-main.r0000000584-g19a5eb5.tgz
  yay-tsa-0.5.1-main.r0000000585-gfbee0d5.tgz
  yay-tsa-v2-0.1.0-main.r0000000576-ge0fd914.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000586-gc5b5180
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000586-gc5b5180.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000586-gc5b5180
  index.yaml
  yay-tsa-0.5.1-main.r0000000585-gfbee0d5.tgz
  yay-tsa-0.5.1-main.r0000000586-gc5b5180.tgz
  yay-tsa-v2-0.1.0-main.r0000000577-gca18a6e.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000587-ga11f2b3
  index.yaml
  yay-tsa-0.5.1-main.r0000000586-gc5b5180.tgz
  yay-tsa-0.5.1-main.r0000000587-ga11f2b3.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000587-ga11f2b3
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000587-ga11f2b3.tgz
Due: prettier

fix(platform): Resolve absolute karaoke path before separator call
  yay-tsa-v2/infra-karaoke-worker/build.gradle.kts
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000588-g4f52409
  index.yaml
  yay-tsa-0.5.1-main.r0000000587-ga11f2b3.tgz
  yay-tsa-0.5.1-main.r0000000588-g4f52409.tgz
  yay-tsa-v2-0.1.0-main.r0000000578-g11f6c0c.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000588-g4f52409
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000588-g4f52409.tgz
Due: prettier

fix(platform): RFC7807 problem+json for all controller error bodies
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdminController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDevicesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/HttpFailureTranslator.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/groups/GroupController.kt
Due: none

fix(platform): Affinity SQL text-cast + problem+json error controller
  QA.md
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/ProblemDetailErrorController.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
Due: prettier

fix(platform): Accept PascalCase body for admin create-user endpoint
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdminController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AuthIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000589-gee5b3a0
  index.yaml
  yay-tsa-0.5.1-main.r0000000588-g4f52409.tgz
  yay-tsa-0.5.1-main.r0000000589-gee5b3a0.tgz
  yay-tsa-v2-0.1.0-main.r0000000579-g24a9f11.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000589-gee5b3a0
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000589-gee5b3a0.tgz
Due: prettier

fix(platform): Resolve correctness-audit findings across protocols & PWA
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/internal/utils/redact.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthFilter.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinProtocolCapabilities.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/MediaPathSafety.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpController.kt
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdCommandHandler.kt
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdTcpServer.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/ChildElement.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/TrackProjection.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/ApiTokenAuthFilter.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/HttpIntegrationTestBase.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaylistsIntegrationTest.kt
  yay-tsa-v2/core-domain/adaptive/src/main/kotlin/dev/yaytsa/domain/adaptive/AdaptiveHandler.kt
  yay-tsa-v2/core-domain/playlists/src/main/kotlin/dev/yaytsa/domain/playlists/Commands.kt
  yay-tsa-v2/core-domain/playlists/src/main/kotlin/dev/yaytsa/domain/playlists/PlaylistHandler.kt
  yay-tsa-v2/core-domain/shared/src/main/kotlin/dev/yaytsa/shared/Hashing.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/TestCapabilities.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
  yay-tsa-v2/infra-media/src/main/kotlin/dev/yaytsa/inframedia/MediaPathSafety.kt
  yay-tsa-v2/infra-media/src/main/kotlin/dev/yaytsa/inframedia/MediaStreamController.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/OutboxEntryProcessor.kt
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/OutboxPoller.kt
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/WebSocketAuthInterceptor.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/jpa/OutboxJpaRepository.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

feat(platform): Run CLAP/MERT feature extraction on GPU
  charts/yay-tsa/templates/feature-extractor-cronjob.yaml
  charts/yay-tsa/values.yaml
  services/audio-ml/extractor/embedding_extractor.py
  services/audio-ml/requirements/essentia.txt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000590-g4f66151
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000580-g4f45374.tgz
  yay-tsa-v2-0.1.0-main.r0000000590-g4f66151.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000590-g4f66151
  index.yaml
  yay-tsa-0.5.1-main.r0000000589-gee5b3a0.tgz
  yay-tsa-0.5.1-main.r0000000590-g4f66151.tgz
  yay-tsa-v2-0.1.0-main.r0000000581-gf2336e4.tgz
Due: prettier

fix(platform): Harden auth, streaming, idempotency, scanner, scale
  QA.md
  apps/web/src/features/library/hooks/useInfiniteLibraryQuery.ts
  apps/web/src/main.tsx
  apps/web/src/vite-env.d.ts
  charts/yay-tsa-common/templates/_deployment-helpers.tpl
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdminController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdTcpServer.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/TrackProjection.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/ApiTokenAuthFilter.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/TokenValidationCache.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-domain/auth/src/main/kotlin/dev/yaytsa/domain/auth/AuthHandler.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-media/src/main/kotlin/dev/yaytsa/inframedia/MediaStreamController.kt
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/WebSocketNotificationPublisher.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/AudioTrackRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/JpaIdempotencyStore.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/jpa/IdempotencyRecordJpaRepository.kt
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

test(platform): Add integration coverage for remediation and protocols
  apps/web/tests/e2e/pagination.spec.ts
  yay-tsa-v2/app/build.gradle.kts
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ArtistPaginationIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AudioStreamIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/FavoritesConsistencyIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/HttpIntegrationTestBase.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/IdempotencyStoreConflictIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/KaraokeRangeIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/MpdProtocolIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/RemediationSecurityIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/StompPerUserRoutingIntegrationTest.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/LibraryWriterHygieneTest.kt
Due: prettier, jscpd

Release yay-tsa-0.5.1-main.r0000000591-gfd6c6cd
  index.yaml
  yay-tsa-0.5.1-main.r0000000590-g4f66151.tgz
  yay-tsa-0.5.1-main.r0000000591-gfd6c6cd.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000591-gfd6c6cd
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000591-gfd6c6cd.tgz
Due: prettier

fix(helm): GC failed CronJob Jobs (failedJobsHistoryLimit=1 + ttl 24h)
  charts/yay-tsa/templates/feature-extractor-cronjob.yaml
  charts/yay-tsa/templates/lyrics-sync-cronjob.yaml
  charts/yay-tsa/templates/taste-clusters-cronjob.yaml
  charts/yay-tsa/values.yaml
Due: none

Release yay-tsa-0.5.1-main.r0000000592-gc4d5319
  index.yaml
  yay-tsa-0.5.1-main.r0000000591-gfd6c6cd.tgz
  yay-tsa-0.5.1-main.r0000000592-gc4d5319.tgz
  yay-tsa-v2-0.1.0-main.r0000000582-g0986c22.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000592-gc4d5319
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000592-gc4d5319.tgz
Due: prettier

docs(platform): Clarify CI, replica invariant; unblock audit reports
  .markdownlintignore
  .pre-commit-config.yaml
  CLAUDE.md
  REVIEW_CORRECTNESS.md
  REVIEW_TESTS.md
  charts/yay-tsa-v2/values.yaml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000593-ga938e77
  index.yaml
  yay-tsa-0.5.1-main.r0000000592-gc4d5319.tgz
  yay-tsa-0.5.1-main.r0000000593-ga938e77.tgz
  yay-tsa-v2-0.1.0-main.r0000000583-gf02d7d0.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000593-ga938e77
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000593-ga938e77.tgz
Due: prettier

Prepend newly liked tracks to the front of custom order
  yay-tsa-v2/core-domain/preferences/src/main/kotlin/dev/yaytsa/domain/preferences/PreferencesHandler.kt
  yay-tsa-v2/core-domain/preferences/src/test/kotlin/dev/yaytsa/domain/preferences/PreferencesHandlerTest.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000594-g2910480
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000584-g19a5eb5.tgz
  yay-tsa-v2-0.1.0-main.r0000000594-g2910480.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000594-g2910480
  index.yaml
  yay-tsa-0.5.1-main.r0000000593-ga938e77.tgz
  yay-tsa-0.5.1-main.r0000000594-g2910480.tgz
  yay-tsa-v2-0.1.0-main.r0000000585-gfbee0d5.tgz
Due: prettier

Make favorites reorder resilient to partial/filtered client lists
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsPaginationIntegrationTest.kt
  yay-tsa-v2/core-domain/preferences/src/main/kotlin/dev/yaytsa/domain/preferences/PreferencesHandler.kt
  yay-tsa-v2/core-domain/preferences/src/test/kotlin/dev/yaytsa/domain/preferences/PreferencesHandlerTest.kt
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
