Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-stack-0.1.0-main.r0000000756-g7251b2e
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000756-g7251b2e.tgz
Due: prettier

fix: Align adaptive jsonb->text drift; serialize chart release legs
  .github/workflows/release-chart.yml
  yay-tsa-v2/infra-persistence/adaptive/src/main/resources/db/adaptive/V003__adaptive_jsonb_to_text.sql
  yay-tsa-v2/infra-persistence/adaptive/src/test/kotlin/dev/yaytsa/persistence/adaptive/SchemaDriftTest.kt
Due: prettier

feat: One-command yay-tsa-stack umbrella chart for fresh installs
  .github/actions/docker-build/action.yml
  .github/workflows/release-chart.yml
  README.md
  apps/web/src/features/auth/stores/auth.store.ts
  charts/postgres-pgvector/Chart.yaml
  charts/postgres-pgvector/templates/_helpers.tpl
  charts/postgres-pgvector/templates/service.yaml
  charts/postgres-pgvector/templates/statefulset.yaml
  charts/postgres-pgvector/values.yaml
  charts/yay-tsa-stack/Chart.yaml
  charts/yay-tsa-stack/ci/kind-acceptance-test.sh
  charts/yay-tsa-stack/templates/NOTES.txt
  charts/yay-tsa-stack/templates/_helpers.tpl
  charts/yay-tsa-stack/templates/db-secret.yaml
  charts/yay-tsa-stack/values.yaml
  charts/yay-tsa-v2/templates/backend-admin-secret.yaml
  charts/yay-tsa-v2/templates/backend-db-secret.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
  charts/yay-tsa/templates/configmap.yaml
  charts/yay-tsa/templates/networkpolicy.yaml
  charts/yay-tsa/values.yaml
  docker/docker-compose.yml
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/AdminBootstrapRunner.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/BootstrapProtocolCapabilities.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/infra-persistence/adaptive/src/main/resources/db/adaptive/V003__adaptive_jsonb_to_text.sql
  yay-tsa-v2/infra-persistence/shared/src/main/resources/db/shared/V003__extensions.sql
Due: prettier, tsc-web, eslint, jscpd, no-console

fix: Harden OOTB install — DB secret persistence, pinned tags, CORS, media PVC
  .github/workflows/chart-acceptance.yml
  .github/workflows/release-chart.yml
  README.md
  charts/yay-tsa-stack/ci/kind-acceptance-test.sh
  charts/yay-tsa-stack/templates/NOTES.txt
  charts/yay-tsa-stack/templates/db-secret.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
  docker/docker-compose.yml
  docker/example.env
  docker/music/.gitkeep
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/SecurityConfig.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/CorsConfigIntegrationTest.kt
Due: prettier

Release yay-tsa-0.5.1-main.r0000000757-gc002e49
  index.yaml
  yay-tsa-0.5.1-main.r0000000756-g7251b2e.tgz
  yay-tsa-0.5.1-main.r0000000757-gc002e49.tgz
  yay-tsa-stack-0.1.0-main.r0000000756-g7251b2e.tgz
  yay-tsa-v2-0.1.0-main.r0000000747-g1f0b36f.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000757-gc002e49
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000757-gc002e49.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000757-gc002e49
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000757-gc002e49.tgz
Due: prettier

fix(ci): Install kind/kubectl with sudo in chart-acceptance
  .github/workflows/chart-acceptance.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000758-gd163300
  index.yaml
  yay-tsa-0.5.1-main.r0000000757-gc002e49.tgz
  yay-tsa-0.5.1-main.r0000000758-gd163300.tgz
  yay-tsa-stack-0.1.0-main.r0000000757-gc002e49.tgz
  yay-tsa-v2-0.1.0-main.r0000000748-g58154f6.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000758-gd163300
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000758-gd163300.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000758-gd163300
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000758-gd163300.tgz
Due: prettier

fix: Clear new-code Sonar findings (SA token, storage limits, serverUrl)
  apps/web/src/features/auth/stores/auth.store.ts
  charts/postgres-pgvector/templates/statefulset.yaml
  charts/postgres-pgvector/values.yaml
Due: prettier, tsc-web, eslint, jscpd, no-console

fix(ci): Vendor yay-tsa-common into subcharts before packaging umbrella
  .github/workflows/release-chart.yml
  charts/yay-tsa-stack/ci/kind-acceptance-test.sh
Due: prettier

Release yay-tsa-0.5.1-main.r0000000762-g8fe8a12
  index.yaml
  yay-tsa-0.5.1-main.r0000000758-gd163300.tgz
  yay-tsa-0.5.1-main.r0000000762-g8fe8a12.tgz
  yay-tsa-stack-0.1.0-main.r0000000758-gd163300.tgz
  yay-tsa-v2-0.1.0-main.r0000000749-g69c746d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000762-g8fe8a12
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000762-g8fe8a12.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000762-g8fe8a12
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000762-g8fe8a12.tgz
Due: prettier

feat(web): Telemetry module, hidden sourcemaps, query/console guards
  CLAUDE.md
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/scripts/symbolicate.ts
  apps/web/src/app/infra/install-error-handlers.ts
  apps/web/src/main.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/shared/lib/query-client.ts
  apps/web/src/shared/utils/error-reporter.ts
  apps/web/tests/e2e/fixtures/auth.fixture.ts
  apps/web/tests/e2e/fixtures/console-guard.fixture.ts
  apps/web/vite.config.ts
  infra/nginx/nginx.conf.template
  knip.json
  package-lock.json
  packages/platform/src/index.ts
  packages/platform/src/web/client-telemetry.ts
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, docker-build, jscpd, no-console, component-naming

fix: Silence transient heartbeat telemetry, surface sustained outage
  QA.md
  apps/web/src/features/player/hooks/useDeviceHeartbeat.ts
  packages/core/src/api/api.client.ts
  packages/core/src/api/device.service.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000763-g2788e70
  index.yaml
  yay-tsa-0.5.1-main.r0000000762-g8fe8a12.tgz
  yay-tsa-0.5.1-main.r0000000763-g2788e70.tgz
  yay-tsa-stack-0.1.0-main.r0000000762-g8fe8a12.tgz
  yay-tsa-v2-0.1.0-main.r0000000750-ge66978e.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000763-g2788e70
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000763-g2788e70.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000763-g2788e70
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000763-g2788e70.tgz
Due: prettier

fix: Stop forwarding backend-rollout transients as client errors
  QA.md
  apps/web/src/features/player/stores/session-store.ts
  packages/core/src/api/adaptive-dj.service.ts
  packages/core/src/api/api.client.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000764-g19292d1
  index.yaml
  yay-tsa-0.5.1-main.r0000000763-g2788e70.tgz
  yay-tsa-0.5.1-main.r0000000764-g19292d1.tgz
  yay-tsa-stack-0.1.0-main.r0000000763-g2788e70.tgz
  yay-tsa-v2-0.1.0-main.r0000000751-g26b4985.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000764-g19292d1
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000764-g19292d1.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000764-g19292d1
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000764-g19292d1.tgz
Due: prettier

fix: Use CSPRNG fallback for telemetry session id (Sonar S2245)
  packages/platform/src/web/client-telemetry.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.5.1-main.r0000000765-gbbb68f8
  index.yaml
  yay-tsa-0.5.1-main.r0000000764-g19292d1.tgz
  yay-tsa-0.5.1-main.r0000000765-gbbb68f8.tgz
  yay-tsa-stack-0.1.0-main.r0000000764-g19292d1.tgz
  yay-tsa-v2-0.1.0-main.r0000000752-ge605a44.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000765-gbbb68f8
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000765-gbbb68f8.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000765-gbbb68f8
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000765-gbbb68f8.tgz
Due: prettier

fix(platform): Portable replace and buf guard for vendored telemetry
  packages/platform/src/web/client-telemetry.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.5.1-main.r0000000766-g7f57bfd
  index.yaml
  yay-tsa-0.5.1-main.r0000000765-gbbb68f8.tgz
  yay-tsa-0.5.1-main.r0000000766-g7f57bfd.tgz
  yay-tsa-stack-0.1.0-main.r0000000765-gbbb68f8.tgz
  yay-tsa-v2-0.1.0-main.r0000000753-g4ad525b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000766-g7f57bfd
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000766-g7f57bfd.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000766-g7f57bfd
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000766-g7f57bfd.tgz
Due: prettier

test(web): Allow intentional 5xx in favorites rollback spec; string allowlists
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
  apps/web/tests/e2e/fixtures/console-guard.fixture.ts
Due: prettier, jscpd

feat(platform): Scrub email PII and add route fallback in telemetry
  packages/platform/src/web/client-telemetry.ts
Due: prettier, eslint, docker-build, jscpd

test(web): Enforce console-guard on mocked specs and quiet 401 auth-probe
  apps/web/tests/e2e/audiobook-mobile.mocked.spec.ts
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
  apps/web/tests/e2e/audiobooks.spec.ts
  apps/web/tests/e2e/auth-persistence.mocked.spec.ts
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
  apps/web/tests/e2e/fixtures/console-guard.fixture.ts
  apps/web/tests/e2e/helpers/media-fixtures.ts
  apps/web/tests/e2e/navigation.spec.ts
  apps/web/tests/e2e/offline.mocked.spec.ts
  apps/web/tests/e2e/queue-panel.mocked.spec.ts
  apps/web/tests/e2e/search-debounce.mocked.spec.ts
  packages/core/src/api/api.client.ts
Due: prettier, eslint, docker-build, jscpd

docs: Record client-error telemetry QA methodology
  QA.md
Due: prettier

fix: External DB password wins on upgrade; fail-fast on existingSecret mismatch
  charts/yay-tsa-stack/templates/db-secret.yaml
Due: none

fix(core): Keep 403 at error level; only 401 is an expected auth signal
  packages/core/src/api/api.client.ts
Due: prettier, eslint, docker-build, jscpd

docs: Record correctness-audit resolution; exclude logs from markdownlint
  .pre-commit-config.yaml
  CORRECTNESS.md
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
