Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

fix(web): Seed seek bar from live state on mount, drop hero dup
  apps/web/src/features/audiobooks/hooks/useAudiobooks.ts
  apps/web/src/features/player/components/SeekBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AudiobooksPage.tsx
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
  apps/web/tests/e2e/audiobooks.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000635-g2322659
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000635-g2322659.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000635-g2322659
  index.yaml
  yay-tsa-0.5.1-main.r0000000634-ga436d3d.tgz
  yay-tsa-0.5.1-main.r0000000635-g2322659.tgz
  yay-tsa-v2-0.1.0-main.r0000000626-gbd6d0e4.tgz
Due: prettier

fix(web): Resume audiobook at last-listened chapter and offset
  apps/web/src/features/audiobooks/hooks/useAudiobooks.ts
  apps/web/src/features/audiobooks/stores/local-resume.ts
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-v2-0.1.0-main.r0000000636-gab58a10
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000636-gab58a10.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000636-gab58a10
  index.yaml
  yay-tsa-0.5.1-main.r0000000635-g2322659.tgz
  yay-tsa-0.5.1-main.r0000000636-gab58a10.tgz
  yay-tsa-v2-0.1.0-main.r0000000627-gd76863a.tgz
Due: prettier

test(web): Assert audiobook resumes last-listened chapter
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
Due: prettier, jscpd

Release yay-tsa-v2-0.1.0-main.r0000000637-g44bd7c5
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000637-g44bd7c5.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000637-g44bd7c5
  index.yaml
  yay-tsa-0.5.1-main.r0000000636-gab58a10.tgz
  yay-tsa-0.5.1-main.r0000000637-g44bd7c5.tgz
  yay-tsa-v2-0.1.0-main.r0000000628-gd1e66e0.tgz
Due: prettier

ci: Gate image push on tests, add rollout wait and v2 smoke
  .bundlewatchrc.json
  .github/workflows/ci.yml
  .github/workflows/v2-ci.yml
  scripts/bundle-report.mjs
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000638-g0ccaf94
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000638-g0ccaf94.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000638-g0ccaf94
  index.yaml
  yay-tsa-0.5.1-main.r0000000637-g44bd7c5.tgz
  yay-tsa-0.5.1-main.r0000000638-g0ccaf94.tgz
  yay-tsa-v2-0.1.0-main.r0000000629-g53cd771.tgz
Due: prettier

fix(core): Raise /rest rate limit to client-realistic 300/min
  yay-tsa-v2/app/src/main/resources/application.yml
Due: prettier

perf(web): Paint static splash before React boot for honest FCP
  apps/web/index.html
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000639-g050637c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000639-g050637c.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000639-g050637c
  index.yaml
  yay-tsa-0.5.1-main.r0000000638-g0ccaf94.tgz
  yay-tsa-0.5.1-main.r0000000639-g050637c.tgz
  yay-tsa-v2-0.1.0-main.r0000000630-gcfeea80.tgz
Due: prettier

test(core): Seed bcrypt hashes so Subsonic password auth verifies in CI
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AudioStreamIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/SubsonicApiIntegrationTest.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000640-g69365cc
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000640-g69365cc.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000640-g69365cc
  index.yaml
  yay-tsa-0.5.1-main.r0000000639-g050637c.tgz
  yay-tsa-0.5.1-main.r0000000640-g69365cc.tgz
  yay-tsa-v2-0.1.0-main.r0000000631-g475c346.tgz
Due: prettier

style(core): Apply ktlint import ordering to integration tests
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AudioStreamIntegrationTest.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000641-g37b1585
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000641-g37b1585.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000641-g37b1585
  index.yaml
  yay-tsa-0.5.1-main.r0000000640-g69365cc.tgz
  yay-tsa-0.5.1-main.r0000000641-g37b1585.tgz
  yay-tsa-v2-0.1.0-main.r0000000632-ga88a497.tgz
Due: prettier

ci: Widen post-deploy rollout windows to match Image Updater lag
  .github/workflows/ci.yml
  .github/workflows/v2-ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000642-g1007f22
  index.yaml
  yay-tsa-0.5.1-main.r0000000641-g37b1585.tgz
  yay-tsa-0.5.1-main.r0000000642-g1007f22.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000642-g1007f22
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000642-g1007f22.tgz
Due: prettier

fix(web): Always render a level-one heading on detail pages
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/shared/ui/LoadErrorState.tsx
  apps/web/src/shared/ui/NotFound.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000643-g4b3d157
  index.yaml
  yay-tsa-0.5.1-main.r0000000642-g1007f22.tgz
  yay-tsa-0.5.1-main.r0000000643-g4b3d157.tgz
  yay-tsa-v2-0.1.0-main.r0000000633-gd4212c2.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000643-g4b3d157
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000643-g4b3d157.tgz
Due: prettier

fix(core): Keep OpenAPI spec public for QA fuzzing, exclude Subsonic XML paths
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/SecurityConfig.kt
  yay-tsa-v2/app/src/main/resources/application-prod.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000644-gecbdd5d
  index.yaml
  yay-tsa-0.5.1-main.r0000000643-g4b3d157.tgz
  yay-tsa-0.5.1-main.r0000000644-gecbdd5d.tgz
  yay-tsa-v2-0.1.0-main.r0000000634-ga436d3d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000644-gecbdd5d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000644-gecbdd5d.tgz
Due: prettier

ci: standardize dependabot automerge
  .github/workflows/automerge.yml
Due: prettier

fix(core): Return 401 not 500 on unauthenticated GET of a user resource
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/JellyfinApiIntegrationTest.kt
Due: none

ci: automerge indirect lockfile bumps too
  .github/workflows/automerge.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000645-ge746c0c
  index.yaml
  yay-tsa-0.5.1-main.r0000000644-gecbdd5d.tgz
  yay-tsa-0.5.1-main.r0000000645-ge746c0c.tgz
  yay-tsa-v2-0.1.0-main.r0000000635-g2322659.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000645-ge746c0c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000645-ge746c0c.tgz
Due: prettier

ci: bump fetch-metadata to v3.1.0
  .github/workflows/automerge.yml
Due: prettier

Revert "ci: drop legacy v1 CI (superseded by v2-ci, red on every push)"
  .github/workflows/ci.yml
Due: prettier
