Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.4.3-main.294cf24
  index.yaml
  yay-tsa-0.4.3-main.109e2c9.tgz
  yay-tsa-0.4.3-main.294cf24.tgz
Due: prettier

fix(web): Handle Android back gesture and fix pointer events in mobile full player (#167)
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.6f1447a
  index.yaml
  yay-tsa-0.4.3-main.294cf24.tgz
  yay-tsa-0.4.3-main.6f1447a.tgz
Due: prettier

feat: Stochastic radio seeds, discovery pool, remove cache, cleanup dead code
  .pre-commit-config.yaml
  CLAUDE.md
  infra/nginx/nginx.conf.template
  infra/nginx/security-headers.conf
  services/audio-separator/app.py
  services/audio-separator/radio/seed_selector.py
  services/server/CLAUDE.md
  services/server/src/main/java/com/yaytsa/server/MediaServerApplication.java
  services/server/src/main/java/com/yaytsa/server/config/LibraryRootsConfig.java
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/config/PersistenceConfig.java
  services/server/src/main/java/com/yaytsa/server/config/SecurityConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AuthController.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AppSettingsService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AudioFingerprintService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionJobScheduler.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AggregatedMetadataService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/GeniusProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/LastFmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MetadataProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MusicBrainzProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/SpotifyProvider.java
  services/server/src/main/java/com/yaytsa/server/dto/response/AuthenticationResultResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/BaseItemResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/QueryResultResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/SessionInfoResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/UserResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LrcLibClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/RadioSeedClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/RadioSeedCacheEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/RadioSeedCacheRepository.java
  services/server/src/main/resources/db/migration/V29__drop_radio_seed_cache.sql
  services/server/src/test/java/com/yaytsa/server/integration/radio/RadioSeedCacheRepositoryTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/RadioSeedServiceTest.java
Due: prettier, docker-build, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.7e01984
  index.yaml
  yay-tsa-0.4.3-main.6f1447a.tgz
  yay-tsa-0.4.3-main.7e01984.tgz
Due: prettier

Release yay-tsa-0.4.3-main.7263d9d
  index.yaml
  yay-tsa-0.4.3-main.7263d9d.tgz
  yay-tsa-0.4.3-main.7e01984.tgz
Due: prettier

Release yay-tsa-0.4.3-main.3f137b2
  index.yaml
  yay-tsa-0.4.3-main.3f137b2.tgz
  yay-tsa-0.4.3-main.7263d9d.tgz
Due: prettier

Release yay-tsa-0.4.3-main.f002875
  index.yaml
  yay-tsa-0.4.3-main.3f137b2.tgz
  yay-tsa-0.4.3-main.f002875.tgz
Due: prettier

Release yay-tsa-0.4.3-main.b766b31
  index.yaml
  yay-tsa-0.4.3-main.b766b31.tgz
  yay-tsa-0.4.3-main.f002875.tgz
Due: prettier

Release yay-tsa-0.4.3-main.ebc83df
  index.yaml
  yay-tsa-0.4.3-main.b766b31.tgz
  yay-tsa-0.4.3-main.ebc83df.tgz
Due: prettier

fix(ci): Fix Docker test containers not running tests
  .github/workflows/ci.yml
  apps/web/Dockerfile
  docker-compose.yml
Due: prettier, docker-compose-check, docker-build

Release yay-tsa-0.4.3-main.4512fe5
  index.yaml
  yay-tsa-0.4.3-main.4512fe5.tgz
  yay-tsa-0.4.3-main.ebc83df.tgz
Due: prettier

fix: Resolve SonarQube issues across codebase
  apps/android-app/app/src/main/java/com/yaytsa/app/WebViewActivity.kt
  apps/android-app/app/src/test/java/com/yaytsa/app/BuildCommandJsTest.kt
  apps/android-app/app/src/test/java/com/yaytsa/app/ResolveUrlTest.kt
  apps/android-app/app/src/test/java/com/yaytsa/app/UnescapeJsTest.kt
  apps/web/src/features/player/stores/player.store.ts
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  apps/web/tests/e2e/fixtures/auth.fixture.ts
  packages/core/src/api/api.client.ts
  services/audio-separator/radio/seed_selector.py
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.4.3-main.da9d1e9
  index.yaml
  yay-tsa-0.4.3-main.4512fe5.tgz
  yay-tsa-0.4.3-main.da9d1e9.tgz
Due: prettier

refactor: Replace hardcoded paths with glob patterns in treemapper whitelists
  .treemapper/api.whitelist
  .treemapper/audio.whitelist
  .treemapper/backend.whitelist
  .treemapper/cicd.whitelist
  .treemapper/core.whitelist
  .treemapper/dj.whitelist
  .treemapper/domain.whitelist
  .treemapper/frontend-features.whitelist
  .treemapper/frontend-pages.whitelist
  .treemapper/frontend.whitelist
  .treemapper/karaoke.whitelist
  .treemapper/tests.whitelist
Due: none

Release yay-tsa-0.4.3-main.173b43c
  index.yaml
  yay-tsa-0.4.3-main.173b43c.tgz
  yay-tsa-0.4.3-main.da9d1e9.tgz
Due: prettier

fix: Eliminate reinvented wheels across codebase
  apps/web/src/shared/lib/query-client.ts
  packages/core/src/player/queue.ts
  packages/platform/src/web/fade.ts
  packages/platform/src/web/html5-audio.ts
  packages/platform/src/web/pink-noise-generator.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/AudioFingerprintService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AuthService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/EmbyAuthFilter.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.7bedb1f
  index.yaml
  yay-tsa-0.4.3-main.173b43c.tgz
  yay-tsa-0.4.3-main.7bedb1f.tgz
Due: prettier

feat: Improve radio/DJ recommendations and fix reliability bugs
  apps/web/src/features/library/hooks/index.ts
  apps/web/src/features/library/hooks/useSemanticSearch.ts
  apps/web/src/features/player/hooks/useDjAutoRefill.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/pages/SongsPage.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/EmbeddingBackfillService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioAnchorResolver.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionSkipContext.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackSignalRepository.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.a30c381
  index.yaml
  yay-tsa-0.4.3-main.7bedb1f.tgz
  yay-tsa-0.4.3-main.a30c381.tgz
Due: prettier

fix: Fix SpEL isEmpty() on unwrapped Optional in token cache
  services/server/src/main/java/com/yaytsa/server/domain/service/AuthService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.26f3102
  index.yaml
  yay-tsa-0.4.3-main.26f3102.tgz
  yay-tsa-0.4.3-main.a30c381.tgz
Due: prettier

fix: Use URL.href in waitForURL callback (URL object has no includes)
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  apps/web/tests/e2e/fixtures/auth.fixture.ts
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.8f18fc9
  index.yaml
  yay-tsa-0.4.3-main.26f3102.tgz
  yay-tsa-0.4.3-main.8f18fc9.tgz
Due: prettier

fix: Add crypto.randomUUID fallback and fix accessibility violations
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/ui/SearchInput.tsx
  apps/web/src/shared/ui/SortMenu.tsx
  apps/web/src/shared/ui/Toast.tsx
  apps/web/tests/e2e/favorites.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.c4680b9
  index.yaml
  yay-tsa-0.4.3-main.8f18fc9.tgz
  yay-tsa-0.4.3-main.c4680b9.tgz
Due: prettier

fix: Resolve nested-interactive violations and use Chromium for mobile E2E
  apps/web/playwright.config.ts
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.aec1599
  index.yaml
  yay-tsa-0.4.3-main.aec1599.tgz
  yay-tsa-0.4.3-main.c4680b9.tgz
Due: prettier

fix: Fix previous track, favorite toggle, and drag handle contrast
  apps/web/src/features/library/components/FavoriteButton.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/shared/ui/SortableList.tsx
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.c1c2721
  index.yaml
  yay-tsa-0.4.3-main.aec1599.tgz
  yay-tsa-0.4.3-main.c1c2721.tgz
Due: prettier

fix: Fix radio seed embeddings and color-contrast violations
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/pages/SongsPage.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.ca98581
  index.yaml
  yay-tsa-0.4.3-main.c1c2721.tgz
  yay-tsa-0.4.3-main.ca98581.tgz
Due: prettier

fix: Prevent DJ session from being killed on start
  apps/web/src/features/player/stores/session-store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.2d52779
  index.yaml
  yay-tsa-0.4.3-main.2d52779.tgz
  yay-tsa-0.4.3-main.ca98581.tgz
Due: prettier

fix: Remove scroll-based queue loading spinner
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.0c62dac
  index.yaml
  yay-tsa-0.4.3-main.0c62dac.tgz
  yay-tsa-0.4.3-main.2d52779.tgz
Due: prettier

fix: Use play history stack for previous track navigation
  packages/core/src/player/queue.test.ts
  packages/core/src/player/queue.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.4.3-main.5984454
  index.yaml
  yay-tsa-0.4.3-main.0c62dac.tgz
  yay-tsa-0.4.3-main.5984454.tgz
Due: prettier

fix: Artist over-recommendation and affinity race condition
  services/server/src/main/java/com/yaytsa/server/domain/service/AffinityAggregationService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/UserTrackAffinityRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
