Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.4.3-main.5ece42b
  index.yaml
  yay-tsa-0.4.0-main.c5c0908.tgz
  yay-tsa-0.4.3-main.5ece42b.tgz
Due: prettier

feat: Add track upload infrastructure and database migrations (#122)
  services/server/src/main/java/com/yaytsa/server/config/CacheConfig.java
  services/server/src/main/java/com/yaytsa/server/config/LibraryRootsConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AppSettingsService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AudioFingerprintService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AppSettingsEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AppSettingsRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
  services/server/src/main/java/com/yaytsa/server/util/PathUtils.java
  services/server/src/main/java/com/yaytsa/server/util/UuidUtils.java
  services/server/src/main/resources/application.yml
  services/server/src/main/resources/db/migration/V16__add_app_settings_and_album_completion.sql
  services/server/src/main/resources/db/migration/V17__add_audio_fingerprinting.sql
  services/server/src/main/resources/db/migration/V18__fix_fingerprint_index.sql
  services/server/src/main/resources/db/migration/V19__drop_transcode_jobs.sql
  services/server/src/main/resources/db/migration/V20__add_composite_index.sql
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.021d0dd
  index.yaml
  yay-tsa-0.4.0-main.f873e1d.tgz
  yay-tsa-0.4.3-main.021d0dd.tgz
Due: prettier

feat: Add cover art service and lyrics refactor
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LrcLibClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LyricsFetcherClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/TranscodeJobEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TranscodeJobRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat: Add cover art service and lyrics refactor (#123)
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LrcLibClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LyricsFetcherClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/TranscodeJobEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TranscodeJobRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat(web): Add track upload dialog and album completion badges
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/AlbumGrid.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/library/components/index.ts
  apps/web/src/pages/SettingsPage.tsx
  packages/core/src/api/api.client.ts
  packages/core/src/index.ts
  packages/core/src/internal/models/types.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

feat(web): Add track upload dialog and album completion badges (#124)
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/AlbumGrid.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/library/components/index.ts
  apps/web/src/pages/SettingsPage.tsx
  packages/core/src/api/api.client.ts
  packages/core/src/index.ts
  packages/core/src/internal/models/types.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.da64081
  index.yaml
  yay-tsa-0.4.1-main.469d9c2.tgz
  yay-tsa-0.4.3-main.da64081.tgz
Due: prettier

refactor: Improve backend services and remove SearchNormalizer
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaylistService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SearchNormalizer.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/BaseItemResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/AudioSeparatorClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AlbumEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ItemEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AlbumRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayHistoryRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/transcoding/FfmpegTranscoder.java
  services/server/src/main/java/com/yaytsa/server/mapper/ItemMapper.java
Due: maven-compile, maven-spotbugs, maven-pmd

refactor: Improve backend services and remove SearchNormalizer (#125)
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaylistService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SearchNormalizer.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/BaseItemResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/AudioSeparatorClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AlbumEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ItemEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AlbumRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayHistoryRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/transcoding/FfmpegTranscoder.java
  services/server/src/main/java/com/yaytsa/server/mapper/ItemMapper.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.0e8b36e
  index.yaml
  yay-tsa-0.4.2-main.6d737d5.tgz
  yay-tsa-0.4.3-main.0e8b36e.tgz
Due: prettier

Release yay-tsa-0.4.3-main.b25f7db
  index.yaml
  yay-tsa-0.4.2-main.e60c756.tgz
  yay-tsa-0.4.3-main.b25f7db.tgz
Due: prettier

feat: Add track upload controller and service
  docker-compose.yml
  services/server/src/main/java/com/yaytsa/server/controller/UploadController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TrackUploadService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AudioTrackEntity.java
Due: prettier, docker-compose-check, maven-compile, maven-spotbugs, maven-pmd

feat: Add track upload controller and service (#128)
  docker-compose.yml
  services/server/src/main/java/com/yaytsa/server/controller/UploadController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TrackUploadService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AudioTrackEntity.java
Due: prettier, docker-compose-check, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.6cb65ea
  index.yaml
  yay-tsa-0.4.2-main.e68812a.tgz
  yay-tsa-0.4.3-main.6cb65ea.tgz
Due: prettier

fix(web): Prevent album card badges from overlapping player bar
  apps/web/src/features/library/components/AlbumCard.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(web): Prevent album card badges from overlapping player bar (#129)
  apps/web/src/features/library/components/AlbumCard.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.3cb52fa
  index.yaml
  yay-tsa-0.4.3-main.021d0dd.tgz
  yay-tsa-0.4.3-main.3cb52fa.tgz
Due: prettier

ci: Disable Docker provenance to prevent GHCR manifest GC errors
  .github/workflows/ci.yml
Due: prettier

fix: Simplify DJ feature — remove auto-play, manual controls, add session persistence
  apps/web/src/features/player/components/DjModeControl.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/hooks/useDjAutoRefill.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  packages/core/src/api/adaptive-dj.service.ts
  packages/core/src/api/adaptive-dj.types.ts
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ListeningSessionRepository.java
  services/server/src/main/resources/application.yml
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix: Compute positionPct from currentTime/duration in QUEUE_JUMP signal
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.ed6787d
  index.yaml
  yay-tsa-0.4.3-main.0e8b36e.tgz
  yay-tsa-0.4.3-main.ed6787d.tgz
Due: prettier

fix: Prevent DJ from repeatedly recommending the same liked tracks
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayHistoryRepository.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.76ad4b0
  index.yaml
  yay-tsa-0.4.3-main.19ebb87.tgz
  yay-tsa-0.4.3-main.76ad4b0.tgz
Due: prettier

Release yay-tsa-0.4.3-main.bf39cfa
  index.yaml
  yay-tsa-0.4.3-main.3cb52fa.tgz
  yay-tsa-0.4.3-main.bf39cfa.tgz
Due: prettier

Release yay-tsa-0.4.3-main.6cc7b7f
  index.yaml
  yay-tsa-0.4.3-main.435c305.tgz
  yay-tsa-0.4.3-main.6cc7b7f.tgz
Due: prettier

Release yay-tsa-0.4.3-main.36672f3
  index.yaml
  yay-tsa-0.4.3-main.36672f3.tgz
  yay-tsa-0.4.3-main.5ece42b.tgz
Due: prettier

ci: Move E2E tests to nightly workflow, add status badges
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  README.md
Due: prettier

Release yay-tsa-0.4.3-main.e1b9989
  index.yaml
  yay-tsa-0.4.3-main.36672f3.tgz
  yay-tsa-0.4.3-main.e1b9989.tgz
Due: prettier

fix: Remove cert-manager annotation from secondary ingresses
  charts/yay-tsa/templates/api-ingress.yaml
  charts/yay-tsa/templates/pwa-ingress.yaml
Due: none

fix: Use existing useInView hook and guard against queueIndex=-1
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat: Add multi-arch builds and production Docker Compose
  .github/workflows/ci.yml
  .hadolint.yaml
  README.md
  apps/web/Dockerfile
  charts/yay-tsa/templates/NOTES.txt
  charts/yay-tsa/values.yaml
  docker/docker-compose.yml
  docker/example.env
  services/audio-separator/Dockerfile
  services/audio-separator/requirements/essentia-base.txt
  services/server/Dockerfile
Due: prettier, docker-build

fix: Filter non-AudioTrack items from fallback queue candidates
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Enable infinite queue scroll and mark played entries
  apps/web/src/features/player/components/QueueView.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix: Swap reversed pause/play icon in queue view, add infinite scroll
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.3970785
  index.yaml
  yay-tsa-0.4.3-main.3970785.tgz
  yay-tsa-0.4.3-main.6cb65ea.tgz
Due: prettier

fix: Healthcheck, nginx security, model download resilience
  charts/yay-tsa/templates/backend-deployment.yaml
  docker-compose.yml
  docker/docker-compose.yml
  services/audio-separator/scripts/download_models.sh
Due: prettier, docker-compose-check

fix: Add sizeLimit to nginx-tmp emptyDir, gitignore treemapper
  .gitignore
  charts/yay-tsa/templates/backend-deployment.yaml
Due: none

Release yay-tsa-0.4.3-main.d58bd80
  index.yaml
  yay-tsa-0.4.3-main.3970785.tgz
  yay-tsa-0.4.3-main.d58bd80.tgz
Due: prettier

fix: PEP 668 and numpy 2.x compat for multi-arch builds
  services/audio-separator/Dockerfile
  services/audio-separator/requirements/essentia-base.txt
  services/audio-separator/requirements/essentia.txt
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
