Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

fix: Harden LLM DJ nudge retry against pending tool_use and parse failures
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.e60f178
  index.yaml
  yay-tsa-0.3.0-main.0fd26fa.tgz
  yay-tsa-0.3.0-main.e60f178.tgz
Due: prettier

fix: Fix LATERAL subquery referencing UPDATE target in V15 migration
  services/server/src/main/resources/db/migration/V15__smart_search.sql
Due: maven-compile

Release yay-tsa-0.3.0-main.38d5dcc
  index.yaml
  yay-tsa-0.3.0-main.292a63d.tgz
  yay-tsa-0.3.0-main.38d5dcc.tgz
Due: prettier

fix: Add read transaction to QueuePolicyValidator to prevent lazy init errors
  services/server/src/main/java/com/yaytsa/server/domain/service/QueuePolicyValidator.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.1cd963b
  index.yaml
  yay-tsa-0.3.0-main.1cd963b.tgz
  yay-tsa-0.3.0-main.29e0c16.tgz
Due: prettier

feat: Add feature-extractor CI build and K8s deployment
  .github/workflows/ci.yml
  charts/yay-tsa/Chart.yaml
  charts/yay-tsa/templates/backend-deployment.yaml
  charts/yay-tsa/templates/feature-extractor-deployment.yaml
  charts/yay-tsa/templates/feature-extractor-service.yaml
  charts/yay-tsa/templates/networkpolicy.yaml
  charts/yay-tsa/values.yaml
Due: prettier

Release yay-tsa-0.4.0-main.c5c0908
  index.yaml
  yay-tsa-0.3.0-main.1cd963b.tgz
  yay-tsa-0.4.0-main.c5c0908.tgz
Due: prettier

fix(auth): prevent infinite loading spinner after logout (#117)
  apps/web/src/features/auth/stores/auth.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.0-main.89050b3
  index.yaml
  yay-tsa-0.3.0-main.38d5dcc.tgz
  yay-tsa-0.4.0-main.89050b3.tgz
Due: prettier

fix: Resolve Hibernate lazy loading in async feature extraction jobs
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/FeatureExtractionJobRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.0-main.01a5a4b
  index.yaml
  yay-tsa-0.3.0-main.3d7febe.tgz
  yay-tsa-0.4.0-main.01a5a4b.tgz
Due: prettier

fix: Convert mono to stereo for LoudnessEBUR128 in feature extraction
  services/audio-separator/extractor/essentia_analyzer.py
Due: none

Release yay-tsa-0.4.0-main.a7ab81c
  index.yaml
  yay-tsa-0.3.0-main.5437ee4.tgz
  yay-tsa-0.4.0-main.a7ab81c.tgz
Due: prettier

fix: Sort spectral peaks by frequency for Dissonance algorithm
  services/audio-separator/extractor/essentia_analyzer.py
Due: none

Release yay-tsa-0.4.0-main.a7e37ec
  index.yaml
  yay-tsa-0.3.0-main.902dbd2.tgz
  yay-tsa-0.4.0-main.a7e37ec.tgz
Due: prettier

fix: Correct LoudnessEBUR128 output unpacking order
  services/audio-separator/extractor/essentia_analyzer.py
Due: none

Release yay-tsa-0.4.0-main.0f7ca99
  index.yaml
  yay-tsa-0.3.0-main.aba272b.tgz
  yay-tsa-0.4.0-main.0f7ca99.tgz
Due: prettier

fix: Handle array returns from Essentia algorithms safely
  services/audio-separator/extractor/essentia_analyzer.py
Due: none

Release yay-tsa-0.4.0-main.f873e1d
  index.yaml
  yay-tsa-0.3.0-main.c9b33ee.tgz
  yay-tsa-0.4.0-main.f873e1d.tgz
Due: prettier

fix: Increase feature-extractor memory and probe tolerance
  charts/yay-tsa/Chart.yaml
  charts/yay-tsa/values.yaml
Due: none

Release yay-tsa-0.4.1-main.469d9c2
  index.yaml
  yay-tsa-0.3.0-main.e60f178.tgz
  yay-tsa-0.4.1-main.469d9c2.tgz
Due: prettier

fix: Limit feature extraction to sequential processing
  charts/yay-tsa/Chart.yaml
  charts/yay-tsa/templates/backend-deployment.yaml
  charts/yay-tsa/values.yaml
Due: none

Release yay-tsa-0.4.2-main.e60c756
  index.yaml
  yay-tsa-0.3.0-main.f2ede80.tgz
  yay-tsa-0.4.2-main.e60c756.tgz
Due: prettier

fix: Handle Double to Float conversion in feature extraction
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/FeatureExtractionClient.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.2-main.e68812a
  index.yaml
  yay-tsa-0.3.0-main.fe0bfaa.tgz
  yay-tsa-0.4.2-main.e68812a.tgz
Due: prettier

fix: Flush queue position changes to avoid duplicate key constraint
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueManager.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.2-main.6d737d5
  index.yaml
  yay-tsa-0.4.0-main.01a5a4b.tgz
  yay-tsa-0.4.2-main.6d737d5.tgz
Due: prettier

fix: Add startup probe and increase probe tolerances for feature-extractor
  charts/yay-tsa/Chart.yaml
  charts/yay-tsa/templates/feature-extractor-deployment.yaml
  charts/yay-tsa/values.yaml
Due: none

Release yay-tsa-0.4.3-main.435c305
  index.yaml
  yay-tsa-0.4.0-main.0f7ca99.tgz
  yay-tsa-0.4.3-main.435c305.tgz
Due: prettier

fix(web): Prevent mobile player bar from overlapping bottom navigation
  .pre-commit-config.yaml
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.19ebb87
  index.yaml
  yay-tsa-0.4.0-main.89050b3.tgz
  yay-tsa-0.4.3-main.19ebb87.tgz
Due: prettier

feat: Add metadata provider framework
  .pre-commit-config.yaml
  services/server/METADATA_PROVIDERS.md
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AcoustIdService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AggregatedMetadataService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MetadataProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MusicBrainzProvider.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

fix(web): Prevent mobile player bar from overlapping bottom navigation (#118)
  .pre-commit-config.yaml
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat: Add metadata provider framework (#120)
  services/server/METADATA_PROVIDERS.md
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AcoustIdService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AggregatedMetadataService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MetadataProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MusicBrainzProvider.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.e626b3c
  index.yaml
  yay-tsa-0.4.0-main.a7ab81c.tgz
  yay-tsa-0.4.3-main.e626b3c.tgz
Due: prettier

Release yay-tsa-0.4.3-main.aa19bfe
  index.yaml
  yay-tsa-0.4.0-main.a7e37ec.tgz
  yay-tsa-0.4.3-main.aa19bfe.tgz
Due: prettier

feat: Add Spotify, Genius, and Last.fm metadata providers
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/GeniusProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/LastFmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/SpotifyProvider.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

feat: Add Spotify, Genius, and Last.fm metadata providers (#121)
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/GeniusProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/LastFmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/SpotifyProvider.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

feat: Add track upload infrastructure and database migrations
  services/server/src/main/java/com/yaytsa/server/config/CacheConfig.java
  services/server/src/main/java/com/yaytsa/server/config/LibraryRootsConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AppSettingsService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AudioFingerprintService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AppSettingsEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AppSettingsRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
  services/server/src/main/java/com/yaytsa/server/util/PathUtils.java
  services/server/src/main/java/com/yaytsa/server/util/UuidUtils.java
  services/server/src/main/resources/application.yml
  services/server/src/main/resources/db/migration/V16__add_app_settings_and_album_completion.sql
  services/server/src/main/resources/db/migration/V17__add_audio_fingerprinting.sql
  services/server/src/main/resources/db/migration/V18__fix_fingerprint_index.sql
  services/server/src/main/resources/db/migration/V19__drop_transcode_jobs.sql
  services/server/src/main/resources/db/migration/V20__add_composite_index.sql
Due: prettier, maven-compile, maven-spotbugs, maven-pmd
