Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

feat(radio): add EssentiaAnalysisClient Java client (A2)
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/EssentiaAnalysisClient.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat(radio): replace LLM providers with Essentia audio analysis (A3)
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/ClaudeLlmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/LlmAnalysisProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/LlmPromptBuilder.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/MockLlmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/OpenAiLlmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/TrackAnalysisService.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat(radio): wire essentia-analyzer into compose, settings, and UI (A4)
  apps/web/src/pages/SettingsPage.tsx
  docker-compose.yml
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/resources/application.yml
Due: prettier, tsc-web, eslint, docker-compose-check, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

perf: batch-load play states, audio tracks, albums, and child counts in getItems (C3)
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AlbumRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

perf: change ItemEntity.itemGenres and .images to FetchType.LAZY (C4)
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ItemEntity.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix(security): enforce userId ownership in getItems, getItem, getAlbumTracks (C5)
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

refactor: delete dead TranscodeJob classes and merge PathUtils (C6)
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/PathUtils.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/TranscodeJobEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TranscodeJobRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/transcoding/FfmpegTranscoder.java
  services/server/src/main/java/com/yaytsa/server/util/PathUtils.java
  services/server/src/main/resources/db/migration/V16__drop_transcode_jobs.sql
Due: maven-compile, maven-spotbugs, maven-pmd

C7: extract duplicated UUID parsing into UuidUtils
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/util/UuidUtils.java
Due: maven-compile, maven-spotbugs, maven-pmd

C10: add composite index (type, sort_name) for /Items query
  services/server/src/main/resources/db/migration/V17__add_composite_index.sql
Due: maven-compile

C9: validate http/https scheme for service URL settings
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: add missing PathUtils import after fs→util move, fix albumIds variable shadow
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: make playStateMap effectively final for lambda capture in getItems
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: add @Transactional(readOnly=true) to ItemsController to fix LazyInitializationException
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: add @Transactional to RadioController, PlaylistsController, UploadController
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/RadioController.java
  services/server/src/main/java/com/yaytsa/server/controller/UploadController.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: resolve SonarQube quality gate failures
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  services/audio-separator/app.py
  services/essentia-analyzer/app.py
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: fix remaining SonarQube vulnerabilities in audio-separator
  services/audio-separator/app.py
Due: none

ci: Replace claude action with treemapper-enhanced code review
  .github/workflows/claude.yml
Due: prettier

Release yay-tsa-0.2.2-main.dfdd79b
  index.yaml
  yay-tsa-0.2.2-main.b39d027.tgz
  yay-tsa-0.2.2-main.dfdd79b.tgz
Due: prettier

fix: Downgrade eslint to v9 for plugin compatibility
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

fix: Add id-token permission for claude-code-action
  .github/workflows/claude.yml
Due: prettier

fix: Downgrade eslint to v9 for plugin compatibility (#108)
  .github/dependabot.yml
  .github/workflows/claude.yml
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

Release yay-tsa-0.2.2-main.c3fee0c
  index.yaml
  yay-tsa-0.2.2-main.c3fee0c.tgz
  yay-tsa-0.2.2-main.cffb555.tgz
Due: prettier

ci: Pin GitHub Actions to SHAs, fix regex ReDoS
  .github/workflows/ci.yml
  .github/workflows/release-chart.yml
  services/audio-separator/app.py
Due: prettier

ci: Pass treemapper_issues_token to review workflow
  .github/workflows/claude.yml
Due: prettier

ci: Pin GitHub Actions to SHAs, fix regex ReDoS
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/release-chart.yml
  services/audio-separator/app.py
Due: prettier

Release yay-tsa-0.2.2-main.ee14a9e
  index.yaml
  yay-tsa-0.2.2-main.c3fee0c.tgz
  yay-tsa-0.2.2-main.ee14a9e.tgz
Due: prettier

ci: Pin review workflow SHA, remove http adapter mount
  .github/workflows/claude.yml
  services/audio-separator/app.py
Due: prettier

ci: Pin review workflow SHA, remove insecure http adapter
  .github/workflows/claude.yml
  services/audio-separator/app.py
Due: prettier

Release yay-tsa-0.2.2-main.15e1f1f
  index.yaml
  yay-tsa-0.2.2-main.15e1f1f.tgz
  yay-tsa-0.2.2-main.d0f9adb.tgz
Due: prettier

fix: Match Android navigation bar color with app dark theme
  apps/web/public/manifest.webmanifest
Due: none

ci: Use Opus 4.6 for code review
  .github/workflows/claude.yml
Due: prettier

Release yay-tsa-0.2.2-main.0f8e392
  index.yaml
  yay-tsa-0.2.2-main.0f8e392.tgz
  yay-tsa-0.2.2-main.15e1f1f.tgz
Due: prettier

Release yay-tsa-0.2.2-main.106f0ac
  index.yaml
  yay-tsa-0.2.2-main.0f8e392.tgz
  yay-tsa-0.2.2-main.106f0ac.tgz
Due: prettier

fix(auth): register auth error callback only after successful login (#92)
  apps/web/src/features/auth/stores/auth.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.2.2-main.48d04bb
  index.yaml
  yay-tsa-0.2.2-main.106f0ac.tgz
  yay-tsa-0.2.2-main.48d04bb.tgz
Due: prettier

refactor: Compact services and controllers to reduce PR diff size
  services/server/src/main/java/com/yaytsa/server/controller/AdaptiveQueueController.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/controller/UserPreferencesController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueManager.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/QueuePolicyValidator.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TasteProfileService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/FeatureExtractionClient.java
Due: maven-compile, maven-spotbugs, maven-pmd
