Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

fix(web): Use globalThis instead of window (Sonar S7764)
  apps/web/src/app/infra/chunk-reload.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000810-g5933e3b
  index.yaml
  yay-tsa-0.5.1-main.r0000000809-g47d23db.tgz
  yay-tsa-0.5.1-main.r0000000810-g5933e3b.tgz
  yay-tsa-stack-0.1.0-main.r0000000809-g47d23db.tgz
  yay-tsa-v2-0.1.0-main.r0000000799-g584349d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000810-g5933e3b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000810-g5933e3b.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000810-g5933e3b
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000810-g5933e3b.tgz
Due: prettier

docs: Record chunk-reload, disk-pressure, CI-cancel learnings
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000811-g7115152
  index.yaml
  yay-tsa-0.5.1-main.r0000000810-g5933e3b.tgz
  yay-tsa-0.5.1-main.r0000000811-g7115152.tgz
  yay-tsa-stack-0.1.0-main.r0000000810-g5933e3b.tgz
  yay-tsa-v2-0.1.0-main.r0000000800-g27645fd.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000811-g7115152
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000811-g7115152.tgz
Due: prettier

fix(ci): Downgrade ZAP SQLi FP on Sessions/Playing prefix
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000812-ge6da2c4
  index.yaml
  yay-tsa-0.5.1-main.r0000000811-g7115152.tgz
  yay-tsa-0.5.1-main.r0000000812-ge6da2c4.tgz
  yay-tsa-stack-0.1.0-main.r0000000811-g7115152.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000812-ge6da2c4
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000812-ge6da2c4.tgz
Due: prettier

fix: Resolve ListenBrainz username to real UserId, fix personalized pagination totals
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PersonalizedTracksPaginationIntegrationTest.kt
  yay-tsa-v2/infra-notifications/build.gradle.kts
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/scrobble/ListenBrainzScrobbleSubmitter.kt
  yay-tsa-v2/infra-notifications/src/test/kotlin/dev/yaytsa/infranotifications/scrobble/ListenBrainzScrobbleIntegrationTest.kt
  yay-tsa-v2/infra-notifications/src/test/kotlin/dev/yaytsa/infranotifications/scrobble/ListenBrainzScrobbleUnresolvedUsernameIntegrationTest.kt
  yay-tsa-v2/infra-notifications/src/test/kotlin/dev/yaytsa/infranotifications/scrobble/ScrobbleTestApplication.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000813-g1df1ffb
  index.yaml
  yay-tsa-0.5.1-main.r0000000812-ge6da2c4.tgz
  yay-tsa-0.5.1-main.r0000000813-g1df1ffb.tgz
  yay-tsa-v2-0.1.0-main.r0000000801-g5424e80.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000813-g1df1ffb
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000813-g1df1ffb.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000813-g1df1ffb
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000813-g1df1ffb.tgz
Due: prettier

fix: Address code-review findings across pagination, playlists, CI gating
  .github/workflows/ci.yml
  QA.md
  apps/web/src/app/infra/chunk-reload.ts
  apps/web/src/features/library/hooks/useLibraryScan.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/playlists/components/CreatePlaylistModal.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/PlaylistDetailPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/shared/ui/SortableList.tsx
  apps/web/tests/e2e/chunk-reload.mocked.spec.ts
  apps/web/tests/e2e/playlists.mocked.spec.ts
  services/audio-ml/requirements/test.txt
  services/audio-ml/tests/test_seed_selector.py
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/UploadedTrackIngest.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/UploadedTrackIngestTest.kt
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000814-gb6836e1
  index.yaml
  yay-tsa-0.5.1-main.r0000000813-g1df1ffb.tgz
  yay-tsa-0.5.1-main.r0000000814-gb6836e1.tgz
  yay-tsa-stack-0.1.0-main.r0000000813-g1df1ffb.tgz
  yay-tsa-v2-0.1.0-main.r0000000802-gb663cd4.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000814-gb6836e1
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000814-gb6836e1.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000814-gb6836e1
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000814-gb6836e1.tgz
Due: prettier

fix(web): Add missing assertion and justify forced click (SonarCloud)
  apps/web/tests/e2e/chunk-reload.mocked.spec.ts
  apps/web/tests/e2e/playlists.mocked.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.5.1-main.r0000000815-g549d94c
  index.yaml
  yay-tsa-0.5.1-main.r0000000814-gb6836e1.tgz
  yay-tsa-0.5.1-main.r0000000815-g549d94c.tgz
  yay-tsa-stack-0.1.0-main.r0000000814-gb6836e1.tgz
  yay-tsa-v2-0.1.0-main.r0000000803-g79bb9ec.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000815-g549d94c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000815-g549d94c.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000815-g549d94c
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000815-g549d94c.tgz
Due: prettier

fix: Guard empty-candidate edge case in seed diversity sampling
  services/audio-ml/radio/seed_selector.py
Due: none

Release yay-tsa-0.5.1-main.r0000000816-gd7a1ec8
  index.yaml
  yay-tsa-0.5.1-main.r0000000815-g549d94c.tgz
  yay-tsa-0.5.1-main.r0000000816-gd7a1ec8.tgz
  yay-tsa-stack-0.1.0-main.r0000000815-g549d94c.tgz
  yay-tsa-v2-0.1.0-main.r0000000804-g9e9ef62.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000816-gd7a1ec8
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000816-gd7a1ec8.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000816-gd7a1ec8
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000816-gd7a1ec8.tgz
Due: prettier

docs: Correct stale Daily Mix comment, document dead personalization path
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000817-g3fd5c46
  index.yaml
  yay-tsa-0.5.1-main.r0000000816-gd7a1ec8.tgz
  yay-tsa-0.5.1-main.r0000000817-g3fd5c46.tgz
  yay-tsa-stack-0.1.0-main.r0000000816-gd7a1ec8.tgz
  yay-tsa-v2-0.1.0-main.r0000000806-g766728c.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000817-g3fd5c46
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000817-g3fd5c46.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000817-g3fd5c46
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000817-g3fd5c46.tgz
Due: prettier

fix: Retry random-fill in personalized tracks when filtering under-fills a page
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000818-g710c53c
  index.yaml
  yay-tsa-0.5.1-main.r0000000817-g3fd5c46.tgz
  yay-tsa-0.5.1-main.r0000000818-g710c53c.tgz
  yay-tsa-stack-0.1.0-main.r0000000817-g3fd5c46.tgz
  yay-tsa-v2-0.1.0-main.r0000000807-gd59f873.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000818-g710c53c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000818-g710c53c.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000818-g710c53c
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000818-g710c53c.tgz
Due: prettier

fix: Retry-loop shortfall was computed from raw candidates, not post-filter
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PersonalizedTracksPaginationIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000819-g8c2be35
  index.yaml
  yay-tsa-0.5.1-main.r0000000818-g710c53c.tgz
  yay-tsa-0.5.1-main.r0000000819-g8c2be35.tgz
  yay-tsa-stack-0.1.0-main.r0000000818-g710c53c.tgz
  yay-tsa-v2-0.1.0-main.r0000000808-g800c063.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000819-g8c2be35
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000819-g8c2be35.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000819-g8c2be35
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000819-g8c2be35.tgz
Due: prettier

ci: Bump autoqa pin and enable baseline-fail-on-new
  .github/workflows/ci.yml
Due: prettier

fix: Root-cause the identical-embeddings seed selection failure
  services/audio-ml/radio/seed_selector.py
Due: none
