Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

feat: Gapless playback, orphan cleanup, favorites sync, UI fixes, admin security
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
  packages/core/src/player/queue.ts
  packages/platform/src/audio.interface.ts
  packages/platform/src/web/html5-audio.ts
  services/server/src/main/java/com/yaytsa/server/config/AdminUserInitializer.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AlbumRepository.java
  services/server/src/main/resources/db/migration/V8__add_parent_update_cleanup_trigger.sql
  services/server/src/main/resources/db/migration/V9__remove_hardcoded_admin.sql
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.402a6ae
  index.yaml
  yay-tsa-0.1.0-main.402a6ae.tgz
Due: prettier

fix: Pass admin credentials to backend in docker-compose for tests
  docker-compose.yml
Due: prettier, docker-compose-check

Release yay-tsa-0.1.0-main.54e4ead
  index.yaml
  yay-tsa-0.1.0-main.54e4ead.tgz
Due: prettier

feat: Add synced lyrics auto-fetching via audio-separator sidecar
  services/audio-separator/app.py
  services/audio-separator/requirements/cpu.txt
  services/audio-separator/requirements/gpu.txt
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LibraryScanService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LyricsFetcherClient.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.63892eb
  index.yaml
  yay-tsa-0.1.0-main.29831ee.tgz
  yay-tsa-0.1.0-main.63892eb.tgz
Due: prettier

feat: Play history with scrobble logic, WebAudio routing, CI test fix
  .github/workflows/ci.yml
  packages/platform/src/web/html5-audio.ts
  packages/platform/src/web/vocal-removal.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/PlayHistoryEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/SessionEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayHistoryRepository.java
  services/server/src/main/resources/db/migration/V10__add_play_history.sql
Due: prettier, eslint, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

feat: Seamless karaoke switch, safe area insets, mobile layout fixes
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(web): Add safe area insets to lyrics, player bar, and toasts
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/shared/ui/Toast.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.1.0-main.700b020
  index.yaml
  yay-tsa-0.1.0-main.402a6ae.tgz
  yay-tsa-0.1.0-main.700b020.tgz
Due: prettier

fix: Race conditions, IP validation, and request limit cap
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/api/auth.service.ts
  packages/platform/src/web/vocal-removal.ts
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.79e318b
  index.yaml
  yay-tsa-0.1.0-main.4abdd99.tgz
  yay-tsa-0.1.0-main.79e318b.tgz
Due: prettier

fix: Gapless playback broken — seamlessSwitch skipped play after ended
  apps/web/src/features/player/stores/player.store.ts
  packages/platform/src/web/html5-audio.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.1.0-main.42554ed
  index.yaml
  yay-tsa-0.1.0-main.42554ed.tgz
  yay-tsa-0.1.0-main.54e4ead.tgz
Due: prettier

feat: Multi-source lyrics fetcher with cross-validation and force refetch
  apps/web/src/pages/SettingsPage.tsx
  packages/core/src/api/admin.service.ts
  packages/core/src/index.ts
  packages/core/src/lyrics/lrc-parser.ts
  services/audio-separator/app.py
  services/audio-separator/requirements/cpu.txt
  services/audio-separator/requirements/gpu.txt
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LyricsFetcherClient.java
  services/server/src/main/java/com/yaytsa/server/mapper/UserMapper.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.1bc31dd
  index.yaml
  yay-tsa-0.1.0-main.1bc31dd.tgz
  yay-tsa-0.1.0-main.42554ed.tgz
Due: prettier

fix: Eager fetch item and album.parent for lyrics fetch
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.8da83c1
  index.yaml
  yay-tsa-0.1.0-main.1bc31dd.tgz
  yay-tsa-0.1.0-main.8da83c1.tgz
Due: prettier

fix: Concurrency fixes, karaoke resilience, track pause button
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/SongsPage.tsx
  packages/platform/src/audio.interface.ts
  packages/platform/src/web/html5-audio.ts
  scripts/generate-test-media.sh
  scripts/init-test-library.sh
  services/server/src/main/java/com/yaytsa/server/domain/service/AuthService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlayStateService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ApiTokenRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayStateRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/UserRepository.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.f7df652
  index.yaml
  yay-tsa-0.1.0-main.63892eb.tgz
  yay-tsa-0.1.0-main.f7df652.tgz
Due: prettier

fix: Prevent karaoke toggle race condition on rapid clicks
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.1.0-main.4730f66
  index.yaml
  yay-tsa-0.1.0-main.4730f66.tgz
  yay-tsa-0.1.0-main.700b020.tgz
Due: prettier

feat: Fetch lyrics on-demand when track playback starts
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.290ddfb
  index.yaml
  yay-tsa-0.1.0-main.290ddfb.tgz
  yay-tsa-0.1.0-main.4730f66.tgz
Due: prettier

fix: Optimize karaoke toggle latency and show icons-only on mobile nav
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/RootLayout.tsx
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.1.0-main.db9a2f3
  index.yaml
  yay-tsa-0.1.0-main.290ddfb.tgz
  yay-tsa-0.1.0-main.db9a2f3.tgz
Due: prettier

fix: Toggle play/pause on album detail page button
  apps/web/src/pages/AlbumDetailPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.1.0-main.8f56aa8
  index.yaml
  yay-tsa-0.1.0-main.79e318b.tgz
  yay-tsa-0.1.0-main.8f56aa8.tgz
Due: prettier

fix: Prevent login page flash on refresh with valid token
  apps/web/src/features/auth/stores/auth.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.1.0-main.f342c5c
  index.yaml
  yay-tsa-0.1.0-main.840d6ae.tgz
  yay-tsa-0.1.0-main.f342c5c.tgz
Due: prettier

fix: Gapless architecture refactor — race-free transitions + karaoke-aware preload
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
  packages/platform/src/audio.interface.ts
  packages/platform/src/web/html5-audio.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

fix: Propagate play() errors and fix gapless fallback skip
  apps/web/src/features/player/stores/player.store.ts
  packages/platform/src/web/html5-audio.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

fix: Prevent audio stopping when PWA is backgrounded
  apps/web/src/features/player/stores/player.store.ts
  packages/platform/src/index.ts
  packages/platform/src/web/html5-audio.ts
  packages/platform/src/web/wake-lock.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

fix(web): Fix E2E test stability — DOM audio, SPA nav, a11y, strict mode
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
  apps/web/tests/e2e/accessibility.spec.ts
  apps/web/tests/e2e/auth.spec.ts
  apps/web/tests/e2e/library.spec.ts
  apps/web/tests/e2e/page-objects/LibraryPage.ts
  apps/web/tests/e2e/page-objects/LoginPage.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/queue.spec.ts
  apps/web/tests/e2e/responsive.spec.ts
  apps/web/tests/e2e/search.spec.ts
  packages/platform/src/web/html5-audio.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

feat(helm): Clean chart interface with dynamic middlewares
  charts/yay-tsa/Chart.yaml
  charts/yay-tsa/templates/api-ingress.yaml
  charts/yay-tsa/templates/audio-separator-deployment.yaml
  charts/yay-tsa/templates/pwa-ingress.yaml
  charts/yay-tsa/values.yaml
Due: none

fix: Downgrade eslint to v9 for typescript-eslint compatibility
  apps/web/package.json
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

Release yay-tsa-0.2.0-main.3d7b25b
  index.yaml
  yay-tsa-0.1.0-main.8da83c1.tgz
  yay-tsa-0.2.0-main.3d7b25b.tgz
Due: prettier

feat: On-demand lyrics fetch + multi-source web search + bug fixes
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/playback-controller.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/preload-manager.ts
  apps/web/src/pages/SettingsPage.tsx
  packages/core/src/api/admin.service.ts
  packages/core/src/api/api.client.ts
  packages/core/src/index.ts
  packages/core/src/player/queue.ts
  services/audio-separator/app.py
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/controller/LyricsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LibraryScanService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsFetchService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LyricsFetcherClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix: Revert dependabot eslint v10 bump for typescript-eslint compat
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

Release yay-tsa-0.2.0-main.bf22c21
  index.yaml
  yay-tsa-0.1.0-main.8f56aa8.tgz
  yay-tsa-0.2.0-main.bf22c21.tgz
Due: prettier
