Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-0.4.3-main.6a7a54c
  index.yaml
  yay-tsa-0.4.3-main.5984454.tgz
  yay-tsa-0.4.3-main.6a7a54c.tgz
Due: prettier

fix: Enforce artist frequency cap at queue insertion level
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.5992ebc
  index.yaml
  yay-tsa-0.4.3-main.5992ebc.tgz
  yay-tsa-0.4.3-main.6a7a54c.tgz
Due: prettier

fix: Add sr-only h1 to HomePage for mobile E2E tests
  apps/web/src/pages/HomePage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.975f9fb
  index.yaml
  yay-tsa-0.4.3-main.5992ebc.tgz
  yay-tsa-0.4.3-main.975f9fb.tgz
Due: prettier

feat: clickable artist links, artist favorite, song thumbs up/down
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: keep heart on track list, show thumbs up/down only for current track
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.119b0f0
  index.yaml
  yay-tsa-0.4.3-main.119b0f0.tgz
  yay-tsa-0.4.3-main.975f9fb.tgz
Due: prettier

fix: make DJ feedback buttons clickable on all queue tracks
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.3c9d29a
  index.yaml
  yay-tsa-0.4.3-main.119b0f0.tgz
  yay-tsa-0.4.3-main.3c9d29a.tgz
Due: prettier

fix: add visual feedback for thumbs down on non-current queue tracks
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.552a9b2
  index.yaml
  yay-tsa-0.4.3-main.3c9d29a.tgz
  yay-tsa-0.4.3-main.552a9b2.tgz
Due: prettier

feat: remove track from DJ queue on thumbs down
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.57299c1
  index.yaml
  yay-tsa-0.4.3-main.552a9b2.tgz
  yay-tsa-0.4.3-main.57299c1.tgz
Due: prettier

refactor: Remove dead code, config, and abstractions from overengineering audit
  .github/actions/docker-build/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  charts/yay-tsa/templates/hpa.yaml
  charts/yay-tsa/values.yaml
  packages/core/src/api/api.client.ts
  packages/core/src/internal/models/types.ts
  services/server/.env.example
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AdaptiveQueueController.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/controller/TrackFeaturesController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaylistService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TrackFeaturesService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/BaseItemResponse.java
  services/server/src/main/java/com/yaytsa/server/error/ItemNotFoundException.java
  services/server/src/main/java/com/yaytsa/server/error/PlaylistEntryNotFoundException.java
  services/server/src/main/java/com/yaytsa/server/error/PlaylistNotFoundException.java
  services/server/src/main/resources/application.yml
Due: prettier, eslint, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.2701b54
  index.yaml
  yay-tsa-0.4.3-main.2701b54.tgz
  yay-tsa-0.4.3-main.57299c1.tgz
Due: prettier

fix: Fix silent-pass tests, dead code, and stale docs
  .nvmrc
  CLAUDE.md
  README.md
  apps/web/vite.config.ts
  infra/nginx/nginx.conf.template
  packages/core/README.md
  packages/core/tests/integration/library.integration.test.ts
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/LlmDecisionLogEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/LlmDecisionLogRepository.java
  services/server/src/main/resources/application.yml
  services/server/src/test/java/com/yaytsa/server/integration/BaseIntegrationTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ImagesApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ItemsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/KaraokeApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ListeningSessionApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/PlaylistsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/SessionsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/StreamingApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/UsersApiTest.java
Due: prettier, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.8311bba
  index.yaml
  yay-tsa-0.4.3-main.2701b54.tgz
  yay-tsa-0.4.3-main.8311bba.tgz
Due: prettier

fix: Fix SonarQube issues — accessibility, security, complexity
  .github/actions/docker-build/action.yml
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/pages/SongsPage.tsx
  packages/core/src/api/api.client.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.5f8b436
  index.yaml
  yay-tsa-0.4.3-main.5f8b436.tgz
  yay-tsa-0.4.3-main.8311bba.tgz
Due: prettier

fix: Repair CI failures in E2E and integration tests
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/playback.spec.ts
  apps/web/tests/e2e/queue.spec.ts
  apps/web/tests/e2e/radio.spec.ts
  scripts/generate-test-media.sh
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.dc02974
  index.yaml
  yay-tsa-0.4.3-main.5f8b436.tgz
  yay-tsa-0.4.3-main.dc02974.tgz
Due: prettier

fix: Generate audio MP3 in two steps to preserve Xing frame for duration
  scripts/generate-test-media.sh
Due: none

Release yay-tsa-0.4.3-main.72a802a
  index.yaml
  yay-tsa-0.4.3-main.72a802a.tgz
  yay-tsa-0.4.3-main.dc02974.tgz
Due: prettier

feat(android): add release build config with R8 minification
  apps/android-app/.gitignore
  apps/android-app/app/build.gradle.kts
  apps/android-app/app/proguard-rules.pro
Due: none

fix: services/audio-separator/requirements/cpu.txt to reduce vulnerabilities
  services/audio-separator/requirements/cpu.txt
Due: none

fix: services/audio-separator/requirements/gpu.txt to reduce vulnerabilities
  services/audio-separator/requirements/gpu.txt
Due: none

fix: Replace Math.random() fallback with crypto.randomUUID() in Toast
  apps/web/src/shared/ui/Toast.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.8e718d7
  index.yaml
  yay-tsa-0.4.3-main.72a802a.tgz
  yay-tsa-0.4.3-main.8e718d7.tgz
Due: prettier

fix: Bump requests to >=2.33.0 in audio-separator requirements
  services/audio-separator/requirements/cpu.txt
  services/audio-separator/requirements/gpu.txt
Due: none

Release yay-tsa-0.4.3-main.f5b7b40
  index.yaml
  yay-tsa-0.4.3-main.8e718d7.tgz
  yay-tsa-0.4.3-main.f5b7b40.tgz
Due: prettier

fix: Add content-based ETag fallback for images without DB entity
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.d38b9b3
  index.yaml
  yay-tsa-0.4.3-main.d38b9b3.tgz
  yay-tsa-0.4.3-main.f211be7.tgz
Due: prettier

fix: Replace Math.random() fallback with crypto.getRandomValues() in Toast
  apps/web/src/shared/ui/Toast.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.b82b11e
  index.yaml
  yay-tsa-0.4.3-main.b82b11e.tgz
  yay-tsa-0.4.3-main.d38b9b3.tgz
Due: prettier

fix: Add mobile viewport support to E2E tests and fix radio test FK violation
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/shared/ui/MarqueeText.tsx
  apps/web/tests/e2e/lyrics.spec.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/playback.spec.ts
  apps/web/tests/e2e/queue.spec.ts
  apps/web/tests/e2e/radio.spec.ts
  apps/web/tests/e2e/sleep-timer.spec.ts
  apps/web/tests/e2e/volume.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.5fd7a37
  index.yaml
  yay-tsa-0.4.3-main.5fd7a37.tgz
  yay-tsa-0.4.3-main.b82b11e.tgz
Due: prettier

fix: Use test.info() for mobile skip and wait for playing state in E2E
  apps/web/tests/e2e/lyrics.spec.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/sleep-timer.spec.ts
  apps/web/tests/e2e/volume.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.f3a3271
  index.yaml
  yay-tsa-0.4.3-main.5fd7a37.tgz
  yay-tsa-0.4.3-main.f3a3271.tgz
Due: prettier
