Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix(core): Cluster only positive-affinity tracks, weight centroid by like strength
  services/audio-ml/taste_clusters.py
Due: none

Release yay-tsa-0.5.1-main.r0000000571-g777d77d
  index.yaml
  yay-tsa-0.5.1-main.r0000000570-g6c93fca.tgz
  yay-tsa-0.5.1-main.r0000000571-g777d77d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000571-g777d77d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000571-g777d77d.tgz
Due: prettier

docs: Record QA learnings for ML CronJob, lyrics, MPD, pre-commit cache
  QA.md
Due: prettier

fix(helm): Label feature-extractor CronJob component=ml for DB netpol
  charts/yay-tsa/templates/feature-extractor-cronjob.yaml
  charts/yay-tsa/templates/networkpolicy.yaml
Due: none

fix(ci): Use [[ ]] and stderr redirect in android dev-install (SonarCloud)
  apps/android-twa/dev-install.sh
Due: none

ci: Add pre-commit cache restore-keys to survive config-hash changes
  .github/workflows/ci.yml
Due: prettier

fix(core): Use short-lived DB connections in ML extractor (pooler idle-close)
  services/audio-ml/extractor_cli.py
Due: none

docs: Record ML CronJob NetworkPolicy + DB connection-lifecycle findings
  QA.md
Due: prettier

fix(web): Set $backend before rewrite break so audio stream proxy works
  infra/nginx/nginx.conf.template
Due: docker-build

Release yay-tsa-v2-0.1.0-main.r0000000572-g3b6afeb
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000562-gd5f70b8.tgz
  yay-tsa-v2-0.1.0-main.r0000000572-g3b6afeb.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000572-g3b6afeb
  index.yaml
  yay-tsa-0.5.1-main.r0000000571-g777d77d.tgz
  yay-tsa-0.5.1-main.r0000000572-g3b6afeb.tgz
  yay-tsa-v2-0.1.0-main.r0000000563-g171ce26.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000573-g28903b7
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000573-g28903b7.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000573-g28903b7
  index.yaml
  yay-tsa-0.5.1-main.r0000000572-g3b6afeb.tgz
  yay-tsa-0.5.1-main.r0000000573-g28903b7.tgz
  yay-tsa-v2-0.1.0-main.r0000000564-gd271750.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000574-g0f4b47d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000574-g0f4b47d.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000574-g0f4b47d
  index.yaml
  yay-tsa-0.5.1-main.r0000000573-g28903b7.tgz
  yay-tsa-0.5.1-main.r0000000574-g0f4b47d.tgz
  yay-tsa-v2-0.1.0-main.r0000000565-ge2383d2.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000575-g77ae2f4
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000575-g77ae2f4.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000575-g77ae2f4
  index.yaml
  yay-tsa-0.5.1-main.r0000000574-g0f4b47d.tgz
  yay-tsa-0.5.1-main.r0000000575-g77ae2f4.tgz
  yay-tsa-v2-0.1.0-main.r0000000566-g8b65500.tgz
Due: prettier

fix(platform): Permit ASYNC and ERROR dispatch so SSE endpoints authorize
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/SecurityConfig.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000576-ge0fd914
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000576-ge0fd914.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000576-ge0fd914
  index.yaml
  yay-tsa-0.5.1-main.r0000000575-g77ae2f4.tgz
  yay-tsa-0.5.1-main.r0000000576-ge0fd914.tgz
  yay-tsa-v2-0.1.0-main.r0000000567-gfa2710d.tgz
Due: prettier

feat(web): Media Session position state + full-player artwork backdrop
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat(platform): Wire karaoke worker to GPU audio-separator sidecar
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/infra-karaoke-worker/build.gradle.kts
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000577-gca18a6e
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000577-gca18a6e.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000577-gca18a6e
  index.yaml
  yay-tsa-0.5.1-main.r0000000576-ge0fd914.tgz
  yay-tsa-0.5.1-main.r0000000577-gca18a6e.tgz
  yay-tsa-v2-0.1.0-main.r0000000568-g037d437.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000578-g11f6c0c
  index.yaml
  yay-tsa-0.5.1-main.r0000000577-gca18a6e.tgz
  yay-tsa-0.5.1-main.r0000000578-g11f6c0c.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000578-g11f6c0c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000578-g11f6c0c.tgz
Due: prettier

fix(platform): RFC7807 problem+json on 401/403 from security filters
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/ProblemDetailSecurityHandler.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/SecurityConfig.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AuthIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000579-g24a9f11
  index.yaml
  yay-tsa-0.5.1-main.r0000000578-g11f6c0c.tgz
  yay-tsa-0.5.1-main.r0000000579-g24a9f11.tgz
  yay-tsa-v2-0.1.0-main.r0000000569-gdf082fa.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000579-g24a9f11
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000579-g24a9f11.tgz
Due: prettier

refactor(platform): Drop inert transaction around long separation call
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000580-g4f45374
  index.yaml
  yay-tsa-0.5.1-main.r0000000579-g24a9f11.tgz
  yay-tsa-0.5.1-main.r0000000580-g4f45374.tgz
  yay-tsa-v2-0.1.0-main.r0000000570-g6c93fca.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000580-g4f45374
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000580-g4f45374.tgz
Due: prettier

docs(platform): Document RFC7807 401/403 security-filter QA finding
  QA.md
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000581-gf2336e4
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000571-g777d77d.tgz
  yay-tsa-v2-0.1.0-main.r0000000581-gf2336e4.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000581-gf2336e4
  index.yaml
  yay-tsa-0.5.1-main.r0000000580-g4f45374.tgz
  yay-tsa-0.5.1-main.r0000000581-gf2336e4.tgz
  yay-tsa-v2-0.1.0-main.r0000000572-g3b6afeb.tgz
Due: prettier

fix(platform): Commit missing SeparatorClient used by KaraokeProcessor
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/SeparatorClient.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000582-g0986c22
  index.yaml
  yay-tsa-0.5.1-main.r0000000581-gf2336e4.tgz
  yay-tsa-0.5.1-main.r0000000582-g0986c22.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000582-g0986c22
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000582-g0986c22.tgz
Due: prettier

fix(ci): Exclude audited subsonic SQLi false-positive from ZAP gate
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
