Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix(web): Stop stale tabs and stop() from clobbering audiobook resume
  apps/web/src/features/audiobooks/stores/local-resume.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
  packages/core/src/player/playback-state.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

feat(core): Serve embedded tag artwork as cover fallback, declare id pattern
  yay-tsa-v2/adapter-jellyfin/build.gradle.kts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/EmbeddedArtworkService.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinMediaController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConfig.kt
Due: none

docs: Record 2026-06-12 QA session findings
  QA.md
Due: prettier

fix(deps): security overrides for axios, lodash, tmp, uuid (0 vulns)
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

fix(web): Drop dead objectUrls map, extract resume and label helpers
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AudiobooksPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(helm): Hash config values not manifest to stop restart per release
  charts/yay-tsa-v2/templates/backend-deployment.yaml
Due: none

fix(web): Collapse downloads list in settings and sort by size desc
  apps/web/src/features/offline/components/OfflineManager.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

test(web): Share media fixtures, fix devices stub, unskip favorites sync
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
  apps/web/tests/e2e/helpers/media-fixtures.ts
  apps/web/tests/e2e/offline.mocked.spec.ts
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build, jscpd

ci: merge dependabot PRs with PAT so CI triggers
  .github/workflows/automerge.yml
Due: prettier

ci: drop legacy v1 CI (superseded by v2-ci, red on every push)
  .github/workflows/ci.yml
Due: prettier

style: Format index.html and automerge workflow to satisfy CI prettier
  .github/workflows/automerge.yml
  apps/web/index.html
Due: prettier

test(web): Extract shared mocked-backend base to cut spec duplication
  apps/web/tests/e2e/audiobook-mobile.mocked.spec.ts
  apps/web/tests/e2e/audiobooks.mocked.spec.ts
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
  apps/web/tests/e2e/helpers/media-fixtures.ts
  apps/web/tests/e2e/queue-panel.mocked.spec.ts
  apps/web/tests/e2e/search-debounce.mocked.spec.ts
Due: prettier, jscpd

fix(core): Positional playlist Move, UTF-8 Subsonic JSON, 404 wrapped UUID
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicResponseWriter.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaylistsIntegrationTest.kt
Due: none

chore(ci): Bump autoqa pin cdd60fe -> 1bca73b
  .github/workflows/ci.yml
Due: prettier

test(web): Drop stale fixme note on active favorites-sync spec
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
Due: prettier, jscpd

fix(core): Drop temp-file write and path leak from upload stub
  QA.md
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinTracksUploadController.kt
Due: prettier

docs: Record 2026-06-13 QA session findings
  QA.md
Due: prettier

docs(config): Slim QA.md to project-specific scope, dedupe to skill
  QA.md
Due: prettier

fix(web): Surface data-view errors and confirm destructive actions
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/player/components/GroupSyncPanel.tsx
  apps/web/src/features/player/components/LyricsScroller.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/QueuePanel.tsx
  apps/web/src/features/player/components/SeekBar.tsx
  apps/web/src/features/player/components/SleepTimerModal.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/ui/InfiniteScrollFooter.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

chore(ci): Bump autoqa pin f6cbc30 -> 684072d
  .github/workflows/ci.yml
Due: prettier

fix(docker): Proxy /rest to backend so Subsonic works on public URL
  .github/workflows/ci.yml
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/library/components/MediaCard.tsx
  apps/web/src/features/offline/stores/cache-eviction.ts
  apps/web/src/features/player/components/LyricsScroller.tsx
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/shared/components/UpdatePrompt.tsx
  apps/web/src/shared/perf/perf.ts
  infra/nginx/nginx.conf.template
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

docs(config): Record Subsonic nginx routing, autoqa budget, Sonar key
  QA.md
Due: prettier

fix(web): Surface offline errors, confirm sign-out, fix touch/a11y gaps
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/offline/components/DownloadButton.tsx
  apps/web/src/features/offline/components/OfflineManager.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/ui/SortMenu.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

refactor: Dedupe hashing/logger/retry, drop madge, add ruff S rules
  apps/web/src/features/player/stores/playback-controller.ts
  apps/web/src/shared/utils/logger.ts
  package-lock.json
  package.json
  packages/core/src/api/api.client.ts
  scripts/check-dto-drift.py
  services/audio-ml/db.py
  services/audio-ml/extractor_cli.py
  services/audio-ml/lyrics_sync.py
  services/audio-ml/pyproject.toml
  services/audio-ml/taste_clusters.py
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/EmbeddedArtworkService.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/ThumbnailService.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdCommandHandler.kt
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdTrackFormatter.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicAuthFilter.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/core-application/shared/src/main/kotlin/dev/yaytsa/application/shared/PayloadFingerprint.kt
  yay-tsa-v2/core-domain/shared/src/main/kotlin/dev/yaytsa/shared/Hashing.kt
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, docker-build, jscpd, no-console

test(web): Update logout spec for two-step sign-out confirm
  apps/web/tests/e2e/auth-persistence.mocked.spec.ts
Due: prettier, jscpd

docs: Record solo-on-main git workflow and stale-branch policy
  CLAUDE.md
Due: prettier

fix: Serve problem+json for nginx rate-limit 429 and document logout 204
  .github/workflows/ci.yml
  infra/nginx/nginx.conf.template
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
Due: prettier, docker-build

docs: Remove stale migration/review docs and stray root screenshots
  REVIEW_CORRECTNESS.md
  REVIEW_TESTS.md
  albums-mobile-with-player.png
  home-after-radio-click.png
  settings-dj-prefs.png
  yay-tsa-v2/ANALYSIS.md
  yay-tsa-v2/ISSUES.md
  yay-tsa-v2/docs/gap-analysis.md
  yay-tsa-v2/docs/rollback-plan.md
Due: prettier

feat(web): Compact radio list, favorites search, lyrics auto-close on nav
  apps/web/src/features/offline/components/DownloadTracksButton.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat: Exclude audiobooks, add Home favorites section, byte-budget cache
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/library/components/FavoriteSongs.tsx
  apps/web/src/features/library/components/index.ts
  apps/web/src/features/library/hooks/useTracks.ts
  apps/web/src/features/offline/components/OfflineManager.tsx
  apps/web/src/features/offline/stores/cache-eviction.test.ts
  apps/web/src/features/offline/stores/cache-eviction.ts
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/pages/HomePage.tsx
  packages/core/src/api/items.service.ts
  packages/core/src/internal/models/types.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsPaginationIntegrationTest.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

refactor(web): Replace Songs tab with global Search, drop Offline tab
  apps/web/src/app/App.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SearchPage.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/testing/test-ids.ts
  apps/web/tests/e2e/accessibility.spec.ts
  apps/web/tests/e2e/audiobook-mobile.mocked.spec.ts
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
  apps/web/tests/e2e/helpers/test-ids.ts
  apps/web/tests/e2e/offline.mocked.spec.ts
  apps/web/tests/e2e/perf-regression.spec.ts
  apps/web/tests/e2e/queue-panel.mocked.spec.ts
  apps/web/tests/e2e/search.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat: Per-item offline badges, change-password, artwork prefetch, auto-refresh
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/hooks/useInfiniteLibraryQuery.ts
  apps/web/src/features/library/hooks/usePrefetchArtwork.ts
  apps/web/src/features/offline/components/DownloadButton.tsx
  apps/web/src/features/offline/components/OfflineBadge.tsx
  apps/web/src/features/offline/index.ts
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/lib/query-client.ts
  apps/web/src/shared/utils/prefetch-image.ts
  packages/core/src/api/auth.service.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AuthIntegrationTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

test(web): Assert icon-only album download state via aria-label
  apps/web/tests/e2e/offline.mocked.spec.ts
Due: prettier, jscpd

style: Apply spotless ktlint formatting to v2 auth and items controllers
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AuthIntegrationTest.kt
Due: none

refactor(web): Clear SonarCloud smells in download button, search, items params
  apps/web/src/features/library/components/FavoriteSongs.tsx
  apps/web/src/features/offline/components/DownloadTracksButton.tsx
  apps/web/src/pages/SearchPage.tsx
  packages/core/src/api/items.service.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

test(web): Add createLogger to core mock so auth.store suite loads
  apps/web/src/features/auth/stores/auth.store.test.ts
Due: prettier, tsc-web, jscpd, no-console

docs: Record backend-rollout 502 QA artifact and audiobook filter layering
  QA.md
Due: prettier

fix: Hide internal /error dispatch endpoint from OpenAPI doc
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/ProblemDetailErrorController.kt
Due: none

feat: Home search, Explore-new feed, panel auto-close, audiobook-free albums/artists
  apps/web/src/features/library/components/ExploreNew.tsx
  apps/web/src/features/library/components/index.ts
  apps/web/src/features/library/hooks/index.ts
  apps/web/src/features/library/hooks/useAlbums.ts
  apps/web/src/features/library/hooks/useArtists.ts
  apps/web/src/features/library/hooks/useDiscover.ts
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/SearchPage.tsx
  packages/core/src/api/adaptive-dj.service.ts
  packages/core/src/api/items.service.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsPaginationIntegrationTest.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

feat: Add metadata-enricher worker (MusicBrainz IDs + Cover Art Archive)
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
  yay-tsa-v2/Dockerfile
  yay-tsa-v2/app/build.gradle.kts
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/infra-metadata-enricher/build.gradle.kts
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/CoverArtArchiveClient.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MusicBrainzClient.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/RateLimiter.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/ReleaseMatcher.kt
  yay-tsa-v2/infra-metadata-enricher/src/test/kotlin/dev/yaytsa/worker/metadata/ReleaseMatcherTest.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/entity/AlbumJpa.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/entity/ArtistJpa.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/AlbumRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/ArtistRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/resources/db/library/V005__metadata_enrichment.sql
  yay-tsa-v2/settings.gradle.kts
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
