Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-v2-0.1.0-main.r0000000528-gf532cdb
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000528-gf532cdb.tgz
Due: prettier

refactor: P2.A + P2.B + P3 (build-logic, testkit singleton, Radix, MediaCard, storageState)
  .gitignore
  apps/web/playwright.config.ts
  apps/web/src/features/auth/hooks/useAuthenticatedQuery.ts
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/ArtistCard.tsx
  apps/web/src/features/library/components/MediaCard.tsx
  apps/web/src/features/library/hooks/useAlbums.ts
  apps/web/src/features/library/hooks/useArtists.ts
  apps/web/tests/e2e/accessibility.spec.ts
  apps/web/tests/e2e/auth.setup.ts
  apps/web/tests/e2e/auth.spec.ts
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  apps/web/tests/e2e/fixtures/auth.fixture.ts
  apps/web/tests/e2e/navigation.spec.ts
  yay-tsa-v2/build-logic/build.gradle.kts
  yay-tsa-v2/build-logic/settings.gradle.kts
  yay-tsa-v2/build-logic/src/main/kotlin/yaytsa.infra-persistence.gradle.kts
  yay-tsa-v2/core-testkit/build.gradle.kts
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/persistence/AbstractPersistenceTest.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/persistence/SharedPostgresContainer.kt
  yay-tsa-v2/gradle/libs.versions.toml
  yay-tsa-v2/infra-persistence/adaptive/build.gradle.kts
  yay-tsa-v2/infra-persistence/adaptive/src/test/kotlin/dev/yaytsa/persistence/adaptive/AbstractPersistenceTest.kt
  yay-tsa-v2/infra-persistence/auth/build.gradle.kts
  yay-tsa-v2/infra-persistence/auth/src/test/kotlin/dev/yaytsa/persistence/auth/AbstractPersistenceTest.kt
  yay-tsa-v2/infra-persistence/auth/src/test/resources/init-citext.sql
  yay-tsa-v2/infra-persistence/karaoke/build.gradle.kts
  yay-tsa-v2/infra-persistence/karaoke/src/test/kotlin/dev/yaytsa/persistence/karaoke/AbstractPersistenceTest.kt
  yay-tsa-v2/infra-persistence/library/build.gradle.kts
  yay-tsa-v2/infra-persistence/library/src/test/kotlin/dev/yaytsa/persistence/library/LibraryPersistenceTestBase.kt
  yay-tsa-v2/infra-persistence/ml/build.gradle.kts
  yay-tsa-v2/infra-persistence/ml/src/test/kotlin/dev/yaytsa/persistence/ml/AbstractPersistenceTest.kt
  yay-tsa-v2/infra-persistence/playback/build.gradle.kts
  yay-tsa-v2/infra-persistence/playback/src/test/kotlin/dev/yaytsa/persistence/playback/AbstractPersistenceTest.kt
  yay-tsa-v2/infra-persistence/playlists/build.gradle.kts
  yay-tsa-v2/infra-persistence/playlists/src/test/kotlin/dev/yaytsa/persistence/playlists/AbstractPersistenceTest.kt
  yay-tsa-v2/infra-persistence/preferences/build.gradle.kts
  yay-tsa-v2/infra-persistence/preferences/src/test/kotlin/dev/yaytsa/persistence/preferences/AbstractPersistenceTest.kt
  yay-tsa-v2/infra-persistence/shared/build.gradle.kts
  yay-tsa-v2/settings.gradle.kts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000529-g9e5e707
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000517-g501f401.tgz
  yay-tsa-v2-0.1.0-main.r0000000529-g9e5e707.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000529-g9e5e707
  index.yaml
  yay-tsa-0.5.1-main.r0000000528-gf532cdb.tgz
  yay-tsa-0.5.1-main.r0000000529-g9e5e707.tgz
  yay-tsa-v2-0.1.0-main.r0000000518-gf9e9b7d.tgz
Due: prettier

fix(ci): COPY scripts/ and shared-constants.yaml into web Dockerfile
  apps/web/Dockerfile
Due: docker-build

Release yay-tsa-v2-0.1.0-main.r0000000530-gabced83
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000530-gabced83.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000530-gabced83
  index.yaml
  yay-tsa-0.5.1-main.r0000000529-g9e5e707.tgz
  yay-tsa-0.5.1-main.r0000000530-gabced83.tgz
  yay-tsa-v2-0.1.0-main.r0000000519-g73dd25e.tgz
Due: prettier

fix(docker): V2 build context at repo root for adapter-shared + shared-constants
  .github/workflows/v2-ci.yml
  yay-tsa-v2/Dockerfile
Due: prettier

Release yay-tsa-0.5.1-main.r0000000531-g14b9077
  index.yaml
  yay-tsa-0.5.1-main.r0000000530-gabced83.tgz
  yay-tsa-0.5.1-main.r0000000531-g14b9077.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000531-g14b9077
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000531-g14b9077.tgz
Due: prettier

docs(core): Add QA.md notes on P2 DRY Dockerfile gotchas
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000532-g4c06038
  index.yaml
  yay-tsa-0.5.1-main.r0000000531-g14b9077.tgz
  yay-tsa-0.5.1-main.r0000000532-g4c06038.tgz
  yay-tsa-v2-0.1.0-main.r0000000520-gff79213.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000532-g4c06038
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000532-g4c06038.tgz
Due: prettier

feat(web): Distinct-artist radio seeds, shuffled daily mix, regenerate button
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/library/hooks/index.ts
  apps/web/src/features/library/hooks/useDailyMix.ts
  apps/web/src/pages/HomePage.tsx
  packages/core/src/api/adaptive-dj.service.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000533-g8a489ac
  index.yaml
  yay-tsa-0.5.1-main.r0000000532-g4c06038.tgz
  yay-tsa-0.5.1-main.r0000000533-g8a489ac.tgz
  yay-tsa-v2-0.1.0-main.r0000000521-gea23cf7.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000533-g8a489ac
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000533-g8a489ac.tgz
Due: prettier

feat(core): Embedding-based radio: HNSW similarity bootstrap + LLM seed context
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/core-application/ml/src/main/kotlin/dev/yaytsa/application/ml/port/MlQueryPort.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/adapter/JpaMlQueryPort.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/jpa/TrackFeaturesJpaRepository.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000534-g0718b07
  index.yaml
  yay-tsa-0.5.1-main.r0000000533-g8a489ac.tgz
  yay-tsa-0.5.1-main.r0000000534-g0718b07.tgz
  yay-tsa-v2-0.1.0-main.r0000000524-gbed0279.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000534-g0718b07
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000534-g0718b07.tgz
Due: prettier

feat(core): Red-line preference filter, signal→affinity worker, responsive radio grid
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000535-g475047e
  index.yaml
  yay-tsa-0.5.1-main.r0000000534-g0718b07.tgz
  yay-tsa-0.5.1-main.r0000000535-g475047e.tgz
  yay-tsa-v2-0.1.0-main.r0000000525-g853a1d1.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000535-g475047e
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000535-g475047e.tgz
Due: prettier

docs(core): QA.md notes on ML/recommendation coverage gap from 2026-05-19
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000536-gc5a692f
  index.yaml
  yay-tsa-0.5.1-main.r0000000535-g475047e.tgz
  yay-tsa-0.5.1-main.r0000000536-gc5a692f.tgz
  yay-tsa-v2-0.1.0-main.r0000000526-gefd48be.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000537-gc5a692f
  index.yaml
  yay-tsa-0.5.1-main.r0000000536-gc5a692f.tgz
  yay-tsa-0.5.1-main.r0000000537-gc5a692f.tgz
Due: prettier

fix(core): LLM credit-balance circuit breaker to stop error-log spam
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmClient.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000538-g7583e80
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000538-g7583e80.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000538-g7583e80
  index.yaml
  yay-tsa-0.5.1-main.r0000000537-gc5a692f.tgz
  yay-tsa-0.5.1-main.r0000000538-g7583e80.tgz
  yay-tsa-v2-0.1.0-main.r0000000527-gdc0ba75.tgz
Due: prettier

fix(core): Scanner skips tracks shorter than 2s (Fixes #217)
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000539-gf43bdc4
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000539-gf43bdc4.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000539-gf43bdc4
  index.yaml
  yay-tsa-0.5.1-main.r0000000538-g7583e80.tgz
  yay-tsa-0.5.1-main.r0000000539-gf43bdc4.tgz
  yay-tsa-v2-0.1.0-main.r0000000528-gf532cdb.tgz
Due: prettier

chore(ci): Fix 7 open SonarCloud issues in scripts and tools
  scripts/check-dto-drift.py
  scripts/gen-constants.mjs
  tools/frontend-crawler/crawl.js
Due: prettier, jscpd

Release yay-tsa-v2-0.1.0-main.r0000000540-g7527404
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000540-g7527404.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000540-g7527404
  index.yaml
  yay-tsa-0.5.1-main.r0000000539-gf43bdc4.tgz
  yay-tsa-0.5.1-main.r0000000540-g7527404.tgz
  yay-tsa-v2-0.1.0-main.r0000000529-g9e5e707.tgz
Due: prettier

docs(core): QA.md learnings from 2026-05-19 /qa session
  QA.md
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000541-g8bc7648
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000541-g8bc7648.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000541-g8bc7648
  index.yaml
  yay-tsa-0.5.1-main.r0000000540-g7527404.tgz
  yay-tsa-0.5.1-main.r0000000541-g8bc7648.tgz
  yay-tsa-v2-0.1.0-main.r0000000530-gabced83.tgz
Due: prettier

feat(web): Per-section refresh button next to Radio and Daily Mix headings
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  apps/web/src/pages/HomePage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000542-g8d681bb
  index.yaml
  yay-tsa-0.5.1-main.r0000000541-g8bc7648.tgz
  yay-tsa-0.5.1-main.r0000000542-g8d681bb.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000542-g8d681bb
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000542-g8d681bb.tgz
Due: prettier
