Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-v2-0.1.0-main.r0000000790-gc72dbd6
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000790-gc72dbd6.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000790-gc72dbd6
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000790-gc72dbd6.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000791-g732ffe9
  index.yaml
  yay-tsa-0.5.1-main.r0000000790-gc72dbd6.tgz
  yay-tsa-0.5.1-main.r0000000791-g732ffe9.tgz
  yay-tsa-stack-0.1.0-main.r0000000790-gc72dbd6.tgz
  yay-tsa-v2-0.1.0-main.r0000000781-gc4326d3.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000791-g732ffe9
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000791-g732ffe9.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000791-g732ffe9
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000791-g732ffe9.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000792-g1b37ad7
  index.yaml
  yay-tsa-0.5.1-main.r0000000791-g732ffe9.tgz
  yay-tsa-0.5.1-main.r0000000792-g1b37ad7.tgz
  yay-tsa-stack-0.1.0-main.r0000000791-g732ffe9.tgz
  yay-tsa-v2-0.1.0-main.r0000000782-g0baea3b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000792-g1b37ad7
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000792-g1b37ad7.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000792-g1b37ad7
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000792-g1b37ad7.tgz
Due: prettier

docs: Record NetworkPolicy/SW-cache/ktlint QA methodology learnings
  QA.md
Due: prettier

fix: Decay affinity scores so Daily Mix/Explore stop repeating
  services/audio-ml/taste_clusters.py
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/adapter/JpaMlQueryPort.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/jpa/UserTrackAffinityJpaRepository.kt
  yay-tsa-v2/infra-persistence/ml/src/test/kotlin/dev/yaytsa/persistence/ml/MlQueryPortTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000793-gb1a227c
  index.yaml
  yay-tsa-0.5.1-main.r0000000792-g1b37ad7.tgz
  yay-tsa-0.5.1-main.r0000000793-gb1a227c.tgz
  yay-tsa-stack-0.1.0-main.r0000000792-g1b37ad7.tgz
  yay-tsa-v2-0.1.0-main.r0000000783-gf4ba935.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000793-gb1a227c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000793-gb1a227c.tgz
Due: prettier

style: Fix ktlint formatting in MetadataEnricher cover-file list
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
Due: none

fix(ci): Bump autoqa pin to pick up ZAP base-url fix (#18)
  .github/workflows/ci.yml
  QA.md
Due: prettier

docs: Sync ARCHITECTURE/FEATURES_OVERVIEW/PRODUCT with v2 reality
  ARCHITECTURE.md
  FEATURES_OVERVIEW.md
  PRODUCT.md
Due: prettier

feat(web): Queue reorder, richer track menu, hotkeys, error states
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/QueuePanel.tsx
  apps/web/src/features/player/components/TrackRowMenu.tsx
  apps/web/src/features/player/hooks/usePlaybackHotkeys.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/tests/e2e/offline.mocked.spec.ts
  apps/web/tests/e2e/queue-panel.mocked.spec.ts
  packages/core/src/player/queue.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

feat: Auth rate limit, ops metrics, batched queries, ML anti-join
  .pre-commit-config.yaml
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/RadioStationService.kt
  yay-tsa-v2/adapter-mpd/src/main/kotlin/dev/yaytsa/adaptermpd/MpdCommandHandler.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/metrics/MeteredTransactionalCommandExecutor.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/metrics/OutboxMetrics.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/AuthRateLimitFilter.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/security/SecurityConfig.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AuthRateLimitIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/CommandMetricsIntegrationTest.kt
  yay-tsa-v2/core-application/adaptive/src/main/kotlin/dev/yaytsa/application/adaptive/AdaptiveUseCases.kt
  yay-tsa-v2/core-application/auth/src/main/kotlin/dev/yaytsa/application/auth/AuthUseCases.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/PlaybackUseCases.kt
  yay-tsa-v2/core-application/playlists/src/main/kotlin/dev/yaytsa/application/playlists/PlaylistUseCases.kt
  yay-tsa-v2/core-application/preferences/src/main/kotlin/dev/yaytsa/application/preferences/PreferencesUseCases.kt
  yay-tsa-v2/core-application/shared/src/main/kotlin/dev/yaytsa/application/shared/port/TransactionalCommandExecutor.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/core-testkit/src/test/kotlin/dev/yaytsa/testkit/usecase/OccThroughUseCaseTest.kt
  yay-tsa-v2/gradle/libs.versions.toml
  yay-tsa-v2/infra-llm/build.gradle.kts
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmClient.kt
  yay-tsa-v2/infra-llm/src/test/kotlin/dev/yaytsa/infra/llm/LlmClientTest.kt
  yay-tsa-v2/infra-ml-worker/build.gradle.kts
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/MlFeatureExtractor.kt
  yay-tsa-v2/infra-ml-worker/src/test/kotlin/dev/yaytsa/worker/ml/MlUnprocessedTrackQueryTest.kt
  yay-tsa-v2/infra-ml-worker/src/test/kotlin/dev/yaytsa/worker/ml/MlWorkerTestApplication.kt
  yay-tsa-v2/infra-notifications/build.gradle.kts
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/OutboxPoller.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/AudioTrackRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/infra-persistence/library/src/test/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPortTest.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/SpringTransactionalCommandExecutor.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/jpa/OutboxJpaRepository.kt
Due: prettier

Release yay-tsa-0.5.1-main.r0000000794-g67cd34a
  index.yaml
  yay-tsa-0.5.1-main.r0000000793-gb1a227c.tgz
  yay-tsa-0.5.1-main.r0000000794-g67cd34a.tgz
  yay-tsa-v2-0.1.0-main.r0000000784-gaaeacfb.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000794-g67cd34a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000794-g67cd34a.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000794-g67cd34a
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000794-g67cd34a.tgz
Due: prettier

feat: Return 415 problem detail for undecodable audio requests
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinMediaController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AudioStreamIntegrationTest.kt
Due: none

feat: ListenBrainz scrobbling via play-history scrobbled flag
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/infra-notifications/build.gradle.kts
  yay-tsa-v2/infra-notifications/src/main/kotlin/dev/yaytsa/infranotifications/scrobble/ListenBrainzScrobbleSubmitter.kt
  yay-tsa-v2/infra-notifications/src/test/kotlin/dev/yaytsa/infranotifications/scrobble/ListenBrainzScrobbleDisabledIntegrationTest.kt
  yay-tsa-v2/infra-notifications/src/test/kotlin/dev/yaytsa/infranotifications/scrobble/ListenBrainzScrobbleIntegrationTest.kt
  yay-tsa-v2/infra-notifications/src/test/kotlin/dev/yaytsa/infranotifications/scrobble/ScrobbleTestApplication.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/PlayHistoryJpaRepository.kt
Due: prettier

feat: ReplayGain loudness normalization from tags to playback
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/internal/models/types.ts
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/JellyfinDtos.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/TrackProjection.kt
  yay-tsa-v2/core-domain/library/src/main/kotlin/dev/yaytsa/domain/library/Types.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/ReplayGainTags.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/ReplayGainScanTest.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/entity/AudioTrackJpa.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/mapper/LibraryMappers.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

feat(web): Playlists UI, library rescan, empty-library guidance
  apps/web/src/app/App.tsx
  apps/web/src/features/library/components/EmptyLibraryGuidance.tsx
  apps/web/src/features/library/hooks/useLibraryScan.ts
  apps/web/src/features/player/components/TrackRowMenu.tsx
  apps/web/src/features/playlists/components/AddToPlaylistModal.tsx
  apps/web/src/features/playlists/components/CreatePlaylistModal.tsx
  apps/web/src/features/playlists/hooks/usePlaylists.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/PlaylistDetailPage.tsx
  apps/web/src/pages/PlaylistsPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/ui/SortableList.tsx
  apps/web/tests/e2e/empty-library.mocked.spec.ts
  apps/web/tests/e2e/playlists.mocked.spec.ts
  packages/core/src/api/admin.service.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

fix(ci): Downgrade ZAP SQLi FP on rate-limited login to info
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000795-g2298a89
  index.yaml
  yay-tsa-0.5.1-main.r0000000794-g67cd34a.tgz
  yay-tsa-0.5.1-main.r0000000795-g2298a89.tgz
  yay-tsa-stack-0.1.0-main.r0000000794-g67cd34a.tgz
  yay-tsa-v2-0.1.0-main.r0000000785-gf8912ab.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000795-g2298a89
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000795-g2298a89.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000795-g2298a89
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000795-g2298a89.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000796-g72f6730
  index.yaml
  yay-tsa-0.5.1-main.r0000000795-g2298a89.tgz
  yay-tsa-0.5.1-main.r0000000796-g72f6730.tgz
  yay-tsa-stack-0.1.0-main.r0000000795-g2298a89.tgz
  yay-tsa-v2-0.1.0-main.r0000000786-gbe84ecc.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000796-g72f6730
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000796-g72f6730.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000796-g72f6730
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000796-g72f6730.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000797-g699c720
  index.yaml
  yay-tsa-0.5.1-main.r0000000796-g72f6730.tgz
  yay-tsa-0.5.1-main.r0000000797-g699c720.tgz
  yay-tsa-stack-0.1.0-main.r0000000796-g72f6730.tgz
  yay-tsa-v2-0.1.0-main.r0000000787-gb001dd9.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000797-g699c720
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000797-g699c720.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000797-g699c720
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000797-g699c720.tgz
Due: prettier

fix(library): apply SortBy/SortOrder to album and artist browsing
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/infra-persistence/library/src/test/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPortTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000798-gebd6dfc
  index.yaml
  yay-tsa-0.5.1-main.r0000000797-g699c720.tgz
  yay-tsa-0.5.1-main.r0000000798-gebd6dfc.tgz
  yay-tsa-stack-0.1.0-main.r0000000797-g699c720.tgz
  yay-tsa-v2-0.1.0-main.r0000000788-g4a9d592.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000798-gebd6dfc
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000798-gebd6dfc.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000798-gebd6dfc
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000798-gebd6dfc.tgz
Due: prettier

feat(web): reveal mobile search bar on scroll, keep it fixed on desktop
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/shared/ui/GlobalSearchBar.tsx
  apps/web/tests/e2e/search-reveal.mocked.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming
