Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.5.1-main.r0000000608-gc55584f
  index.yaml
  yay-tsa-0.5.1-main.r0000000607-g4df11d3.tgz
  yay-tsa-0.5.1-main.r0000000608-gc55584f.tgz
  yay-tsa-v2-0.1.0-main.r0000000599-g2d65f09.tgz
Due: prettier

Fix iOS lock-screen track controls + background auto-advance (Media Session)
  apps/web/src/features/player/stores/playback-decisions.test.ts
  apps/web/src/features/player/stores/playback-decisions.ts
  apps/web/src/features/player/stores/player.store.ts
  docs/media-session-lockscreen.md
  packages/platform/package.json
  packages/platform/src/web/media-session.test.ts
  packages/platform/src/web/media-session.ts
  packages/platform/vitest.config.ts
Due: prettier, sort-package-json, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000609-g18c3d84
  index.yaml
  yay-tsa-0.5.1-main.r0000000608-gc55584f.tgz
  yay-tsa-0.5.1-main.r0000000609-g18c3d84.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000609-g18c3d84
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000609-g18c3d84.tgz
Due: prettier

Add load-performance profiling harness + report
  apps/web/src/main.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/shared/perf/perf.ts
  docs/perf-profile.md
  package.json
  scripts/bundle-report.mjs
  scripts/profile-web.mjs
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/profiling/RequestProfilingFilter.kt
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000610-g67f0c2a
  index.yaml
  yay-tsa-0.5.1-main.r0000000609-g18c3d84.tgz
  yay-tsa-0.5.1-main.r0000000610-g67f0c2a.tgz
  yay-tsa-v2-0.1.0-main.r0000000600-g138527d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000610-g67f0c2a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000610-g67f0c2a.tgz
Due: prettier

Image-specific profiling: prove covers are served full-res; re-rank to P1
  docs/perf-profile.md
  package.json
  scripts/profile-images.mjs
  scripts/profile-web.mjs
Due: prettier, sort-package-json, npm-audit, docker-build

Release yay-tsa-v2-0.1.0-main.r0000000611-g42b82ad
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000601-gdfd7987.tgz
  yay-tsa-v2-0.1.0-main.r0000000611-g42b82ad.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000611-g42b82ad
  index.yaml
  yay-tsa-0.5.1-main.r0000000610-g67f0c2a.tgz
  yay-tsa-0.5.1-main.r0000000611-g42b82ad.tgz
  yay-tsa-v2-0.1.0-main.r0000000602-gd81280d.tgz
Due: prettier

Fix image contract: backend resizes covers (+ WebP, cache, 304); client size tiers
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/AlbumGrid.tsx
  apps/web/src/features/library/components/ImageTiers.test.tsx
  apps/web/src/features/library/components/MediaCard.tsx
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  docs/perf-profile.md
  yay-tsa-v2/Dockerfile
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinMediaController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/ThumbnailService.kt
  yay-tsa-v2/adapter-jellyfin/src/test/kotlin/dev/yaytsa/adapterjellyfin/ThumbnailServiceTest.kt
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000612-g360275b
  index.yaml
  yay-tsa-0.5.1-main.r0000000611-g42b82ad.tgz
  yay-tsa-0.5.1-main.r0000000612-g360275b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000612-g360275b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000612-g360275b.tgz
Due: prettier

Fix pre-commit CI: lint/format gaps blocking green main
  apps/web/src/index.css
  apps/web/src/shared/perf/perf.ts
  knip.json
  package.json
  yay-tsa-v2/perf/run.sh
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, docker-build, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000613-gb39ff84
  index.yaml
  yay-tsa-0.5.1-main.r0000000612-g360275b.tgz
  yay-tsa-0.5.1-main.r0000000613-gb39ff84.tgz
  yay-tsa-v2-0.1.0-main.r0000000603-gfb8bd89.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000613-gb39ff84
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000613-gb39ff84.tgz
Due: prettier

Rate limiter 429 → RFC7807 problem+json (schemathesis contract drift)
  yay-tsa-v2/app/src/main/resources/application.yml
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000614-g78e8783
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000604-gd3ff8c5.tgz
  yay-tsa-v2-0.1.0-main.r0000000614-g78e8783.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000614-g78e8783
  index.yaml
  yay-tsa-0.5.1-main.r0000000613-gb39ff84.tgz
  yay-tsa-0.5.1-main.r0000000614-g78e8783.tgz
  yay-tsa-v2-0.1.0-main.r0000000605-g5eb1720.tgz
Due: prettier

Audio stream robustness tests: malformed input is a clean 4xx, never 5xx
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AudioStreamIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000615-g6d40280
  index.yaml
  yay-tsa-0.5.1-main.r0000000614-g78e8783.tgz
  yay-tsa-0.5.1-main.r0000000615-g6d40280.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000615-g6d40280
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000615-g6d40280.tgz
Due: prettier

Unify favorite/heart state across the whole GUI (one source, one mutation, one patch)
  apps/web/src/features/library/components/FavoriteButton.test.tsx
  apps/web/src/features/library/components/FavoriteButton.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/hooks/useFavorites.test.tsx
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  packages/core/src/api/favorite-state.test.ts
  packages/core/src/api/favorite-state.ts
  packages/core/src/index.ts
  packages/core/src/player/queue.test.ts
  packages/core/src/player/queue.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000616-g27526c7
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000606-g7483f04.tgz
  yay-tsa-v2-0.1.0-main.r0000000616-g27526c7.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000616-g27526c7
  index.yaml
  yay-tsa-0.5.1-main.r0000000615-g6d40280.tgz
  yay-tsa-0.5.1-main.r0000000616-g27526c7.tgz
  yay-tsa-v2-0.1.0-main.r0000000607-g4df11d3.tgz
Due: prettier

Favorite: per-item pending lock + mocked cross-screen e2e
  apps/web/src/features/library/components/FavoriteButton.test.tsx
  apps/web/src/features/library/components/FavoriteButton.tsx
  apps/web/src/features/library/hooks/useFavorites.test.tsx
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000617-gc32749f
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000617-gc32749f.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000617-gc32749f
  index.yaml
  yay-tsa-0.5.1-main.r0000000616-g27526c7.tgz
  yay-tsa-0.5.1-main.r0000000617-gc32749f.tgz
  yay-tsa-v2-0.1.0-main.r0000000608-gc55584f.tgz
Due: prettier

Defer favorite-sync mocked e2e to a browser-validated follow-up (keep CI green)
  apps/web/tests/e2e/favorites-sync.mocked.spec.ts
Due: prettier, jscpd

Release yay-tsa-v2-0.1.0-main.r0000000618-g6a088fa
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000618-g6a088fa.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000618-g6a088fa
  index.yaml
  yay-tsa-0.5.1-main.r0000000617-gc32749f.tgz
  yay-tsa-0.5.1-main.r0000000618-g6a088fa.tgz
  yay-tsa-v2-0.1.0-main.r0000000609-g18c3d84.tgz
Due: prettier

feat(offline): download-first offline audio playback for the PWA
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/offline/components/DownloadButton.tsx
  apps/web/src/features/offline/components/DownloadTracksButton.tsx
  apps/web/src/features/offline/components/OfflineIndicator.tsx
  apps/web/src/features/offline/components/OfflineManager.tsx
  apps/web/src/features/offline/index.ts
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/features/offline/stores/outbox.test.ts
  apps/web/src/features/offline/stores/outbox.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/vite.config.ts
  packages/platform/src/index.ts
  packages/platform/src/web/offline-store.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000619-g999fb55
  index.yaml
  yay-tsa-0.5.1-main.r0000000618-g6a088fa.tgz
  yay-tsa-0.5.1-main.r0000000619-g999fb55.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000619-g999fb55
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000619-g999fb55.tgz
Due: prettier

feat(offline): offline library, cover persistence, and offline e2e (P0)
  apps/web/src/app/App.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/offline/components/OfflineIndicator.tsx
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/pages/OfflineLibraryPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/tests/e2e/offline.mocked.spec.ts
  packages/platform/src/web/offline-store.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000620-gbd0610c
  index.yaml
  yay-tsa-0.5.1-main.r0000000619-g999fb55.tgz
  yay-tsa-0.5.1-main.r0000000620-gbd0610c.tgz
  yay-tsa-v2-0.1.0-main.r0000000610-g67f0c2a.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000620-gbd0610c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000620-gbd0610c.tgz
Due: prettier

fix(offline): rename allReady → allDownloaded to satisfy codespell
  apps/web/src/features/offline/components/DownloadTracksButton.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000621-g2a18326
  index.yaml
  yay-tsa-0.5.1-main.r0000000620-gbd0610c.tgz
  yay-tsa-0.5.1-main.r0000000621-g2a18326.tgz
  yay-tsa-v2-0.1.0-main.r0000000611-g42b82ad.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000621-g2a18326
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000621-g2a18326.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
