Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix: SSE named event listener + terminal state handling in karaoke
  apps/web/src/features/player/components/PlayerBar.tsx
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.16404f3
  index.yaml
  yay-tsa-0.4.3-main.16404f3.tgz
  yay-tsa-0.4.3-main.c6048fe.tgz
Due: prettier

fix: Don't auto-process karaoke on track change
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.e8a0681
  index.yaml
  yay-tsa-0.4.3-main.16404f3.tgz
  yay-tsa-0.4.3-main.e8a0681.tgz
Due: prettier

fix: Stale-track guard + preserve karaokeEnabled on track sync
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.dd775fb
  index.yaml
  yay-tsa-0.4.3-main.dd775fb.tgz
  yay-tsa-0.4.3-main.e8a0681.tgz
Due: prettier

fix: Bloom-filter karaoke + race guard in refreshKaraokeStatus
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.59ece52
  index.yaml
  yay-tsa-0.4.3-main.59ece52.tgz
  yay-tsa-0.4.3-main.dd775fb.tgz
Due: prettier

fix(web): Scrollable synced lyrics + softer highlight gradient
  apps/web/src/features/player/components/LyricsScroller.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.bd5472d
  index.yaml
  yay-tsa-0.4.3-main.59ece52.tgz
  yay-tsa-0.4.3-main.bd5472d.tgz
Due: prettier

fix(web): Remove font changes from lyrics, opacity-only gradient
  apps/web/src/features/player/components/LyricsScroller.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.9bfd668
  index.yaml
  yay-tsa-0.4.3-main.9bfd668.tgz
  yay-tsa-0.4.3-main.bd5472d.tgz
Due: prettier

Release yay-tsa-0.4.3-main.62601aa
  index.yaml
  yay-tsa-0.4.3-main.62601aa.tgz
  yay-tsa-0.4.3-main.9bfd668.tgz
Due: prettier

Release yay-tsa-0.4.3-main.1d066ff
  index.yaml
  yay-tsa-0.4.3-main.1d066ff.tgz
  yay-tsa-0.4.3-main.62601aa.tgz
Due: prettier

Release yay-tsa-0.4.3-main.421db78
  index.yaml
  yay-tsa-0.4.3-main.1d066ff.tgz
  yay-tsa-0.4.3-main.421db78.tgz
Due: prettier

Release yay-tsa-0.4.3-main.7d1143e
  index.yaml
  yay-tsa-0.4.3-main.421db78.tgz
  yay-tsa-0.4.3-main.7d1143e.tgz
Due: prettier

feat: Radio seed-based DJ with MERT embedding blending
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/SeekBar.tsx
  apps/web/src/features/player/components/VolumeControls.tsx
  apps/web/src/features/player/hooks/useLyricsFetch.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  apps/web/src/features/radio/hooks/useRadioSeeds.ts
  apps/web/src/features/radio/index.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/shared/ui/BackLink.tsx
  apps/web/tsconfig.json
  packages/core/src/api/adaptive-dj.service.ts
  packages/core/src/api/adaptive-dj.types.ts
  packages/core/src/api/api.client.ts
  packages/core/src/env.d.ts
  packages/core/src/index.ts
  packages/core/src/internal/config/env.ts
  services/audio-separator/app.py
  services/audio-separator/radio/__init__.py
  services/audio-separator/radio/seed_selector.py
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/controller/RecommendationController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/EmbeddingBackfillService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionJobScheduler.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LibraryScanService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioAnchorResolver.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
  services/server/src/main/java/com/yaytsa/server/dto/request/CreateListeningSessionRequest.java
  services/server/src/main/java/com/yaytsa/server/dto/response/ListeningSessionResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/RadioSeedsResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/RadioSeedClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ListeningSessionEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackSignalRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
  services/server/src/main/resources/application.yml
  services/server/src/main/resources/db/migration/V26__radio_seed_track.sql
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.0ac587e
  index.yaml
  yay-tsa-0.4.3-main.0ac587e.tgz
  yay-tsa-0.4.3-main.7d1143e.tgz
Due: prettier

Release yay-tsa-0.4.3-main.5146b0e
  index.yaml
  yay-tsa-0.4.3-main.0ac587e.tgz
  yay-tsa-0.4.3-main.5146b0e.tgz
Due: prettier

Release yay-tsa-0.4.3-main.c9f55d7
  index.yaml
  yay-tsa-0.4.3-main.5146b0e.tgz
  yay-tsa-0.4.3-main.c9f55d7.tgz
Due: prettier

Release yay-tsa-0.4.3-main.96885d2
  index.yaml
  yay-tsa-0.4.3-main.96885d2.tgz
  yay-tsa-0.4.3-main.c9f55d7.tgz
Due: prettier

Release yay-tsa-0.4.3-main.d785918
  index.yaml
  yay-tsa-0.4.3-main.96885d2.tgz
  yay-tsa-0.4.3-main.d785918.tgz
Due: prettier

fix: RadioSeedClient uses audio-separator URL, not feature-extractor
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/RadioSeedClient.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.ba641e4
  index.yaml
  yay-tsa-0.4.3-main.ba641e4.tgz
  yay-tsa-0.4.3-main.d785918.tgz
Due: prettier

fix: Copy radio/ module in audio-separator Dockerfile
  services/audio-separator/Dockerfile
Due: none

Release yay-tsa-0.4.3-main.15c5418
  index.yaml
  yay-tsa-0.4.3-main.15c5418.tgz
  yay-tsa-0.4.3-main.ba641e4.tgz
Due: prettier

fix: Flatten CLAP embedding output to 1D before serialization
  services/audio-separator/extractor/embedding_extractor.py
Due: none

Release yay-tsa-0.4.3-main.012d219
  index.yaml
  yay-tsa-0.4.3-main.012d219.tgz
  yay-tsa-0.4.3-main.15c5418.tgz
Due: prettier

fix: Use Instant instead of OffsetDateTime for native query TIMESTAMPTZ
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/RadioSeedCacheRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.2470591
  index.yaml
  yay-tsa-0.4.3-main.012d219.tgz
  yay-tsa-0.4.3-main.2470591.tgz
Due: prettier

test: Integration tests for radio seeds (Java + Python)
  .pre-commit-config.yaml
  services/audio-separator/radio/seed_selector.py
  services/audio-separator/tests/conftest.py
  services/audio-separator/tests/test_compute_seeds_endpoint.py
  services/audio-separator/tests/test_seed_selector.py
  services/server/pom.xml
  services/server/src/test/java/com/yaytsa/server/integration/radio/RadioSeedCacheRepositoryTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/RadioSeedServiceTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/TestcontainersConfig.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/TrackFeaturesNativeQueryTest.java
  services/server/src/test/resources/application-tc.yml
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.fe8d649
  index.yaml
  yay-tsa-0.4.3-main.2470591.tgz
  yay-tsa-0.4.3-main.fe8d649.tgz
Due: prettier

fix(web): Mobile player UX — marquee, search bar, button sizes, context menu
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/index.css
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/ui/MarqueeText.tsx
  apps/web/src/shared/ui/SearchInput.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(web): Mobile player UX — marquee, search bar, button sizes, context menu (#156)
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/index.css
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/ui/MarqueeText.tsx
  apps/web/src/shared/ui/SearchInput.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.b39eb9d
  index.yaml
  yay-tsa-0.4.3-main.b39eb9d.tgz
  yay-tsa-0.4.3-main.ee4755f.tgz
Due: prettier

fix: Radio DTO camelCase, remove MERT gate, redesign seed cards
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  apps/web/src/shared/testing/test-ids.ts
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/ListeningSessionResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/PlaybackSignalResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/RadioSeedsResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/TasteProfileResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/UserPreferencesResponse.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.074aa38
  index.yaml
  yay-tsa-0.4.3-main.074aa38.tgz
  yay-tsa-0.4.3-main.b39eb9d.tgz
Due: prettier

fix: Prioritize user affinity tracks for radio seeds and backfill
  services/server/src/main/java/com/yaytsa/server/domain/service/RadioSeedService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
