Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

fix: Resolve nested-interactive a11y violation in queue track rows
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/tests/e2e/playback.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.4ea6fe2
  index.yaml
  yay-tsa-0.4.3-main.4ea6fe2.tgz
  yay-tsa-0.4.3-main.f3a3271.tgz
Due: prettier

fix: Skip shuffle test on mobile and increase track change timeout
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/queue.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.8130db2
  index.yaml
  yay-tsa-0.4.3-main.4ea6fe2.tgz
  yay-tsa-0.4.3-main.8130db2.tgz
Due: prettier

feat(android): add release signing config, fix build errors
  apps/android-app/.gitignore
  apps/android-app/app/build.gradle.kts
  apps/android-app/app/proguard-rules.pro
  apps/android-app/app/src/main/java/com/yaytsa/app/WebViewActivity.kt
Due: none

fix: Remove mobile test overfitting — use MobileFullPlayer for real coverage
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/tests/e2e/lyrics.spec.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/playback.spec.ts
  apps/web/tests/e2e/queue.spec.ts
  apps/web/tests/e2e/radio.spec.ts
  apps/web/tests/e2e/sleep-timer.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.9e541ad
  index.yaml
  yay-tsa-0.4.3-main.8130db2.tgz
  yay-tsa-0.4.3-main.9e541ad.tgz
Due: prettier

feat(android): add release signing config, fix build errors (#176)
  apps/android-app/.gitignore
  apps/android-app/app/build.gradle.kts
  apps/android-app/app/proguard-rules.pro
  apps/android-app/app/src/main/java/com/yaytsa/app/WebViewActivity.kt
Due: none

Release yay-tsa-0.4.3-main.8fd622c
  index.yaml
  yay-tsa-0.4.3-main.8fd622c.tgz
  yay-tsa-0.4.3-main.9e541ad.tgz
Due: prettier

fix: Fix radio API path, hide player bar when full player open, lyrics mobile skip
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/tests/e2e/lyrics.spec.ts
  apps/web/tests/e2e/radio.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.17cd57e
  index.yaml
  yay-tsa-0.4.3-main.17cd57e.tgz
  yay-tsa-0.4.3-main.8fd622c.tgz
Due: prettier

fix: Use Playwright request API for radio seeds, fix strict mode and playing state
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/playback.spec.ts
  apps/web/tests/e2e/radio.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.05d5f42
  index.yaml
  yay-tsa-0.4.3-main.05d5f42.tgz
  yay-tsa-0.4.3-main.17cd57e.tgz
Due: prettier

fix: Harden API edge cases, add integration tests from coverage audit
  apps/web/tests/e2e/favorites.spec.ts
  apps/web/tests/e2e/playback.spec.ts
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/OffsetBasedPageRequest.java
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ItemsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/StreamingApiTest.java
Due: prettier, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.e1a83c6
  index.yaml
  yay-tsa-0.4.3-main.05d5f42.tgz
  yay-tsa-0.4.3-main.e1a83c6.tgz
Due: prettier

fix: Correct double-logout test to expect 401 on revoked token
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
Due: maven-compile

Release yay-tsa-0.4.3-main.ceb32f2
  index.yaml
  yay-tsa-0.4.3-main.ceb32f2.tgz
  yay-tsa-0.4.3-main.e1a83c6.tgz
Due: prettier

fix: Remove unsimulatable MediaError test, skip rapid-next on mobile
  apps/web/tests/e2e/playback.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.026ce2a
  index.yaml
  yay-tsa-0.4.3-main.026ce2a.tgz
  yay-tsa-0.4.3-main.ceb32f2.tgz
Due: prettier

Release yay-tsa-0.4.3-main.2da9b5f
  index.yaml
  yay-tsa-0.4.3-main.026ce2a.tgz
  yay-tsa-0.4.3-main.2da9b5f.tgz
Due: prettier

fix: Increase DB pool size to handle concurrent image requests
  apps/web/tests/e2e/monkey.spec.ts
  services/server/src/main/resources/application.yml
Due: prettier, jscpd, maven-compile

Release yay-tsa-0.4.3-main.72de1ab
  index.yaml
  yay-tsa-0.4.3-main.2da9b5f.tgz
  yay-tsa-0.4.3-main.72de1ab.tgz
Due: prettier

fix: Reduce monkey test cognitive complexity for SonarCloud gate
  apps/web/tests/e2e/monkey.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.4bdc18b
  index.yaml
  yay-tsa-0.4.3-main.4bdc18b.tgz
  yay-tsa-0.4.3-main.72de1ab.tgz
Due: prettier

fix: Add OpenAPI annotations, fix 500 on malformed body, upgrade springdoc
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AdaptiveQueueController.java
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/controller/AuthController.java
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/controller/LyricsController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/controller/RecommendationController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/controller/StreamingController.java
  services/server/src/main/java/com/yaytsa/server/controller/SystemController.java
  services/server/src/main/java/com/yaytsa/server/controller/TrackFeaturesController.java
  services/server/src/main/java/com/yaytsa/server/controller/UserPreferencesController.java
  services/server/src/main/java/com/yaytsa/server/error/GlobalExceptionHandler.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.db029da
  index.yaml
  yay-tsa-0.4.3-main.4bdc18b.tgz
  yay-tsa-0.4.3-main.db029da.tgz
Due: prettier

fix: Harden API error handling and OpenAPI spec from Schemathesis audit
  docker-compose.yml
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/config/SecurityConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/error/GlobalExceptionHandler.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/EmbyAuthFilter.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/web/TraceMethodFilter.java
Due: prettier, docker-compose-check, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.1cf6af6
  index.yaml
  yay-tsa-0.4.3-main.1cf6af6.tgz
  yay-tsa-0.4.3-main.db029da.tgz
Due: prettier

fix: Add global 400 Bad Request to OpenAPI spec
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.914d5ec
  index.yaml
  yay-tsa-0.4.3-main.1cf6af6.tgz
  yay-tsa-0.4.3-main.914d5ec.tgz
Due: prettier

fix: Auth 401 body + SSE endpoint content-type annotations
  services/server/src/main/java/com/yaytsa/server/controller/AdaptiveQueueController.java
  services/server/src/main/java/com/yaytsa/server/controller/AuthController.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.0a8d039
  index.yaml
  yay-tsa-0.4.3-main.0a8d039.tgz
  yay-tsa-0.4.3-main.914d5ec.tgz
Due: prettier

fix: Handle HttpRequestMethodNotSupportedException as 405
  services/server/src/main/java/com/yaytsa/server/error/GlobalExceptionHandler.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.032b5c0
  index.yaml
  yay-tsa-0.4.3-main.032b5c0.tgz
  yay-tsa-0.4.3-main.0a8d039.tgz
Due: prettier

feat: Replace Emby auth with standard Bearer token auth
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/tests/e2e/monkey.spec.ts
  packages/core/src/api/api.client.test.ts
  packages/core/src/api/api.client.ts
  packages/core/src/api/auth.service.ts
  packages/core/src/internal/models/types.ts
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/config/SecurityConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AuthController.java
  services/server/src/main/java/com/yaytsa/server/controller/StreamingController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AuthService.java
  services/server/src/main/java/com/yaytsa/server/dto/request/AuthenticateByNameRequest.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/BearerAuthFilter.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/EmbyAuthCredentials.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/EmbyAuthHeaderParser.java
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/BaseIntegrationTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ItemsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/StreamingApiTest.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.4d3886c
  index.yaml
  yay-tsa-0.4.3-main.032b5c0.tgz
  yay-tsa-0.4.3-main.4d3886c.tgz
Due: prettier

fix: JSON error pages, 401 schema, public endpoint, 429 doc
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AuthController.java
  services/server/src/main/java/com/yaytsa/server/controller/SystemController.java
  services/server/src/main/java/com/yaytsa/server/error/ApiErrorController.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: HSTS, CORP headers, JSON error pages, OpenAPI spec hardening
  infra/nginx/security-headers.conf
  services/server/src/main/java/com/yaytsa/server/error/ApiErrorController.java
Due: docker-build, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.4a99466
  index.yaml
  yay-tsa-0.4.3-main.4a99466.tgz
  yay-tsa-0.4.3-main.4d3886c.tgz
Due: prettier

fix: Schemathesis findings — JSON errors, URL leak, OpenAPI spec
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/config/TomcatConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/LyricsController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/controller/StreamingController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/error/ApiErrorController.java
Due: maven-compile, maven-spotbugs, maven-pmd
