Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix: Resolve E2E test flakiness and backend IllegalStateException
  .github/workflows/ci.yml
  QA.md
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/tests/e2e/page-objects/LibraryPage.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  services/server/src/main/java/com/yaytsa/server/error/GlobalExceptionHandler.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.0e7b3a0
  index.yaml
  yay-tsa-0.4.3-main.0e7b3a0.tgz
  yay-tsa-0.4.3-main.e308246.tgz
Due: prettier

fix: QA pipeline uses non-admin test user, exclude Admin routes from Schemathesis
  .github/workflows/ci.yml
  services/server/src/main/resources/db/migration/V33__qa_user_non_admin.sql
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.9f1d54c
  index.yaml
  yay-tsa-0.4.3-main.0e7b3a0.tgz
  yay-tsa-0.4.3-main.9f1d54c.tgz
Due: prettier

fix: Mount stems PVC in backend for karaoke file access
  charts/yay-tsa/Chart.yaml
  charts/yay-tsa/templates/backend-deployment.yaml
Due: none

Release yay-tsa-0.4.4-main.34202eb
  index.yaml
  yay-tsa-0.4.3-main.9f1d54c.tgz
  yay-tsa-0.4.4-main.34202eb.tgz
Due: prettier

fix: Use timing store for previous track threshold, relax LCP budget
  apps/web/src/features/player/stores/player.store.ts
  lighthouserc.json
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.4-main.42078c8
  index.yaml
  yay-tsa-0.4.3-main.f79237d.tgz
  yay-tsa-0.4.4-main.42078c8.tgz
Due: prettier

chore: Add karaoke and E2E flakiness learnings to QA.md
  QA.md
Due: prettier

Release yay-tsa-0.4.4-main.b6b6c32
  index.yaml
  yay-tsa-0.4.3-main.f84204a.tgz
  yay-tsa-0.4.4-main.b6b6c32.tgz
Due: prettier

build: Optimize Dockerfiles with cache mounts and Gradle layer caching
  services/server/Dockerfile
  yay-tsa-v2/Dockerfile
Due: none

Release yay-tsa-0.4.4-main.a5e85f2
  index.yaml
  yay-tsa-0.4.3-main.fa3dae4.tgz
  yay-tsa-0.4.4-main.a5e85f2.tgz
Due: prettier

feat: Add karaoke backfill config to Helm chart
  charts/yay-tsa/Chart.yaml
  charts/yay-tsa/templates/backend-configmap.yaml
Due: none

Release yay-tsa-0.4.5-main.77c463d
  index.yaml
  yay-tsa-0.4.3-main.fa8461e.tgz
  yay-tsa-0.4.5-main.77c463d.tgz
Due: prettier

chore: Add karaoke backfill AC to FEATURES.md
  FEATURES.md
Due: prettier

Release yay-tsa-0.4.5-main.9227450
  index.yaml
  yay-tsa-0.4.3-main.fbc48ca.tgz
  yay-tsa-0.4.5-main.9227450.tgz
Due: prettier

fix: Enable real-time device state sync via SSE
  apps/web/src/features/player/hooks/useDeviceEvents.ts
  packages/core/src/api/api.client.test.ts
  packages/core/src/api/device.types.ts
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

chore: Add multi-device sync and API client test learnings to QA.md
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.74dfedd
  index.yaml
  yay-tsa-0.4.3-main.fc454d5.tgz
  yay-tsa-0.4.5-main.74dfedd.tgz
Due: prettier

feat: Add remote playback banner showing music playing on other devices
  apps/web/src/features/player/components/RemotePlaybackBanner.tsx
  apps/web/src/features/player/components/index.ts
  apps/web/src/features/player/hooks/useActiveRemotePlayback.ts
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.1764f3f
  index.yaml
  yay-tsa-0.4.3-main.fe11945.tgz
  yay-tsa-0.4.5-main.1764f3f.tgz
Due: prettier

fix: Resolve SonarCloud issues in remote playback components
  apps/web/src/features/player/components/RemotePlaybackBanner.tsx
  apps/web/src/features/player/hooks/useDeviceEvents.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.5a4ba19
  index.yaml
  yay-tsa-0.4.3-main.fe8d649.tgz
  yay-tsa-0.4.5-main.5a4ba19.tgz
Due: prettier

fix: Resolve a11y, seek race condition, and SonarCloud issues
  apps/web/src/features/player/components/RemotePlaybackBanner.tsx
  apps/web/src/features/player/stores/playback-timing.store.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.cffa5ae
  index.yaml
  yay-tsa-0.4.3-main.ffbdfc4.tgz
  yay-tsa-0.4.5-main.cffa5ae.tgz
Due: prettier

chore: Add seek RAF race condition and a11y learnings to QA.md
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.7924583
  index.yaml
  yay-tsa-0.4.4-main.34202eb.tgz
  yay-tsa-0.4.5-main.7924583.tgz
Due: prettier

fix: Always update timing store on seek even when controller active
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.5-main.50ede50
  index.yaml
  yay-tsa-0.4.4-main.42078c8.tgz
  yay-tsa-0.4.5-main.50ede50.tgz
Due: prettier

chore: Add seek controller.isActive race condition learning to QA.md
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.a763a2b
  index.yaml
  yay-tsa-0.4.4-main.a5e85f2.tgz
  yay-tsa-0.4.5-main.a763a2b.tgz
Due: prettier

fix: Prevent OOM by limiting concurrent image processing and karaoke retries
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AudioTrackEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
  services/server/src/main/resources/db/migration/V34__karaoke_fail_count.sql
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.5-main.b60e988
  index.yaml
  yay-tsa-0.4.4-main.b6b6c32.tgz
  yay-tsa-0.4.5-main.b60e988.tgz
Due: prettier

chore: Add backend OOM and playback stability learnings to QA.md
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.be57246
  index.yaml
  yay-tsa-0.4.5-main.1764f3f.tgz
  yay-tsa-0.4.5-main.be57246.tgz
Due: prettier

fix: Resolve background tab track advance stalling
  apps/web/src/features/player/stores/player.store.ts
  packages/platform/src/web/html5-audio.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.4.5-main.e771254
  index.yaml
  yay-tsa-0.4.5-main.50ede50.tgz
  yay-tsa-0.4.5-main.e771254.tgz
Due: prettier

chore: Add background tab playback learnings to QA.md
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.7312f39
  index.yaml
  yay-tsa-0.4.5-main.5a4ba19.tgz
  yay-tsa-0.4.5-main.7312f39.tgz
Due: prettier

fix: Recover stale feature extraction jobs after pod restart
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionJobScheduler.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/FeatureExtractionJobRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
