Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

fix: Check audio duration before scalar feature extraction to prevent RhythmExtractor2013 crash
  services/audio-separator/extractor/essentia_analyzer.py
Due: none

Release yay-tsa-0.4.3-main.82b6d89
  index.yaml
  yay-tsa-0.4.3-main.82b6d89.tgz
  yay-tsa-0.4.3-main.cca120a.tgz
Due: prettier

fix: Include unplayed items in DatePlayed sort for tracks, albums, artists
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.062146a
  index.yaml
  yay-tsa-0.4.3-main.062146a.tgz
  yay-tsa-0.4.3-main.82b6d89.tgz
Due: prettier

fix: Retry signal on optimistic lock, karaoke output to writable stems dir
  charts/yay-tsa/templates/audio-separator-deployment.yaml
  charts/yay-tsa/templates/audio-separator-stems-pvc.yaml
  charts/yay-tsa/values.yaml
  docker-compose.yml
  services/audio-separator/app.py
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
Due: prettier, docker-compose-check, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.470ac6f
  index.yaml
  yay-tsa-0.4.3-main.062146a.tgz
  yay-tsa-0.4.3-main.470ac6f.tgz
Due: prettier

fix: Atomic favorite prepend via CTE, fix queue version from stale active queue
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayStateRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat: Move favorites sort button inline with tabs, fix tab indicator alignment
  apps/web/src/pages/FavoritesPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.7ad3909
  index.yaml
  yay-tsa-0.4.3-main.470ac6f.tgz
  yay-tsa-0.4.3-main.7ad3909.tgz
Due: prettier

fix: Escape :: PostgreSQL cast in upsertMarkFavorite CTE
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayStateRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.967f687
  index.yaml
  yay-tsa-0.4.3-main.7ad3909.tgz
  yay-tsa-0.4.3-main.967f687.tgz
Due: prettier

feat: User management panel + ReplayGain normalization
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/SettingsPage.tsx
  packages/core/src/api/admin.service.ts
  packages/core/src/index.ts
  packages/core/src/internal/models/types.ts
  packages/platform/src/audio.interface.ts
  packages/platform/src/web/html5-audio.ts
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/UserManagementService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/BaseItemResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/AudioMetadata.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AudioTrackEntity.java
  services/server/src/main/java/com/yaytsa/server/mapper/ItemMapper.java
  services/server/src/main/resources/db/migration/V23__add_replaygain.sql
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.dabbca8
  index.yaml
  yay-tsa-0.4.3-main.967f687.tgz
  yay-tsa-0.4.3-main.dabbca8.tgz
Due: prettier

Release yay-tsa-0.4.3-main.7ce34a7
  index.yaml
  yay-tsa-0.4.3-main.7ce34a7.tgz
  yay-tsa-0.4.3-main.ce182c5.tgz
Due: prettier

fix: Remove constant platform flag from Playwright Dockerfile stage
  apps/web/Dockerfile
Due: docker-build

Release yay-tsa-0.4.3-main.ef5cabd
  index.yaml
  yay-tsa-0.4.3-main.7ce34a7.tgz
  yay-tsa-0.4.3-main.ef5cabd.tgz
Due: prettier

fix: Restore V11 migration checksum to match production database
  services/server/src/main/resources/db/migration/V11__security_hardening.sql
Due: maven-compile

Release yay-tsa-0.4.3-main.e36bc0d
  index.yaml
  yay-tsa-0.4.3-main.d58bd80.tgz
  yay-tsa-0.4.3-main.e36bc0d.tgz
Due: prettier

fix: Hide Library rescan section from non-admin users
  apps/web/src/pages/SettingsPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.67e906e
  index.yaml
  yay-tsa-0.4.3-main.67e906e.tgz
  yay-tsa-0.4.3-main.da64081.tgz
Due: prettier

feat: CLAP/MERT recommendation pipeline with implicit feedback
  .gitignore
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  packages/core/src/api/adaptive-dj.service.ts
  packages/core/src/api/adaptive-dj.types.ts
  packages/core/src/index.ts
  services/audio-separator/app.py
  services/audio-separator/extractor/embedding_extractor.py
  services/audio-separator/requirements/essentia.txt
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/controller/RecommendationController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueManager.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AffinityAggregationService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/DjDecision.java
  services/server/src/main/java/com/yaytsa/server/domain/service/EmbeddingBackfillService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmSessionParamService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/QueuePolicyValidator.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SemanticSearchService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TasteProfileService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/UserEmbeddingService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/RecommendedTrackResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/EmbeddingExtractionClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/TasteProfileEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/TrackFeaturesEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/UserTrackAffinityEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/UserTrackAffinityRepository.java
  services/server/src/main/resources/db/migration/V24__clap_mert_embeddings.sql
  services/server/src/main/resources/db/migration/V25__user_affinity_and_embeddings.sql
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.9833ccd
  index.yaml
  yay-tsa-0.4.3-main.67e906e.tgz
  yay-tsa-0.4.3-main.9833ccd.tgz
Due: prettier

fix: Remove user-controlled data from embedding extractor logs
  services/audio-separator/extractor/embedding_extractor.py
Due: none

Release yay-tsa-0.4.3-main.55a9af8
  index.yaml
  yay-tsa-0.4.3-main.55a9af8.tgz
  yay-tsa-0.4.3-main.9833ccd.tgz
Due: prettier

fix: Resolve 45 SonarQube issues across all layers
  apps/web/docker/entrypoint.sh
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/library/hooks/useReorderFavorites.ts
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/hooks/useDjAutoRefill.ts
  apps/web/src/features/player/hooks/useSignalEmitter.ts
  apps/web/src/features/player/stores/player.store.ts
  packages/platform/src/web/vocal-removal.ts
  services/audio-separator/app.py
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.9e1d844
  index.yaml
  yay-tsa-0.4.3-main.55a9af8.tgz
  yay-tsa-0.4.3-main.9e1d844.tgz
Due: prettier

perf: Memo cards, stable callbacks, DJ discovery slider, playback-time no-repeat
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/ArtistCard.tsx
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SongsPage.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayHistoryRepository.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.4144a5a
  index.yaml
  yay-tsa-0.4.3-main.4144a5a.tgz
  yay-tsa-0.4.3-main.9e1d844.tgz
Due: prettier

fix: Normalize energy to [0,1] and show DJ loading state
  apps/web/src/features/player/components/QueueView.tsx
  services/audio-separator/extractor/essentia_analyzer.py
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.e46aa50
  index.yaml
  yay-tsa-0.4.3-main.4144a5a.tgz
  yay-tsa-0.4.3-main.e46aa50.tgz
Due: prettier

fix: Add 2-minute LLM cooldown per session to prevent API hammering
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.8b49613
  index.yaml
  yay-tsa-0.4.3-main.8b49613.tgz
  yay-tsa-0.4.3-main.dabbca8.tgz
Due: prettier

chore: Switch DJ LLM default model to claude-haiku-4-5-20251001
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmSessionParamService.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.cecb6f2
  index.yaml
  yay-tsa-0.4.3-main.8b49613.tgz
  yay-tsa-0.4.3-main.cecb6f2.tgz
Due: prettier

fix: Use muted=true for secondary audio element to prevent Chrome power-saving block
  packages/platform/src/web/html5-audio.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.4.3-main.d3cddf7
  index.yaml
  yay-tsa-0.4.3-main.cecb6f2.tgz
  yay-tsa-0.4.3-main.d3cddf7.tgz
Due: prettier

fix: Auto-refresh queue when session active but queue empty
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.7acf9eb
  index.yaml
  yay-tsa-0.4.3-main.7acf9eb.tgz
  yay-tsa-0.4.3-main.d3cddf7.tgz
Due: prettier

fix: Remove queueItems.length from sentinel effect deps to stop refresh loop
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming
