Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.5.1-main.r0000000820-gd9c654e
  index.yaml
  yay-tsa-0.5.1-main.r0000000819-g8c2be35.tgz
  yay-tsa-0.5.1-main.r0000000820-gd9c654e.tgz
  yay-tsa-stack-0.1.0-main.r0000000819-g8c2be35.tgz
  yay-tsa-v2-0.1.0-main.r0000000809-g47d23db.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000820-gd9c654e
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000820-gd9c654e.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000820-gd9c654e
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000820-gd9c654e.tgz
Due: prettier

ci: Add explicit read-only permissions to chart-acceptance workflow
  .github/workflows/chart-acceptance.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000821-gd50163d
  index.yaml
  yay-tsa-0.5.1-main.r0000000820-gd9c654e.tgz
  yay-tsa-0.5.1-main.r0000000821-gd50163d.tgz
  yay-tsa-stack-0.1.0-main.r0000000820-gd9c654e.tgz
  yay-tsa-v2-0.1.0-main.r0000000810-g5933e3b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000821-gd50163d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000821-gd50163d.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000821-gd50163d
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000821-gd50163d.tgz
Due: prettier

fix: ZAP SQLi FP on /Items, missing h1 during detail-page loading
  .github/workflows/ci.yml
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/pages/PlaylistDetailPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000822-g66584fe
  index.yaml
  yay-tsa-0.5.1-main.r0000000821-gd50163d.tgz
  yay-tsa-0.5.1-main.r0000000822-g66584fe.tgz
  yay-tsa-stack-0.1.0-main.r0000000821-gd50163d.tgz
  yay-tsa-v2-0.1.0-main.r0000000812-ge6da2c4.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000822-g66584fe
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000822-g66584fe.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000822-g66584fe
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000822-g66584fe.tgz
Due: prettier

fix: BOLA in playlist read paths (Jellyfin+Subsonic); max autoqa integration
  .github/workflows/ci.yml
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaylistsIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/SubsonicApiIntegrationTest.kt
Due: prettier

Release yay-tsa-0.5.1-main.r0000000823-gc48dfbe
  index.yaml
  yay-tsa-0.5.1-main.r0000000822-g66584fe.tgz
  yay-tsa-0.5.1-main.r0000000823-gc48dfbe.tgz
  yay-tsa-stack-0.1.0-main.r0000000822-g66584fe.tgz
  yay-tsa-v2-0.1.0-main.r0000000813-g1df1ffb.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000823-gc48dfbe
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000823-gc48dfbe.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000823-gc48dfbe
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000823-gc48dfbe.tgz
Due: prettier

fix(library): album/artist "Recently Played" from real song play history
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/infra-persistence/playback/src/test/kotlin/dev/yaytsa/persistence/playback/PlayHistoryRecencyTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000824-g400ccfb
  index.yaml
  yay-tsa-0.5.1-main.r0000000823-gc48dfbe.tgz
  yay-tsa-0.5.1-main.r0000000824-g400ccfb.tgz
  yay-tsa-stack-0.1.0-main.r0000000823-gc48dfbe.tgz
  yay-tsa-v2-0.1.0-main.r0000000814-gb6836e1.tgz
Due: prettier

fix: Clear SonarCloud backlog, stop excluding v2 from analysis
  apps/web/Dockerfile
  apps/web/public/audio-offline-sw.js
  apps/web/scripts/symbolicate.ts
  apps/web/src/features/offline/components/DownloadButton.tsx
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/features/player/hooks/useDeviceEvents.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/playlists/components/AddToPlaylistModal.tsx
  apps/web/src/features/playlists/hooks/usePlaylists.ts
  apps/web/src/pages/PlaylistDetailPage.tsx
  apps/web/src/pages/SearchPage.tsx
  apps/web/src/shared/perf/perf.ts
  packages/core/tests/integration/playlists.integration.test.ts
  packages/platform/src/web/client-telemetry.ts
  scripts/bundle-report.mjs
  scripts/profile-images.mjs
  scripts/profile-web.mjs
  sonar-project.properties
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000824-g400ccfb
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000824-g400ccfb.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000824-g400ccfb
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000824-g400ccfb.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000825-ge744489
  index.yaml
  yay-tsa-0.5.1-main.r0000000824-g400ccfb.tgz
  yay-tsa-0.5.1-main.r0000000825-ge744489.tgz
  yay-tsa-stack-0.1.0-main.r0000000824-g400ccfb.tgz
  yay-tsa-v2-0.1.0-main.r0000000815-g549d94c.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000825-ge744489
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000825-ge744489.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000825-ge744489
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000825-ge744489.tgz
Due: prettier

style(web): polish the desktop search bar into a proper top toolbar
  apps/web/src/shared/ui/GlobalSearchBar.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000826-g7c0a21a
  index.yaml
  yay-tsa-0.5.1-main.r0000000825-ge744489.tgz
  yay-tsa-0.5.1-main.r0000000826-g7c0a21a.tgz
  yay-tsa-stack-0.1.0-main.r0000000825-ge744489.tgz
  yay-tsa-v2-0.1.0-main.r0000000816-gd7a1ec8.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000826-g7c0a21a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000826-g7c0a21a.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000826-g7c0a21a
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000826-g7c0a21a.tgz
Due: prettier

fix: Stop redacting client-error telemetry after JSON.stringify
  packages/platform/src/web/beacon-error-transport.ts
  packages/platform/src/web/client-telemetry.test.ts
  packages/platform/src/web/client-telemetry.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.5.1-main.r0000000827-g834e7fc
  index.yaml
  yay-tsa-0.5.1-main.r0000000826-g7c0a21a.tgz
  yay-tsa-0.5.1-main.r0000000827-g834e7fc.tgz
  yay-tsa-stack-0.1.0-main.r0000000826-g7c0a21a.tgz
  yay-tsa-v2-0.1.0-main.r0000000817-g3fd5c46.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000827-g834e7fc
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000827-g834e7fc.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000827-g834e7fc
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000827-g834e7fc.tgz
Due: prettier

feat(web): search as a header magnifier that opens a slide-down panel
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/AudiobooksPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/PlaylistsPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/shared/stores/search-panel.store.ts
  apps/web/src/shared/ui/GlobalSearchBar.tsx
  apps/web/src/shared/ui/SearchButton.tsx
  apps/web/tests/e2e/search-panel.mocked.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000829-g834e7fc
  index.yaml
  yay-tsa-0.5.1-main.r0000000827-g834e7fc.tgz
  yay-tsa-0.5.1-main.r0000000829-g834e7fc.tgz
  yay-tsa-stack-0.1.0-main.r0000000827-g834e7fc.tgz
  yay-tsa-v2-0.1.0-main.r0000000818-g710c53c.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000829-g834e7fc
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000829-g834e7fc.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000829-g834e7fc
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000829-g834e7fc.tgz
Due: prettier

feat(web): add Search to the nav so it's reachable from every page
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(favorites): show albums/artists of favorite songs, not the songs
  apps/web/src/pages/FavoritesPage.tsx
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000830-g89132f1
  index.yaml
  yay-tsa-0.5.1-main.r0000000829-g834e7fc.tgz
  yay-tsa-0.5.1-main.r0000000830-g89132f1.tgz
  yay-tsa-stack-0.1.0-main.r0000000829-g834e7fc.tgz
  yay-tsa-v2-0.1.0-main.r0000000819-g8c2be35.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000830-g89132f1
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000830-g89132f1.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000830-g89132f1
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000830-g89132f1.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
