Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.4.3-main.33198a3
  index.yaml
  yay-tsa-0.4.3-main.33198a3.tgz
  yay-tsa-0.4.3-main.4a99466.tgz
Due: prettier

refactor: Remove 30 contract tests covered by Schemathesis
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ImagesApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ItemsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/KaraokeApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ListeningSessionApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/PlaylistsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/SessionsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/StreamingApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/UsersApiTest.java
Due: maven-compile

Release yay-tsa-0.4.3-main.2d09374
  index.yaml
  yay-tsa-0.4.3-main.2d09374.tgz
  yay-tsa-0.4.3-main.33198a3.tgz
Due: prettier

ci: Remove job dependencies, run all jobs in parallel
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.4.3-main.8e1297e
  index.yaml
  yay-tsa-0.4.3-main.2d09374.tgz
  yay-tsa-0.4.3-main.8e1297e.tgz
Due: prettier

ci: Restore frontend dependency on APK build
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.4.3-main.7f4befa
  index.yaml
  yay-tsa-0.4.3-main.7f4befa.tgz
  yay-tsa-0.4.3-main.8e1297e.tgz
Due: prettier

fix: A11y violations, DJ backoff, add frontend crawler tool
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/ArtistCard.tsx
  apps/web/src/features/player/hooks/useDjAutoRefill.ts
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/pages/RootLayout.tsx
  knip.json
  tools/frontend-crawler/crawl.js
  tools/frontend-crawler/package-lock.json
  tools/frontend-crawler/package.json
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.156ac18
  index.yaml
  yay-tsa-0.4.3-main.156ac18.tgz
  yay-tsa-0.4.3-main.7f4befa.tgz
Due: prettier

feat: Add post-deploy QA script (Schemathesis + ZAP + crawler)
  tools/post-deploy-qa.sh
Due: none

Release yay-tsa-0.4.3-main.6d508dd
  index.yaml
  yay-tsa-0.4.3-main.156ac18.tgz
  yay-tsa-0.4.3-main.6d508dd.tgz
Due: prettier

fix: Crawler login retry, exclude TRACE from Schemathesis
  tools/frontend-crawler/crawl.js
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.8628252
  index.yaml
  yay-tsa-0.4.3-main.6d508dd.tgz
  yay-tsa-0.4.3-main.8628252.tgz
Due: prettier

fix: Add cooldown between API scans and frontend crawler
  tools/post-deploy-qa.sh
Due: none

Release yay-tsa-0.4.3-main.92abafe
  index.yaml
  yay-tsa-0.4.3-main.8628252.tgz
  yay-tsa-0.4.3-main.92abafe.tgz
Due: prettier

feat: Post-deploy QA via HTTP, inject GIT_SHA into System/Info
  .github/workflows/ci.yml
  services/server/src/main/java/com/yaytsa/server/controller/SystemController.java
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.7a546a5
  index.yaml
  yay-tsa-0.4.3-main.7a546a5.tgz
  yay-tsa-0.4.3-main.92abafe.tgz
Due: prettier

fix: Knip playwright binary, skip radio E2E without embeddings
  apps/web/tests/e2e/radio.spec.ts
  knip.json
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.65f6b94
  index.yaml
  yay-tsa-0.4.3-main.65f6b94.tgz
  yay-tsa-0.4.3-main.7a546a5.tgz
Due: prettier

fix: Keep full queue history, auto-scroll to current track
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.c51e4b7
  index.yaml
  yay-tsa-0.4.3-main.65f6b94.tgz
  yay-tsa-0.4.3-main.c51e4b7.tgz
Due: prettier

refactor: Remove dead trimBeforeCurrent and re-insertion logic
  packages/core/src/player/queue.test.ts
  packages/core/src/player/queue.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.4.3-main.bca577f
  index.yaml
  yay-tsa-0.4.3-main.bca577f.tgz
  yay-tsa-0.4.3-main.c51e4b7.tgz
Due: prettier

fix: Remove aggressive caching to prevent stale 404s after deploy
  infra/nginx/nginx.conf.template
Due: docker-build

Release yay-tsa-0.4.3-main.f84204a
  index.yaml
  yay-tsa-0.4.3-main.bca577f.tgz
  yay-tsa-0.4.3-main.f84204a.tgz
Due: prettier

fix: Increase auth rate limit 5r/m to 30r/m
  infra/nginx/nginx.conf.template
Due: docker-build

Release yay-tsa-0.4.3-main.3d44b8c
  index.yaml
  yay-tsa-0.4.3-main.3d44b8c.tgz
  yay-tsa-0.4.3-main.f5b7b40.tgz
Due: prettier

fix: Resolve all 29 open SonarQube issues
  apps/android-app/app/src/main/java/com/yaytsa/app/WebViewActivity.kt
  apps/web/tests/e2e/monkey.spec.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  tools/frontend-crawler/crawl.js
  tools/post-deploy-qa.sh
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.a83099b
  index.yaml
  yay-tsa-0.4.3-main.3d44b8c.tgz
  yay-tsa-0.4.3-main.a83099b.tgz
Due: prettier

fix: Resolve remaining 2 SonarQube issues
  tools/frontend-crawler/crawl.js
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.9e70c58
  index.yaml
  yay-tsa-0.4.3-main.9e70c58.tgz
  yay-tsa-0.4.3-main.a83099b.tgz
Due: prettier

fix: Suppress SonarQube false positive on fail() function
  tools/post-deploy-qa.sh
Due: none

Release yay-tsa-0.4.3-main.d00bebb
  index.yaml
  yay-tsa-0.4.3-main.9e70c58.tgz
  yay-tsa-0.4.3-main.d00bebb.tgz
Due: prettier

Align Yaytsa protocol to standard Jellyfin API
  packages/core/src/api/api.client.ts
  packages/core/src/api/favorites.service.ts
  packages/core/src/api/items.service.ts
  packages/core/src/api/playlists.service.ts
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UserFavoriteItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/BearerAuthFilter.java
Due: prettier, eslint, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.eda295d
  index.yaml
  yay-tsa-0.4.3-main.d00bebb.tgz
  yay-tsa-0.4.3-main.eda295d.tgz
Due: prettier

Add /UserViews endpoint for Jellyfin client compatibility
  services/server/src/main/java/com/yaytsa/server/controller/UserViewsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.6bc9b33
  index.yaml
  yay-tsa-0.4.3-main.6bc9b33.tgz
  yay-tsa-0.4.3-main.eda295d.tgz
Due: prettier

Fix Jellyfin client crash: add missing required bool fields to UserPolicy
  services/server/src/main/java/com/yaytsa/server/dto/response/UserResponse.java
  services/server/src/main/java/com/yaytsa/server/mapper/UserMapper.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.2ad7e29
  index.yaml
  yay-tsa-0.4.3-main.2ad7e29.tgz
  yay-tsa-0.4.3-main.6bc9b33.tgz
Due: prettier

Fix: include null fields in JSON responses for Jellyfin client compat
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
