Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix: Resolve CI failures in pre-commit, Docker build, and SonarCloud
  .pre-commit-config.yaml
  services/audio-separator/extractor/essentia_analyzer.py
  services/audio-separator/requirements/essentia.txt
Due: prettier

fix: Update review workflow SHA and increase max_turns to 15
  .github/workflows/claude.yml
Due: prettier

Release yay-tsa-0.2.2-main.4dc986c
  index.yaml
  yay-tsa-0.2.2-main.48d04bb.tgz
  yay-tsa-0.2.2-main.4dc986c.tgz
Due: prettier

feat: Add Adaptive DJ frontend UI components
  apps/web/src/features/player/components/AdaptiveQueueView.tsx
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/features/player/components/SessionMoodSelector.tsx
  apps/web/src/features/player/hooks/useSignalEmitter.ts
  apps/web/src/features/player/stores/index.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/pages/HomePage.tsx
  packages/core/src/api/adaptive-dj.service.ts
  packages/core/src/api/adaptive-dj.types.ts
  packages/core/src/index.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

ci: Update review workflow SHA for issue body fix
  .github/workflows/claude.yml
Due: prettier

fix: Address review findings and Playwright fixture error
  apps/web/src/features/player/components/AdaptiveQueueView.tsx
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  packages/core/src/api/adaptive-dj.service.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

fix: Use h1 headings in AdaptiveQueueView for mobile accessibility
  apps/web/src/features/player/components/AdaptiveQueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat: Add Adaptive DJ frontend UI components (#115)
  .github/workflows/claude.yml
  apps/web/src/features/player/components/AdaptiveQueueView.tsx
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/features/player/components/SessionMoodSelector.tsx
  apps/web/src/features/player/hooks/useSignalEmitter.ts
  apps/web/src/features/player/stores/index.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  packages/core/src/api/adaptive-dj.service.ts
  packages/core/src/api/adaptive-dj.types.ts
  packages/core/src/index.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.2.2-main.ff45cb4
  index.yaml
  yay-tsa-0.2.2-main.4dc986c.tgz
  yay-tsa-0.2.2-main.ff45cb4.tgz
Due: prettier

feat: Add Anthropic API key support to Helm chart
  charts/yay-tsa/templates/backend-deployment.yaml
  charts/yay-tsa/values.yaml
Due: none

Release yay-tsa-0.2.2-main.6ca51f4
  index.yaml
  yay-tsa-0.2.2-main.6ca51f4.tgz
  yay-tsa-0.2.2-main.dd77a8b.tgz
Due: prettier

chore: Bump Helm chart version to 0.3.0
  charts/yay-tsa/Chart.yaml
Due: none

fix: Fix HomePage layout overlap between albums and DJ preferences
  apps/web/src/features/player/components/AdaptiveQueueView.tsx
  apps/web/src/pages/HomePage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.3.0-main.c9b33ee
  index.yaml
  yay-tsa-0.2.2-main.6ca51f4.tgz
  yay-tsa-0.3.0-main.c9b33ee.tgz
Due: prettier

fix: Remove duplicate /api prefix from Adaptive DJ service paths
  packages/core/src/api/adaptive-dj.service.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.3.0-main.29e0c16
  index.yaml
  yay-tsa-0.2.2-main.dfdd79b.tgz
  yay-tsa-0.3.0-main.29e0c16.tgz
Due: prettier

fix: Add @JdbcTypeCode(SqlTypes.JSON) to all JSONB entity fields
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ListeningSessionEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/LlmDecisionLogEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/PlaybackSignalEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/TasteProfileEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/UserPreferenceContractEntity.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.292a63d
  index.yaml
  yay-tsa-0.2.2-main.e29d207.tgz
  yay-tsa-0.3.0-main.292a63d.tgz
Due: prettier

fix: Remove /api prefix from Adaptive DJ controller mappings
  services/server/src/main/java/com/yaytsa/server/controller/AdaptiveQueueController.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/controller/TrackFeaturesController.java
  services/server/src/main/java/com/yaytsa/server/controller/UserPreferencesController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.0fd26fa
  index.yaml
  yay-tsa-0.2.2-main.e75b278.tgz
  yay-tsa-0.3.0-main.0fd26fa.tgz
Due: prettier

fix: Auto-create default preferences for new users
  services/server/src/main/java/com/yaytsa/server/domain/service/UserPreferencesService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.5437ee4
  index.yaml
  yay-tsa-0.2.2-main.eb9160d.tgz
  yay-tsa-0.3.0-main.5437ee4.tgz
Due: prettier

feat: Add DJ queue click-to-play and discovery mode for adventurous DJ
  apps/web/src/features/library/hooks/useAlbums.ts
  apps/web/src/features/player/components/AdaptiveQueueView.tsx
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/pages/HomePage.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/QueuePolicyValidator.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.aba272b
  index.yaml
  yay-tsa-0.2.2-main.ee14a9e.tgz
  yay-tsa-0.3.0-main.aba272b.tgz
Due: prettier

feat: Overhaul DJ UX and fix critical backend bugs
  CLAUDE.md
  apps/web/src/features/player/components/AdaptiveQueueView.tsx
  apps/web/src/features/player/components/DjModeControl.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/components/SessionMoodSelector.tsx
  apps/web/src/features/player/hooks/useDjAutoRefill.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/tsconfig.json
  package.json
  packages/core/src/api/items.service.ts
  packages/core/src/internal/models/types.ts
  packages/core/tsconfig.json
  packages/platform/tsconfig.json
  services/server/CLAUDE.md
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CandidateRetrievalService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/QueuePolicyValidator.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AdaptiveQueueEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ListeningSessionEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayHistoryRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
  services/server/src/main/resources/application.yml
  services/server/src/main/resources/db/migration/V13__extract_session_state_columns.sql
  services/server/src/main/resources/db/migration/V14__add_adaptive_queue_entity_version.sql
  tsconfig.json
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix: Revert TypeScript project references breaking Docker build
  apps/web/tsconfig.json
  package.json
  packages/core/tsconfig.json
  packages/platform/tsconfig.json
  tsconfig.json
Due: prettier, sort-package-json, npm-audit, docker-build

fix(auth): prevent infinite loading spinner after logout
  apps/web/src/features/auth/stores/auth.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.3.0-main.064537b
  index.yaml
  yay-tsa-0.2.2-main.f3c6335.tgz
  yay-tsa-0.3.0-main.064537b.tgz
Due: prettier

fix: Auto-start DJ on login, fix empty queue and LLM parsing
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/stores/session-store.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/resources/application.yml
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.902dbd2
  index.yaml
  yay-tsa-0.2.2-main.f7aaf8b.tgz
  yay-tsa-0.3.0-main.902dbd2.tgz
Due: prettier

feat: Rewrite DJ LLM service with official Anthropic Java SDK + Sonnet 4.5
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.3d7febe
  index.yaml
  yay-tsa-0.2.2-main.fa90b3b.tgz
  yay-tsa-0.3.0-main.3d7febe.tgz
Due: prettier

fix: Reject synthetic paths in streaming + retry with revalidation on version conflict
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.f2ede80
  index.yaml
  yay-tsa-0.2.2-main.ff45cb4.tgz
  yay-tsa-0.3.0-main.f2ede80.tgz
Due: prettier

feat: Add cross-field smart search with transliteration
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaylistService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SearchNormalizer.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ItemEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
  services/server/src/main/resources/db/migration/V15__smart_search.sql
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.3.0-main.fe0bfaa
  index.yaml
  yay-tsa-0.3.0-main.064537b.tgz
  yay-tsa-0.3.0-main.fe0bfaa.tgz
Due: prettier

fix: Retry LLM when it returns empty edits instead of falling back
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/QueuePolicyValidator.java
Due: maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
