Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.4.3-main.f79237d
  index.yaml
  yay-tsa-0.4.3-main.6cc7b7f.tgz
  yay-tsa-0.4.3-main.f79237d.tgz
Due: prettier

fix: Backend healthcheck, DEVICE default, K8s fallback URL, ACOUSTID
  apps/web/docker/entrypoint.sh
  docker-compose.yml
  docker/docker-compose.yml
  docker/example.env
  services/audio-separator/app.py
Due: prettier, docker-compose-check, docker-build

Release yay-tsa-0.4.3-main.cca120a
  index.yaml
  yay-tsa-0.4.3-main.76ad4b0.tgz
  yay-tsa-0.4.3-main.cca120a.tgz
Due: prettier

fix: Handle GID 1000 conflict and flaky model downloads
  services/audio-separator/Dockerfile
  services/audio-separator/scripts/download_models.sh
Due: none

Release yay-tsa-0.4.3-main.fe11945
  index.yaml
  yay-tsa-0.4.3-main.aa19bfe.tgz
  yay-tsa-0.4.3-main.fe11945.tgz
Due: prettier

feat: Add sorting, favorite ordering, and drag-and-drop reorder
  apps/web/package.json
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/hooks/index.ts
  apps/web/src/features/library/hooks/useAlbums.ts
  apps/web/src/features/library/hooks/useArtists.ts
  apps/web/src/features/library/hooks/useReorderFavorites.ts
  apps/web/src/features/library/hooks/useTracks.ts
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/ui/SortMenu.tsx
  apps/web/src/shared/ui/SortableList.tsx
  package-lock.json
  packages/core/src/api/favorites.service.ts
  packages/core/src/api/items.service.ts
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlayStateService.java
  services/server/src/main/java/com/yaytsa/server/dto/request/ReorderFavoritesRequest.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/PlayStateEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayStateRepository.java
  services/server/src/main/resources/db/migration/V21__add_favorite_ordering.sql
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.5dff2e0
  index.yaml
  yay-tsa-0.4.3-main.5dff2e0.tgz
  yay-tsa-0.4.3-main.b25f7db.tgz
Due: prettier

fix: Optimize useFavoriteToggle query cache updates
  apps/web/src/features/library/hooks/useFavorites.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

fix: Frontend review — bugs, accessibility, UX, and perf fixes
  apps/web/src/app/App.tsx
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/library/hooks/useReorderFavorites.ts
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlaybackControls.tsx
  apps/web/src/features/player/components/SeekBar.tsx
  apps/web/src/features/player/hooks/useLyrics.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  apps/web/src/index.css
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/components/VersionInfo.tsx
  apps/web/src/shared/ui/SortMenu.tsx
  apps/web/src/shared/ui/SortableList.tsx
  apps/web/vite.config.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.2cddafb
  index.yaml
  yay-tsa-0.4.3-main.2cddafb.tgz
  yay-tsa-0.4.3-main.5dff2e0.tgz
Due: prettier

fix: Remove catch-all vendor-utils chunk causing circular deps
  apps/web/vite.config.ts
Due: prettier, jscpd

Release yay-tsa-0.4.3-main.946508b
  index.yaml
  yay-tsa-0.4.3-main.2cddafb.tgz
  yay-tsa-0.4.3-main.946508b.tgz
Due: prettier

fix: Use --z-index-* naming for Tailwind CSS 4 z-index utilities
  apps/web/src/index.css
Due: prettier

Release yay-tsa-0.4.3-main.a3796c0
  index.yaml
  yay-tsa-0.4.3-main.946508b.tgz
  yay-tsa-0.4.3-main.a3796c0.tgz
Due: prettier

feat: Virtualization, worker color extraction, modal, and UX fixes
  apps/web/package.json
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/library/hooks/useReorderFavorites.ts
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/SleepTimerModal.tsx
  apps/web/src/features/player/components/VolumeControls.tsx
  apps/web/src/index.css
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/ui/Modal.tsx
  apps/web/src/shared/utils/color-extraction.ts
  apps/web/src/shared/utils/color-extraction.worker.ts
  package-lock.json
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.730fdef
  index.yaml
  yay-tsa-0.4.3-main.730fdef.tgz
  yay-tsa-0.4.3-main.a3796c0.tgz
Due: prettier

fix: streaming 403, signals FK violation, auto-skip on error
  apps/web/src/features/player/stores/player.store.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.19958b3
  index.yaml
  yay-tsa-0.4.3-main.19958b3.tgz
  yay-tsa-0.4.3-main.730fdef.tgz
Due: prettier

style: Apply Google Java Format to backend files
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LlmDjService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.b16c4e9
  index.yaml
  yay-tsa-0.4.3-main.19958b3.tgz
  yay-tsa-0.4.3-main.b16c4e9.tgz
Due: prettier

fix: Allow screen-wake-lock in Permissions-Policy header
  infra/nginx/nginx.conf.template
Due: docker-build

Release yay-tsa-0.4.3-main.7e08682
  index.yaml
  yay-tsa-0.4.3-main.7e08682.tgz
  yay-tsa-0.4.3-main.b16c4e9.tgz
Due: prettier

fix: Use container-scoped virtualizer instead of window virtualizer
  apps/web/src/features/library/components/TrackList.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.f5dd166
  index.yaml
  yay-tsa-0.4.3-main.7e08682.tgz
  yay-tsa-0.4.3-main.f5dd166.tgz
Due: prettier

fix: Cap DJ queue at target size and batch getItemsByIds
  .pre-commit-config.yaml
  packages/core/src/api/items.service.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/FallbackQueueService.java
Due: prettier, eslint, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.956e12a
  index.yaml
  yay-tsa-0.4.3-main.956e12a.tgz
  yay-tsa-0.4.3-main.bf39cfa.tgz
Due: prettier

fix: Skip preceding queue entries on playback signals
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.768c370
  index.yaml
  yay-tsa-0.4.3-main.768c370.tgz
  yay-tsa-0.4.3-main.956e12a.tgz
Due: prettier

fix: Trim queue items before current track on advance
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/player/queue.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.4.3-main.b739f88
  index.yaml
  yay-tsa-0.4.3-main.768c370.tgz
  yay-tsa-0.4.3-main.b739f88.tgz
Due: prettier

fix: Auto-scroll queue to top on track change
  apps/web/src/features/player/components/QueueView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.16dc1b9
  index.yaml
  yay-tsa-0.4.3-main.16dc1b9.tgz
  yay-tsa-0.4.3-main.b739f88.tgz
Due: prettier

feat: Add DJ feedback buttons (thumbs up/down) to queue
  apps/web/src/features/player/components/QueueView.tsx
  packages/core/src/api/adaptive-dj.types.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.5202911
  index.yaml
  yay-tsa-0.4.3-main.16dc1b9.tgz
  yay-tsa-0.4.3-main.5202911.tgz
Due: prettier

fix: Re-attach detached item entity in updateExistingTrack to prevent LazyInitializationException
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.ca58dd0
  index.yaml
  yay-tsa-0.4.3-main.5202911.tgz
  yay-tsa-0.4.3-main.ca58dd0.tgz
Due: prettier

feat: Infinite scroll DJ queue — load on scroll bottom, raise max-size to 200
  apps/web/src/features/player/components/QueueView.tsx
  services/server/src/main/resources/application.yml
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile

Release yay-tsa-0.4.3-main.b2db792
  index.yaml
  yay-tsa-0.4.3-main.b2db792.tgz
  yay-tsa-0.4.3-main.ca58dd0.tgz
Due: prettier

fix: Widen audio_tracks.codec to VARCHAR(255) for long WMA codec names
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AudioTrackEntity.java
  services/server/src/main/resources/db/migration/V22__widen_codec_column.sql
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.ce182c5
  index.yaml
  yay-tsa-0.4.3-main.b2db792.tgz
  yay-tsa-0.4.3-main.ce182c5.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
