Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-package-json, eslint, docker-compose-check, npm-audit, docker-build, jscpd

sort-package-json:
  name: Sort package.json files
  entry: npx sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: node

eslint:
  name: ESLint (TypeScript/Svelte quality)
  entry: npx eslint --fix
  language: node
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --production
  language: node
  pass_filenames: false

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/.svelte-kit/**" packages/ apps/
  language: node
  pass_filenames: false

feat: Add X-Accel-Redirect, Prometheus metrics, FTS, and lyrics API
  apps/web/src/lib/features/player/components/KaraokeModeButton.svelte
  apps/web/src/lib/features/player/stores/player.store.ts
  packages/platform/src/web/html5-audio.ts
  services/server/src/main/java/com/yaytsa/server/config/ObservabilityConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/BaseItemResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
  services/server/src/main/java/com/yaytsa/server/mapper/ItemMapper.java
  services/server/src/main/resources/application.yml
  services/server/src/main/resources/db/migration/V5__add_full_text_search.sql
Due: eslint, docker-build, jscpd

fix: URL-encode paths in X-Accel-Redirect headers for Cyrillic filenames
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
Due: none

fix: Use %20 instead of + for spaces in X-Accel-Redirect paths
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
Due: none

ci: Add Java 21 setup for pre-commit hooks
  .github/workflows/ci.yml
Due: none

feat: Add seamless audio stream switching with crossfade
  apps/web/src/lib/features/player/components/Controls.svelte
  apps/web/src/lib/features/player/stores/player.store.ts
  packages/platform/src/web/html5-audio.ts
Due: eslint, docker-build, jscpd

feat: Add X-Accel-Redirect, pre-compression, and enhanced rate limiting
  apps/web/Dockerfile
  apps/web/docker/entrypoint.sh
  infra/nginx/nginx.conf.template
Due: docker-build

fix(web): Generate CSP hashes file during build
  apps/web/docker/entrypoint.sh
  apps/web/package.json
  apps/web/scripts/generate-csp-hashes.js
Due: sort-package-json, eslint, docker-build, jscpd

fix(docker): Update nginx config for Vite build output
  infra/nginx/nginx.conf.template
Due: none

fix(docker): Use internal backend URL for nginx proxying
  apps/web/docker/entrypoint.sh
  infra/nginx/nginx.conf.template
Due: docker-build

fix(images): extract artwork from folder/audio files on-demand
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/FileSystemMediaScanner.java
Due: none

style: format Java code with google-java-format
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
Due: none

feat(web): Add logging utilities and error handling
  apps/web/index.html
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/Toast.tsx
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/main.tsx
  apps/web/src/shared/utils/logger.ts
Due: eslint, docker-build, jscpd

feat(config): Add global exception handler and request logging
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/error/GlobalExceptionHandler.java
  services/server/src/main/java/com/yaytsa/server/error/RequestLoggingFilter.java
Due: none

fix(web): Restore original green music note icons
  apps/web/index.html
  apps/web/public/favicon.ico
  apps/web/public/favicon.png
  apps/web/public/icons/apple-touch-icon.png
  apps/web/public/icons/icon-120.png
  apps/web/public/icons/icon-152.png
  apps/web/public/icons/icon-167.png
  apps/web/public/icons/icon-180.png
  apps/web/public/icons/icon-192.png
  apps/web/public/icons/icon-512.png
  apps/web/static/favicon.png
  apps/web/static/icon-120.png
  apps/web/static/icon-152.png
  apps/web/static/icon-167.png
  apps/web/static/icon-180.png
  apps/web/static/icon-192.png
  apps/web/static/icon-512.png
  apps/web/static/icon.svg
Due: none

fix(web): Remove duplicate static folder
  apps/web/static/favicon.png
  apps/web/static/icon-120.png
  apps/web/static/icon-152.png
  apps/web/static/icon-167.png
  apps/web/static/icon-180.png
  apps/web/static/icon-192.png
  apps/web/static/icon-512.png
  apps/web/static/icon.svg
Due: none

feat: Add backend integration tests and fix Docker test environment
  .dockerignore
  apps/web/playwright.config.ts
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/lib/shared/test-ids.ts
  apps/web/src/routes/AlbumDetailPage.tsx
  apps/web/src/routes/RootLayout.tsx
  apps/web/vite.config.ts
  docker-compose.yml
  packages/core/tests/integration/fixtures/data-factory.ts
  services/server/Dockerfile
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaylistService.java
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/BaseIntegrationTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ImagesApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ItemsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/KaraokeApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/PlaylistsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/SessionsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/StreamingApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/SystemApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/UsersApiTest.java
Due: eslint, docker-compose-check, docker-build, jscpd

fix: Add HikariCP resilience settings for connection recovery
  services/server/src/main/resources/application.yml
Due: none

fix: Downgrade Tailwind CSS to v3 for compatibility
  apps/web/package.json
  package-lock.json
Due: sort-package-json, npm-audit, docker-build

fix: Add context-path and increase max header size for OAuth2 Proxy
  services/server/src/main/resources/application.yml
Due: none

refactor: remove /api context-path from backend
  apps/web/vite.config.ts
  docker-compose.yml
  infra/nginx/nginx.conf.template
  services/server/src/main/resources/application.yml
Due: eslint, docker-compose-check, docker-build, jscpd

fix: include credentials in fetch for OAuth2-Proxy cookies
  packages/core/src/api/api.client.ts
Due: eslint, jscpd

fix: Add X-Accel-Redirect for images and improve fallback logic
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
Due: none

fix: Find any image file in folder if standard names not found
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
Due: none

fix: Use NetworkOnly for audio streams to avoid 206 caching errors
  apps/web/vite.config.ts
Due: eslint, docker-build, jscpd

fix: Use React Router Link for client-side navigation
  apps/web/src/routes/RootLayout.tsx
Due: none

fix: Skip /app/temp/ paths and add debug logging for image fallback
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
Due: none

feat: Track play history and show only Recently Played on Home
  apps/web/src/routes/HomePage.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
Due: none

fix: Include credentials in fetch for OAuth2-Proxy cookies
  apps/web/vite.config.ts
Due: eslint, docker-build, jscpd

fix: Improve player performance and fix queue shuffle bug
  apps/web/src/app/infra/ErrorBoundary.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/vite.config.ts
  eslint.config.js
  packages/core/src/api/api.client.ts
  packages/core/src/api/auth.service.ts
  packages/core/src/api/base-api.service.ts
  packages/core/src/api/items.service.ts
  packages/core/src/api/playlists.service.ts
  packages/core/src/cache/indexed-db-cache.ts
  packages/core/src/player/playback-state.ts
  packages/core/src/player/queue.ts
  packages/platform/src/web/html5-audio.ts
Due: eslint, docker-build, jscpd

fix: Add ImageTags field to album/artist API requests
  packages/core/src/api/items.service.ts
Due: eslint, jscpd

feat(web): Add cache management and fix security vulnerabilities
  apps/web/src/main.tsx
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/lib/query-client.ts
  packages/core/src/api/admin.service.ts
  packages/core/src/index.ts
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
Due: eslint, docker-build, jscpd

fix: Improve input validation and auth context propagation
  apps/web/src/pages/RootLayout.tsx
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/AuthenticatedUser.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/EmbyAuthFilter.java
  services/server/src/main/java/com/yaytsa/server/util/PathUtils.java
Due: none

fix: Add missing artwork detection for existing albums
  services/server/src/main/java/com/yaytsa/server/controller/AdminController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/FileSystemMediaScanner.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
Due: none

feat(web): Add track artwork, fix pagination, and improve player stability
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/hooks/useAlbums.ts
  apps/web/src/features/library/hooks/useArtists.ts
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
Due: eslint, docker-build, jscpd

feat(web): Add unified version display with environment indicator
  .github/workflows/ci.yml
  apps/web/Dockerfile
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/components/VersionInfo.tsx
  apps/web/vite.config.ts
Due: eslint, docker-build, jscpd

fix(ci): Use tag-based environment detection for staging/production
  .github/workflows/ci.yml
Due: none

Path conditions:
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|svelte)$
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/entrypoint\.sh|deploy/nginx/nginx\.conf\.template| packages/.*/.*\.(ts|svelte|js|json)|apps/web/.*\.(ts|svelte|js|json)|package\.json)$
  jscpd: any of: \.(js|ts|svelte)$
