Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-0.4.3-main.97205b3
  index.yaml
  yay-tsa-0.4.3-main.2ad7e29.tgz
  yay-tsa-0.4.3-main.97205b3.tgz
Due: prettier

Fix: truncate timestamps to milliseconds for Dart client compat
  services/server/src/main/java/com/yaytsa/server/config/JacksonConfig.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.d5bf3ed
  index.yaml
  yay-tsa-0.4.3-main.97205b3.tgz
  yay-tsa-0.4.3-main.d5bf3ed.tgz
Due: prettier

Fix: use anonymous subclass for protected OffsetDateTimeSerializer ctor
  services/server/src/main/java/com/yaytsa/server/config/JacksonConfig.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.6d17b57
  index.yaml
  yay-tsa-0.4.3-main.6d17b57.tgz
  yay-tsa-0.4.3-main.d5bf3ed.tgz
Due: prettier

Set server version to 10.10.0 for Jellyfin client compat
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.dea142e
  index.yaml
  yay-tsa-0.4.3-main.6d17b57.tgz
  yay-tsa-0.4.3-main.dea142e.tgz
Due: prettier

Fix Finamp login: add missing SupportsSync/SupportsContentUploading
  services/server/src/main/java/com/yaytsa/server/dto/response/SessionInfoResponse.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.79517d7
  index.yaml
  yay-tsa-0.4.3-main.79517d7.tgz
  yay-tsa-0.4.3-main.dea142e.tgz
Due: prettier

Fix: support Authorization: MediaBrowser header (Finamp compat)
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/BearerAuthFilter.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.6409f32
  index.yaml
  yay-tsa-0.4.3-main.6409f32.tgz
  yay-tsa-0.4.3-main.79517d7.tgz
Due: prettier

Revert to non_null JSON inclusion — matches real Jellyfin behavior
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.ac52b47
  index.yaml
  yay-tsa-0.4.3-main.6409f32.tgz
  yay-tsa-0.4.3-main.ac52b47.tgz
Due: prettier

Add ALL missing UserPolicy fields from real Jellyfin 10.11.8
  services/server/src/main/java/com/yaytsa/server/dto/response/UserResponse.java
  services/server/src/main/java/com/yaytsa/server/mapper/UserMapper.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.6e731c1
  index.yaml
  yay-tsa-0.4.3-main.6e731c1.tgz
  yay-tsa-0.4.3-main.ac52b47.tgz
Due: prettier

Release yay-tsa-0.4.3-main.bbf2669
  index.yaml
  yay-tsa-0.4.3-main.6e731c1.tgz
  yay-tsa-0.4.3-main.bbf2669.tgz
Due: prettier

trigger backend rebuild
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.4b99b90
  index.yaml
  yay-tsa-0.4.3-main.4b99b90.tgz
  yay-tsa-0.4.3-main.bbf2669.tgz
Due: prettier

remove trigger comment
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.3d91882
  index.yaml
  yay-tsa-0.4.3-main.3d91882.tgz
  yay-tsa-0.4.3-main.4b99b90.tgz
Due: prettier

fix: make jellyfinPolicy public
  packages/core/src/api/items.service.ts
  services/server/src/main/java/com/yaytsa/server/controller/UserFavoriteItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UserViewsController.java
  services/server/src/main/java/com/yaytsa/server/dto/response/UserResponse.java
Due: prettier, eslint, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.501d629
  index.yaml
  yay-tsa-0.4.3-main.3d91882.tgz
  yay-tsa-0.4.3-main.501d629.tgz
Due: prettier

fix: add /Users/{id}/Views path for Finamp
  services/server/src/main/java/com/yaytsa/server/controller/UserViewsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.d06ca9b
  index.yaml
  yay-tsa-0.4.3-main.501d629.tgz
  yay-tsa-0.4.3-main.d06ca9b.tgz
Due: prettier

fix: add StartIndex to UserViews response (Finamp requires non-null int)
  services/server/src/main/java/com/yaytsa/server/controller/UserViewsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.eee4bec
  index.yaml
  yay-tsa-0.4.3-main.d06ca9b.tgz
  yay-tsa-0.4.3-main.eee4bec.tgz
Due: prettier

fix: add /Users/{id}/Items path back to ItemsController for Finamp
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.5ffaf95
  index.yaml
  yay-tsa-0.4.3-main.5ffaf95.tgz
  yay-tsa-0.4.3-main.eee4bec.tgz
Due: prettier

Restore all Jellyfin endpoints + add Artists/Genres for Finamp
  services/server/src/main/java/com/yaytsa/server/controller/ArtistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/GenresController.java
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ArtistRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.5b458cb
  index.yaml
  yay-tsa-0.4.3-main.5b458cb.tgz
  yay-tsa-0.4.3-main.5ffaf95.tgz
Due: prettier

fix: ArtistEntity has no sortName, use item.sortName
  services/server/src/main/java/com/yaytsa/server/controller/ArtistsController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ArtistRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.7cb3080
  index.yaml
  yay-tsa-0.4.3-main.5b458cb.tgz
  yay-tsa-0.4.3-main.7cb3080.tgz
Due: prettier

fix: Add /Items/{id}/File stream endpoint and ApiKey query param for Finamp
  apps/web/src/features/library/hooks/useFavorites.ts
  services/server/src/main/java/com/yaytsa/server/controller/StreamingController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/BearerAuthFilter.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

fix: Always include UserData in BaseItemResponse for Finamp
  services/server/src/main/java/com/yaytsa/server/mapper/ItemMapper.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Allow images without auth, add shift-commit-time hook
  .pre-commit-config.yaml
  services/server/src/main/java/com/yaytsa/server/config/SecurityConfig.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/BearerAuthFilter.java
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.0f94886
  index.yaml
  yay-tsa-0.4.3-main.0f94886.tgz
  yay-tsa-0.4.3-main.7cb3080.tgz
Due: prettier

Release yay-tsa-0.4.3-main.d44593a
  index.yaml
  yay-tsa-0.4.3-main.0f94886.tgz
  yay-tsa-0.4.3-main.d44593a.tgz
Due: prettier

Release yay-tsa-0.4.3-main.a3c212b
  index.yaml
  yay-tsa-0.4.3-main.a3c212b.tgz
  yay-tsa-0.4.3-main.d44593a.tgz
Due: prettier

Release yay-tsa-0.4.3-main.2c2cc07
  index.yaml
  yay-tsa-0.4.3-main.2c2cc07.tgz
  yay-tsa-0.4.3-main.a3c212b.tgz
Due: prettier
