Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.2.2-main.1dea2ff
  index.yaml
  yay-tsa-0.2.2-main.1dea2ff.tgz
  yay-tsa-0.2.2-main.a69ee9c.tgz
Due: prettier

fix: Prevent premature gapless transition from unstable audio duration
  packages/platform/src/web/html5-audio.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.2.2-main.1aecc5e
  index.yaml
  yay-tsa-0.2.2-main.1aecc5e.tgz
  yay-tsa-0.2.2-main.1dea2ff.tgz
Due: prettier

fix: Address remaining SonarQube and CodeQL issues across all services
  .github/workflows/ci.yml
  apps/web/src/features/player/components/SeekBar.tsx
  apps/web/src/features/player/components/VolumeControls.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/shared/utils/color-extraction.ts
  apps/web/src/shared/utils/time.ts
  apps/web/tests/e2e/audio-playback.spec.ts
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  apps/web/tests/e2e/helpers/audio-helpers.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  charts/yay-tsa/values.yaml
  packages/core/src/api/auth.service.ts
  packages/core/src/internal/utils/logger.ts
  packages/core/src/lyrics/lrc-parser.ts
  packages/core/tests/integration/fixtures/scenarios.ts
  packages/core/tests/integration/setup.ts
  packages/core/tsconfig.json
  packages/platform/src/web/html5-audio.ts
  packages/platform/tsconfig.json
  services/audio-separator/app.py
  sonar-project.properties
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.2.2-main.10319ee
  index.yaml
  yay-tsa-0.2.2-main.10319ee.tgz
  yay-tsa-0.2.2-main.1aecc5e.tgz
Due: prettier

fix: Align tsconfig targets to ES2021 and tighten sonar suppression scope
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  services/audio-separator/app.py
  sonar-project.properties
Due: prettier, jscpd

Release yay-tsa-0.2.2-main.12fc941
  index.yaml
  yay-tsa-0.2.2-main.10319ee.tgz
  yay-tsa-0.2.2-main.12fc941.tgz
Due: prettier

fix: Resolve remaining SonarQube hotspot, storage limits, and bcrypt suppressions
  charts/yay-tsa/values.yaml
  services/audio-separator/app.py
  sonar-project.properties
Due: none

Release yay-tsa-0.2.2-main.6941040
  index.yaml
  yay-tsa-0.2.2-main.12fc941.tgz
  yay-tsa-0.2.2-main.6941040.tgz
Due: prettier

fix: Use single \s in regex for Python 3.10 compat and add backend storage limits
  charts/yay-tsa/values.yaml
  services/audio-separator/app.py
Due: none

Release yay-tsa-0.2.2-main.dd77a8b
  index.yaml
  yay-tsa-0.2.2-main.6941040.tgz
  yay-tsa-0.2.2-main.dd77a8b.tgz
Due: prettier

feat: track upload, metadata enrichment, and admin settings
  CHANGELOG.md
  PR_DESCRIPTION.md
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/library/components/index.ts
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/vite.config.ts
  services/audio-separator/app.py
  services/server/Dockerfile
  services/server/METADATA_PROVIDERS.md
  services/server/src/main/java/com/yaytsa/server/config/CacheConfig.java
  services/server/src/main/java/com/yaytsa/server/config/LibraryRootsConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/controller/UploadController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AppSettingsService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AudioFingerprintService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TrackUploadService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AggregatedMetadataService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/GeniusProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/ItunesSearchProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/LastFmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MetadataProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MusicBrainzProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/SpotifyProvider.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/AudioSeparatorClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LrcLibClient.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AppSettingsEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AppSettingsRepository.java
  services/server/src/main/resources/db/migration/V11__add_audio_fingerprinting.sql
  services/server/src/main/resources/db/migration/V12__add_app_settings_and_album_completion.sql
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix(auth): register auth error callback only after successful login
  apps/web/src/features/auth/stores/auth.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

fix(web): prevent mobile player bar from overlapping bottom navigation
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/index.css
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Address code review findings — security, performance, accessibility
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/vite.config.ts
  services/audio-separator/app.py
  services/server/Dockerfile
  services/server/src/main/java/com/yaytsa/server/config/CacheConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/controller/UploadController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AudioFingerprintService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/CoverArtService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TrackUploadService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AggregatedMetadataService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/MusicBrainzProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/SpotifyProvider.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/AudioSeparatorClient.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix: Reset lastUrlRef in useAlbumColors cleanup to fix React StrictMode
  apps/web/src/features/player/hooks/useAlbumColors.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

feat: Toggle play/pause on album cards across all pages
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/AlbumGrid.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/HomePage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

refactor: Remove Metadata Providers and Services sections from Settings
  apps/web/src/pages/SettingsPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Prevent login form from being stuck after logout
  apps/web/src/features/auth/stores/auth.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

feat: Add AcoustID fingerprint-based track identification and filename parsing
  docker-compose.yml
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/TrackUploadService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AcoustIdService.java
  services/server/src/main/resources/application.yml
  services/server/src/main/resources/db/migration/V13__add_audio_fingerprinting.sql
  services/server/src/main/resources/db/migration/V14__fix_fingerprint_index.sql
Due: prettier, docker-compose-check, maven-compile, maven-spotbugs, maven-pmd

feat(radio): add track_audio_features table, entity, and repository
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/TrackAudioFeaturesEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackAudioFeaturesRepository.java
  services/server/src/main/resources/db/migration/V15__add_track_audio_features.sql
Due: maven-compile, maven-spotbugs, maven-pmd

feat(radio): add LLM provider interface with Claude and OpenAI implementations
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/ClaudeLlmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/LlmAnalysisProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/LlmPromptBuilder.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/OpenAiLlmProvider.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat(radio): add TrackAnalysisService for batch and single track analysis
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/TrackAnalysisService.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat(radio): add RadioController, DTOs, radio settings endpoints
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/controller/RadioController.java
  services/server/src/main/java/com/yaytsa/server/dto/response/RadioFiltersResponse.java
  services/server/src/main/java/com/yaytsa/server/dto/response/RadioResponse.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

feat(radio): add SmartRadioService recommendation algorithm
  services/server/src/main/java/com/yaytsa/server/controller/RadioController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/SmartRadioService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlayHistoryRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat(radio): add frontend RadioService and React hooks
  apps/web/src/features/radio/hooks/useRadio.ts
  packages/core/src/api/radio.service.ts
  packages/core/src/index.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

feat(radio): add My Wave UI on HomePage with filter panel
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/radio/components/MyWaveCard.tsx
  apps/web/src/features/radio/components/RadioFilterPanel.tsx
  apps/web/src/pages/HomePage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat(radio): add Smart Radio section to Settings page
  apps/web/src/pages/SettingsPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat(radio): auto-analyze tracks after upload for Smart Radio
  services/server/src/main/java/com/yaytsa/server/domain/service/TrackUploadService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix(radio): improve My Wave UX — pill energy filters, auto-update playback on filter change
  apps/web/src/features/radio/components/MyWaveCard.tsx
  apps/web/src/features/radio/components/RadioFilterPanel.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix(radio): address code review — auth, transaction safety, frontend stability
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/radio/components/MyWaveCard.tsx
  services/server/src/main/java/com/yaytsa/server/controller/RadioController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/SmartRadioService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/TrackAnalysisService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackAudioFeaturesRepository.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix: code review round 3 — prompt injection, resource cleanup, dead code
  apps/web/src/features/library/components/TrackUploadDialog.tsx
  apps/web/src/features/radio/components/MyWaveCard.tsx
  apps/web/src/features/radio/components/RadioFilterPanel.tsx
  apps/web/src/pages/SettingsPage.tsx
  services/server/src/main/java/com/yaytsa/server/controller/AppSettingsController.java
  services/server/src/main/java/com/yaytsa/server/controller/RadioController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AudioFingerprintService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AcoustIdService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/GeniusProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/LlmPromptBuilder.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/SmartRadioService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/TrackAnalysisService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/RadioResponse.java
  test-musicbrainz.sh
  test-musicbrainz2.sh
  test-musicbrainz3.sh
  test-upload-twice.sh
  test-upload.sh
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix(radio): show My Wave with random tracks when none analyzed
  apps/web/src/features/radio/components/MyWaveCard.tsx
  apps/web/src/features/radio/components/RadioFilterPanel.tsx
  packages/core/src/api/radio.service.ts
  services/server/src/main/java/com/yaytsa/server/controller/RadioController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/SmartRadioService.java
  services/server/src/main/java/com/yaytsa/server/dto/response/RadioFiltersResponse.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

feat(radio): add mock LLM provider for testing without API key
  docker-compose.yml
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/MockLlmProvider.java
  services/server/src/main/java/com/yaytsa/server/domain/service/radio/TrackAnalysisService.java
Due: prettier, docker-compose-check, maven-compile, maven-spotbugs, maven-pmd

docs: add TECHNICAL_DEBT.md with findings from 8 code audits (B1)
  TECHNICAL_DEBT.md
  docker-compose.override.yml
Due: prettier

chore: remove tracked override file, gitignore dev.log, drop dead cache config (C1, C2)
  .gitignore
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile

feat(radio): add essentia-analyzer Python microservice (A1)
  services/essentia-analyzer/Dockerfile
  services/essentia-analyzer/app.py
  services/essentia-analyzer/requirements.txt
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
