Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.4.5-main.fbc6b02
  index.yaml
  yay-tsa-0.4.5-main.7312f39.tgz
  yay-tsa-0.4.5-main.fbc6b02.tgz
Due: prettier

fix: Retry audio separator health check on startup before giving up backfill
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeBackfillService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.5-main.cd4d927
  index.yaml
  yay-tsa-0.4.5-main.74dfedd.tgz
  yay-tsa-0.4.5-main.cd4d927.tgz
Due: prettier

fix: Increase audio separation timeout from 10 to 20 minutes
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/AudioSeparatorClient.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.5-main.bcd69e9
  index.yaml
  yay-tsa-0.4.5-main.77c463d.tgz
  yay-tsa-0.4.5-main.bcd69e9.tgz
Due: prettier

fix: Resolve ESLint warnings, flaky E2E tests, and strict post-deploy QA
  .github/workflows/ci.yml
  apps/web/scripts/generate-icons.js
  apps/web/src/features/player/components/LyricsScroller.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/tests/e2e/lyrics.spec.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.cffc432
  index.yaml
  yay-tsa-0.4.5-main.7924583.tgz
  yay-tsa-0.4.5-main.cffc432.tgz
Due: prettier

chore: Add seek timing, lyrics loading, and post-deploy QA learnings
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.e151e6c
  index.yaml
  yay-tsa-0.4.5-main.9227450.tgz
  yay-tsa-0.4.5-main.e151e6c.tgz
Due: prettier

fix: Skip history push in advanceTo/jumpTo when index unchanged
  QA.md
  packages/core/src/player/queue.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.4.5-main.db792ab
  index.yaml
  yay-tsa-0.4.5-main.a763a2b.tgz
  yay-tsa-0.4.5-main.db792ab.tgz
Due: prettier

feat: Replace homepage DJ auto-start with Daily Mix
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/library/components/index.ts
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/pages/HomePage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.dd6fafd
  index.yaml
  yay-tsa-0.4.5-main.b60e988.tgz
  yay-tsa-0.4.5-main.dd6fafd.tgz
Due: prettier

fix: Stop DJ from auto-refilling the queue and breaking gapless playback
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/hooks/useDjAutoRefill.ts
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.72f6ce7
  index.yaml
  yay-tsa-0.4.5-main.72f6ce7.tgz
  yay-tsa-0.4.5-main.bcd69e9.tgz
Due: prettier

fix: Remove Radio (DJ) section from homepage
  apps/web/src/features/radio/components/RadioSeedCard.tsx
  apps/web/src/features/radio/components/RadioSeeds.tsx
  apps/web/src/features/radio/hooks/useRadioSeeds.ts
  apps/web/src/features/radio/index.ts
  apps/web/src/pages/HomePage.tsx
  apps/web/src/shared/testing/test-ids.ts
  apps/web/tests/e2e/helpers/test-ids.ts
  apps/web/tests/e2e/radio.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.b58d1fd
  index.yaml
  yay-tsa-0.4.5-main.72f6ce7.tgz
  yay-tsa-0.4.5-main.b58d1fd.tgz
Due: prettier

fix: Make track auto-advance survive backgrounded tabs
  apps/web/src/features/player/stores/player.store.ts
  packages/platform/src/web/html5-audio.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.4.5-main.87440c6
  index.yaml
  yay-tsa-0.4.5-main.87440c6.tgz
  yay-tsa-0.4.5-main.b58d1fd.tgz
Due: prettier

fix: Resolve QA findings — ESLint import order, Sonar v2 exclusion, dead test
  .gitignore
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/tests/e2e/playback.spec.ts
  sonar-project.properties
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.5-main.7544ea6
  index.yaml
  yay-tsa-0.4.5-main.7544ea6.tgz
  yay-tsa-0.4.5-main.87440c6.tgz
Due: prettier

fix: Remove redundant type assertions flagged by eslint --fix
  QA.md
  packages/core/src/api/api.client.ts
  packages/core/src/internal/config/env.ts
Due: prettier, eslint, docker-build, jscpd

Release yay-tsa-0.4.5-main.ec5c592
  index.yaml
  yay-tsa-0.4.5-main.7544ea6.tgz
  yay-tsa-0.4.5-main.ec5c592.tgz
Due: prettier

docs(config): Capture ESLint version drift and Image Updater write-back failure modes
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.54827a4
  index.yaml
  yay-tsa-0.4.5-main.54827a4.tgz
  yay-tsa-0.4.5-main.be57246.tgz
Due: prettier

fix(web): Compare globalThis.window with === undefined per typescript:S7741
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.5-main.6208694
  index.yaml
  yay-tsa-0.4.5-main.54827a4.tgz
  yay-tsa-0.4.5-main.6208694.tgz
Due: prettier

docs(config): SonarCloud auto-analysis ignores sonar-project.properties
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.159fc4e
  index.yaml
  yay-tsa-0.4.5-main.159fc4e.tgz
  yay-tsa-0.4.5-main.6208694.tgz
Due: prettier

fix(ci): Distinguish auth failure from rollout lag in wait-for-rollout
  .github/workflows/ci.yml
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.1c3980f
  index.yaml
  yay-tsa-0.4.5-main.159fc4e.tgz
  yay-tsa-0.4.5-main.1c3980f.tgz
Due: prettier

fix(ci): Bump post-deploy-qa timeout to 60min for full Schemathesis+ZAP+crawler
  .github/workflows/ci.yml
  QA.md
Due: prettier

Release yay-tsa-0.4.5-main.ee47b3c
  index.yaml
  yay-tsa-0.4.5-main.1c3980f.tgz
  yay-tsa-0.4.5-main.ee47b3c.tgz
Due: prettier

fix: Batch P0/P1 hardening actions from review audit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/web/docker/entrypoint.sh
  apps/web/playwright.config.ts
  charts/yay-tsa/templates/backend-deployment.yaml
  charts/yay-tsa/templates/backend-poddisruptionbudget.yaml
  charts/yay-tsa/templates/backend-servicemonitor.yaml
  charts/yay-tsa/values.yaml
  lighthouserc.json
  services/server/src/main/java/com/yaytsa/server/config/CacheConfig.java
  services/server/src/main/java/com/yaytsa/server/config/PasswordEncoderConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/AuthController.java
  services/server/src/main/java/com/yaytsa/server/controller/StreamingController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/AuthService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/resources/application.yml
  services/server/src/main/resources/db/migration/V35__perf_indexes.sql
  services/server/src/test/java/com/yaytsa/server/integration/TestcontainersConfig.java
Due: prettier, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.5-main.531785f
  index.yaml
  yay-tsa-0.4.5-main.531785f.tgz
  yay-tsa-0.4.5-main.cd4d927.tgz
Due: prettier

fix: Spring Boot 3.5.14 upgrade + image auth + Fields propagation
  .github/workflows/ci.yml
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/config/SecurityConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/BearerAuthFilter.java
  services/server/src/main/java/com/yaytsa/server/mapper/ItemMapper.java
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.5-main.e3da223
  index.yaml
  yay-tsa-0.4.5-main.531785f.tgz
  yay-tsa-0.4.5-main.e3da223.tgz
Due: prettier

feat: Sprint v2 Kotlin to staging-deployable
  .github/workflows/release-chart.yml
  .github/workflows/v2-ci.yml
  charts/yay-tsa-v2/Chart.yaml
  charts/yay-tsa-v2/templates/_helpers.tpl
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/templates/backend-poddisruptionbudget.yaml
  charts/yay-tsa-v2/templates/backend-service.yaml
  charts/yay-tsa-v2/templates/backend-servicemonitor.yaml
  charts/yay-tsa-v2/templates/ingress.yaml
  charts/yay-tsa-v2/values.yaml
  yay-tsa-v2/CUTOVER_RUNBOOK.md
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdminController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthFilter.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDevicesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinLyricsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinTracksUploadController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/entity/TasteProfileEntity.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/entity/TrackFeaturesEntity.kt
  yay-tsa-v2/infra-persistence/ml/src/test/kotlin/dev/yaytsa/persistence/ml/MlQueryPortTest.kt
  yay-tsa-v2/infra-persistence/ml/src/test/kotlin/dev/yaytsa/persistence/ml/SchemaDriftTest.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/OutboxCleanupJob.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/converter/FloatArrayAttributeConverter.kt
Due: prettier

Release yay-tsa-v2-0.1.0-main.bfa9236
  index.yaml
  yay-tsa-v2-0.1.0-main.bfa9236.tgz
Due: prettier

feat: V2 takes /api on yay-tsa.com (strip middleware + v1 toggle)
  charts/yay-tsa-v2/templates/ingress.yaml
  charts/yay-tsa-v2/templates/strip-api-middleware.yaml
  charts/yay-tsa-v2/values.yaml
  charts/yay-tsa/templates/api-ingress.yaml
  charts/yay-tsa/values.yaml
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
