Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-package-json, eslint, docker-compose-check, npm-audit, docker-build, jscpd

Path conditions:
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|svelte)$
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/entrypoint\.sh|deploy/nginx/nginx\.conf\.template| packages/.*/.*\.(ts|svelte|js|json)|apps/web/.*\.(ts|svelte|js|json)|package\.json)$
  jscpd: any of: \.(js|ts|svelte)$

fix(core): Allow immediate retry after karaoke failure
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
Due: none

fix: Resolve code review issues and refactor structure
  apps/web/src/features/auth/hooks/useImageUrl.ts
  apps/web/src/features/auth/stores/index.ts
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/ArtistCard.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/index.ts
  apps/web/src/features/player/stores/playback-timing.store.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/timing.store.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/shared/utils/image-placeholder.ts
  apps/web/src/shared/utils/track-image.ts
  packages/core/src/api/items.service.ts
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/web/RequestLoggingFilter.java
Due: eslint, docker-build, jscpd

fix(core): Return albums based on recently played tracks
  packages/core/src/api/items.service.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
Due: eslint, jscpd

fix(web): Remove pb-safe from PlayerBar on mobile to prevent overlap
  apps/web/src/features/player/components/PlayerBar.tsx
Due: none

fix(web): Add padding to sidebar when player is active
  apps/web/src/pages/RootLayout.tsx
Due: none

fix(web): Center play button on album cover image
  apps/web/src/features/library/components/AlbumCard.tsx
Due: none

feat: Add Songs tab and filter empty artists/albums
  apps/web/src/app/App.tsx
  apps/web/src/features/library/hooks/index.ts
  apps/web/src/features/library/hooks/useTracks.ts
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SongsPage.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
Due: eslint, docker-build, jscpd

feat: Collapsible sidebar with hamburger menu, always-bottom player bar
  .mise.toml
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/pages/RootLayout.tsx
Due: none

feat: Responsive nav - static sidebar on desktop, bottom tabs on mobile
  apps/web/src/pages/RootLayout.tsx
Due: none

fix: E2E test mobile viewport compatibility
  .github/workflows/ci.yml
  .mise.toml
  .pre-commit-config.yaml
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/testing/test-ids.ts
  apps/web/src/shared/ui/SearchInput.tsx
  apps/web/src/shared/utils/image-placeholder.ts
  apps/web/tests/e2e/accessibility.spec.ts
  apps/web/tests/e2e/auth.spec.ts
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  apps/web/tests/e2e/page-objects/LibraryPage.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/search.spec.ts
  apps/web/vite.config.ts
  knip.json
  mise.toml
  package-lock.json
  package.json
  packages/core/src/api/items.service.ts
  packages/core/vitest.integration.config.ts
  packages/platform/src/web/html5-audio.ts
  services/server/Dockerfile
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlayStateService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/UserService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ImageType.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AlbumRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ImageRepository.java
  services/server/src/main/resources/application.yml
Due: sort-package-json, eslint, npm-audit, docker-build, jscpd

fix: E2E test mobile viewport compatibility
  .github/workflows/ci.yml
  .mise.toml
  .pre-commit-config.yaml
  apps/web/Dockerfile
  apps/web/package.json
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/testing/test-ids.ts
  apps/web/src/shared/ui/SearchInput.tsx
  apps/web/src/shared/utils/image-placeholder.ts
  apps/web/tests/e2e/accessibility.spec.ts
  apps/web/tests/e2e/auth.spec.ts
  apps/web/tests/e2e/fixtures/accessibility.fixture.ts
  apps/web/tests/e2e/page-objects/LibraryPage.ts
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/search.spec.ts
  apps/web/vite.config.ts
  knip.json
  lighthouserc.json
  mise.toml
  package-lock.json
  package.json
  packages/core/src/api/items.service.ts
  packages/core/vitest.integration.config.ts
  packages/platform/src/web/html5-audio.ts
  services/server/Dockerfile
  services/server/src/main/java/com/yaytsa/server/controller/ImagesController.java
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlayStateService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/UserService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ImageType.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AlbumRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/AudioTrackRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ImageRepository.java
  services/server/src/main/resources/application.yml
Due: sort-package-json, eslint, npm-audit, docker-build, jscpd

fix: PlayerBar positioning and ESLint errors
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/hooks/useAlbums.ts
  apps/web/src/features/library/hooks/useArtists.ts
  apps/web/src/features/library/hooks/useInfiniteLibraryQuery.ts
  apps/web/src/features/library/hooks/useTracks.ts
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/shared/hooks/useInView.ts
  apps/web/src/shared/ui/InfiniteScrollFooter.tsx
  apps/web/vite.config.ts
  packages/core/src/cache/indexed-db-cache.ts
  packages/core/tests/integration/fixtures/data-factory.ts
  packages/core/tests/integration/setup.ts
  packages/core/tests/integration/types.ts
Due: eslint, docker-build, jscpd

fix: Accessibility improvements and UX polish across player components
  .pre-commit-config.yaml
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/hooks/useInfiniteLibraryQuery.ts
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlaybackControls.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/VolumeControls.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/hooks/useInView.ts
  apps/web/src/shared/ui/SearchInput.tsx
  packages/core/src/cache/indexed-db-cache.ts
Due: eslint, docker-build, jscpd

fix: Update bundlewatch paths for Vite output structure
  .bundlewatchrc.json
Due: none

ci(helm): Add chart-releaser workflow for public Helm repository
  .github/workflows/release-chart.yml
  .pre-commit-config.yaml
  charts/yaytsa/Chart.yaml
  charts/yaytsa/templates/_helpers.tpl
  charts/yaytsa/templates/api-ingress.yaml
  charts/yaytsa/templates/audio-separator-deployment.yaml
  charts/yaytsa/templates/audio-separator-service.yaml
  charts/yaytsa/templates/backend-configmap.yaml
  charts/yaytsa/templates/backend-deployment.yaml
  charts/yaytsa/templates/backend-nginx-configmap.yaml
  charts/yaytsa/templates/backend-service.yaml
  charts/yaytsa/templates/backend-temp-pvc.yaml
  charts/yaytsa/templates/configmap.yaml
  charts/yaytsa/templates/deployment.yaml
  charts/yaytsa/templates/hpa.yaml
  charts/yaytsa/templates/ingress.yaml
  charts/yaytsa/templates/networkpolicy.yaml
  charts/yaytsa/templates/pwa-ingress.yaml
  charts/yaytsa/templates/service.yaml
  charts/yaytsa/templates/strip-api-middleware.yaml
  charts/yaytsa/values.yaml
Due: none

Initialize gh-pages
  index.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

fix: Restore original Flyway migration comment to match DB checksum
  services/server/src/main/resources/db/migration/V1__init.sql
Due: none

chore: Remove old yaytsa chart entry from index
  index.yaml
Due: none

ci(helm): Continuous chart publishing with dev and stable versions
  .github/workflows/release-chart.yml
  charts/yay-tsa/Chart.yaml
Due: none

fix(helm): Use global git config for gh-pages push
  .github/workflows/release-chart.yml
Due: none

Release yay-tsa-0.1.0-main.c28f659
  index.yaml
  yay-tsa-0.1.0-main.c28f659.tgz
Due: none

fix(deps): Address security vulnerabilities and CodeQL alerts
  docker-compose.yml
  package-lock.json
  package.json
  packages/core/src/internal/utils/logger.ts
  services/audio-separator/app.py
  services/server/src/main/java/com/yaytsa/server/config/SecurityConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/StreamingController.java
Due: sort-package-json, eslint, docker-compose-check, npm-audit, docker-build, jscpd

Release yay-tsa-0.1.0-main.4abdd99
  index.yaml
  yay-tsa-0.1.0-main.4abdd99.tgz
Due: none

fix(config): Auto-cleanup orphaned albums, artists, and genres via triggers
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ItemEntity.java
  services/server/src/main/resources/db/migration/V6__add_orphan_cleanup_triggers.sql
Due: none

Release yay-tsa-0.1.0-main.840d6ae
  index.yaml
  yay-tsa-0.1.0-main.840d6ae.tgz
Due: none

fix(config): Restore admin user for integration tests
  services/server/src/main/resources/db/migration/V7__restore_admin_user.sql
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
Due: none

Release yay-tsa-0.1.0-main.b1fbdaf
  index.yaml
  yay-tsa-0.1.0-main.b1fbdaf.tgz
Due: none

fix(config): Assert User.Name presence instead of exact username match
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
Due: none

docs(config): Rewrite CLAUDE.md to focus on architecture and design
  .gitignore
  CLAUDE.md
  docs/architecture/folder-structure.md
  docs/tech-stack.md
Due: none

Release yay-tsa-0.1.0-main.b514a93
  index.yaml
  yay-tsa-0.1.0-main.b514a93.tgz
Due: none

feat(web): Add favorites UI with optimistic updates
  apps/web/src/app/App.tsx
  apps/web/src/features/library/components/FavoriteButton.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/features/library/components/index.ts
  apps/web/src/features/library/hooks/index.ts
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/RootLayout.tsx
  packages/core/src/api/favorites.service.ts
  packages/core/src/index.ts
Due: eslint, docker-build, jscpd

Release yay-tsa-0.1.0-main.d82f4e2
  index.yaml
  yay-tsa-0.1.0-main.d82f4e2.tgz
Due: none

fix(web): Improve Lighthouse scores (a11y, perf, security, SEO)
  apps/web/index.html
  apps/web/public/manifest.webmanifest
  apps/web/src/app/App.tsx
  apps/web/src/index.css
  infra/nginx/nginx.conf.template
Due: none

Release yay-tsa-0.1.0-main.da29ad4
  index.yaml
  yay-tsa-0.1.0-main.da29ad4.tgz
Due: none

fix(core): Assert User.Name presence instead of exact username match
  packages/core/tests/integration/features/authentication.feature.test.ts
Due: eslint, jscpd

Release yay-tsa-0.1.0-main.29831ee
  index.yaml
  yay-tsa-0.1.0-main.29831ee.tgz
Due: none
