Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix: Parse Filters=IsFavorite query param for Finamp compatibility
  services/server/src/main/java/com/yaytsa/server/controller/GenresController.java
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.cb53bda
  index.yaml
  yay-tsa-0.4.3-main.2c2cc07.tgz
  yay-tsa-0.4.3-main.cb53bda.tgz
Due: prettier

fix: Add 'ser' to codespell ignore list (jsr310.ser package)
  .pre-commit-config.yaml
Due: prettier

Release yay-tsa-0.4.3-main.f16c7de
  index.yaml
  yay-tsa-0.4.3-main.cb53bda.tgz
  yay-tsa-0.4.3-main.f16c7de.tgz
Due: prettier

fix: Ignore non-UUID ParentId instead of returning 400
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Support Filters=IsFavorite in ArtistsController for Finamp
  services/server/src/main/java/com/yaytsa/server/controller/ArtistsController.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Map ParentId query param correctly in UsersController
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.089ad09
  index.yaml
  yay-tsa-0.4.3-main.089ad09.tgz
  yay-tsa-0.4.3-main.f16c7de.tgz
Due: prettier

Release yay-tsa-0.4.3-main.ec86b8d
  index.yaml
  yay-tsa-0.4.3-main.089ad09.tgz
  yay-tsa-0.4.3-main.ec86b8d.tgz
Due: prettier

Release yay-tsa-0.4.3-main.405f94c
  index.yaml
  yay-tsa-0.4.3-main.405f94c.tgz
  yay-tsa-0.4.3-main.ec86b8d.tgz
Due: prettier

fix: Resolve DJ connection leak, backfill retry, and log noise
  services/server/src/main/java/com/yaytsa/server/domain/service/AdaptiveQueueService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/EmbeddingBackfillService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionJobScheduler.java
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Prevent feature-extractor OOM crashes on large audio files
  charts/yay-tsa/values.yaml
  services/audio-separator/app.py
  services/audio-separator/extractor/embedding_extractor.py
  services/audio-separator/extractor/essentia_analyzer.py
Due: none

Release yay-tsa-0.4.3-main.13822c4
  index.yaml
  yay-tsa-0.4.3-main.13822c4.tgz
  yay-tsa-0.4.3-main.405f94c.tgz
Due: prettier

Release yay-tsa-0.4.3-main.463ad50
  index.yaml
  yay-tsa-0.4.3-main.13822c4.tgz
  yay-tsa-0.4.3-main.463ad50.tgz
Due: prettier

Release yay-tsa-0.4.3-main.8ea3cf5
  index.yaml
  yay-tsa-0.4.3-main.463ad50.tgz
  yay-tsa-0.4.3-main.8ea3cf5.tgz
Due: prettier

feat: Add playback group schema, service, and API for multi-device sync
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackGroupController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaybackGroupService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/PlaybackGroupEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/PlaybackGroupMemberEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/PlaybackScheduleEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackGroupMemberRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackGroupRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackScheduleRepository.java
  services/server/src/main/resources/db/migration/V31__playback_groups.sql
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.962e20b
  index.yaml
  yay-tsa-0.4.3-main.8ea3cf5.tgz
  yay-tsa-0.4.3-main.962e20b.tgz
Due: prettier

Release yay-tsa-0.4.3-main.fa8461e
  index.yaml
  yay-tsa-0.4.3-main.962e20b.tgz
  yay-tsa-0.4.3-main.fa8461e.tgz
Due: prettier

Release yay-tsa-0.4.3-main.1187f8e
  index.yaml
  yay-tsa-0.4.3-main.1187f8e.tgz
  yay-tsa-0.4.3-main.f5dd166.tgz
Due: prettier

Release yay-tsa-0.4.3-main.8f6968e
  index.yaml
  yay-tsa-0.4.3-main.1187f8e.tgz
  yay-tsa-0.4.3-main.8f6968e.tgz
Due: prettier

Release yay-tsa-0.4.3-main.762fc0d
  index.yaml
  yay-tsa-0.4.3-main.762fc0d.tgz
  yay-tsa-0.4.3-main.8f6968e.tgz
Due: prettier

Release yay-tsa-0.4.3-main.2a16f69
  index.yaml
  yay-tsa-0.4.3-main.2a16f69.tgz
  yay-tsa-0.4.3-main.762fc0d.tgz
Due: prettier

Release yay-tsa-0.4.3-main.79483f4
  index.yaml
  yay-tsa-0.4.3-main.2a16f69.tgz
  yay-tsa-0.4.3-main.79483f4.tgz
Due: prettier

Release yay-tsa-0.4.3-main.d1d8af7
  index.yaml
  yay-tsa-0.4.3-main.79483f4.tgz
  yay-tsa-0.4.3-main.d1d8af7.tgz
Due: prettier

Release yay-tsa-0.4.3-main.2ececc4
  index.yaml
  yay-tsa-0.4.3-main.2ececc4.tgz
  yay-tsa-0.4.3-main.d1d8af7.tgz
Due: prettier

Release yay-tsa-0.4.3-main.bd57f9d
  index.yaml
  yay-tsa-0.4.3-main.2ececc4.tgz
  yay-tsa-0.4.3-main.bd57f9d.tgz
Due: prettier

Release yay-tsa-0.4.3-main.cdc9837
  index.yaml
  yay-tsa-0.4.3-main.bd57f9d.tgz
  yay-tsa-0.4.3-main.cdc9837.tgz
Due: prettier

feat: Add SSE resumability, idempotent sessions, and clock sync endpoint
  services/server/src/main/java/com/yaytsa/server/controller/AdaptiveQueueController.java
  services/server/src/main/java/com/yaytsa/server/controller/TimeController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/QueueSseService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/BearerAuthFilter.java
  services/server/src/main/resources/db/migration/V30__idempotent_listening_session.sql
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Add scheduled cleanup for stale device and listening sessions
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ListeningSessionRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/SessionRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.621c11a
  index.yaml
  yay-tsa-0.4.3-main.621c11a.tgz
  yay-tsa-0.4.3-main.cdc9837.tgz
Due: prettier

fix: Remove listening_session hard delete to preserve signal history
  services/server/src/main/java/com/yaytsa/server/domain/service/ListeningSessionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ListeningSessionRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.c04f68e
  index.yaml
  yay-tsa-0.4.3-main.621c11a.tgz
  yay-tsa-0.4.3-main.c04f68e.tgz
Due: prettier

fix: Move device hooks to RootLayout so presence works without playing
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Review round 3 — JPA cache, leave/end broadcast, full schedule response
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackGroupController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaybackGroupService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackScheduleRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Inject APP_VERSION into server version instead of hardcoded value
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.d8ea3ed
  index.yaml
  yay-tsa-0.4.3-main.c04f68e.tgz
  yay-tsa-0.4.3-main.d8ea3ed.tgz
Due: prettier

fix: Return git SHA version for Bearer auth, Jellyfin semver for Emby
  .github/workflows/ci.yml
  services/server/src/main/java/com/yaytsa/server/controller/SystemController.java
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.206e88f
  index.yaml
  yay-tsa-0.4.3-main.206e88f.tgz
  yay-tsa-0.4.3-main.d8ea3ed.tgz
Due: prettier

fix: Move SSE broadcasts outside transactions, fix anchor race and stale handling
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackGroupController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaybackGroupService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackScheduleRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

feat: Add Group Sync frontend — ServerClock, GroupSyncEngine, and UI
  apps/web/src/features/player/components/GroupSyncPanel.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/group-sync-store.ts
  packages/core/src/index.ts
  packages/core/src/sync/group-sync.service.ts
  packages/core/src/sync/group-sync.types.ts
  packages/core/src/sync/server-clock.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
