Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

Release yay-tsa-0.5.1-main.r0000000595-gdbd1719
  index.yaml
  yay-tsa-0.5.1-main.r0000000594-g2910480.tgz
  yay-tsa-0.5.1-main.r0000000595-gdbd1719.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000595-gdbd1719
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000595-gdbd1719.tgz
Due: prettier

Optimize /Items rendering and queries for pagination and tab switching
  apps/web/src/features/library/components/AlbumCard.tsx
  apps/web/src/features/library/components/ArtistCard.tsx
  apps/web/src/features/library/components/TrackList.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/ui/InfiniteScrollFooter.tsx
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/infra-persistence/library/src/main/resources/db/library/V003__entities_created_at_index.sql
  yay-tsa-v2/infra-persistence/preferences/src/main/resources/db/preferences/V002__favorites_position_index.sql
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000596-gf8f6f2d
  index.yaml
  yay-tsa-0.5.1-main.r0000000595-gdbd1719.tgz
  yay-tsa-0.5.1-main.r0000000596-gf8f6f2d.tgz
  yay-tsa-v2-0.1.0-main.r0000000586-gc5b5180.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000596-gf8f6f2d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000596-gf8f6f2d.tgz
Due: prettier

Add contract and query-budget tests for album artist batching
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsPaginationIntegrationTest.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000597-g9d096d5
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000587-ga11f2b3.tgz
  yay-tsa-v2-0.1.0-main.r0000000597-g9d096d5.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000597-g9d096d5
  index.yaml
  yay-tsa-0.5.1-main.r0000000596-gf8f6f2d.tgz
  yay-tsa-0.5.1-main.r0000000597-g9d096d5.tgz
  yay-tsa-v2-0.1.0-main.r0000000588-g4f52409.tgz
Due: prettier

Add tie-breaker for track pagination + Playwright regression + perf harness/report
  apps/web/tests/e2e/perf-regression.spec.ts
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/perf/PERF_REPORT.md
  yay-tsa-v2/perf/measure.sql
  yay-tsa-v2/perf/run.sh
  yay-tsa-v2/perf/seed.sql
Due: prettier, jscpd

Release yay-tsa-0.5.1-main.r0000000598-gf626a73
  index.yaml
  yay-tsa-0.5.1-main.r0000000597-g9d096d5.tgz
  yay-tsa-0.5.1-main.r0000000598-gf626a73.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000598-gf626a73
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000598-gf626a73.tgz
Due: prettier

fix(auth): make PWA login persistence robust across reload/version/restart
  CLAUDE.md
  apps/web/package.json
  apps/web/src/features/auth/stores/auth.store.test.ts
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/pages/LoginPage.tsx
  apps/web/src/shared/utils/session-manager.test.ts
  apps/web/tests/e2e/auth.spec.ts
  apps/web/vitest.config.ts
  knip.json
Due: prettier, sort-package-json, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000599-g2d65f09
  index.yaml
  yay-tsa-0.5.1-main.r0000000598-gf626a73.tgz
  yay-tsa-0.5.1-main.r0000000599-g2d65f09.tgz
  yay-tsa-v2-0.1.0-main.r0000000589-gee5b3a0.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000599-g2d65f09
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000599-g2d65f09.tgz
Due: prettier

Fix flaky query-budget assertion; add endpoint benchmark + external-DB test support
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/HttpIntegrationTestBase.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsEndpointBenchmark.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsPaginationIntegrationTest.kt
  yay-tsa-v2/perf/PERF_REPORT.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000600-g138527d
  index.yaml
  yay-tsa-0.5.1-main.r0000000599-g2d65f09.tgz
  yay-tsa-0.5.1-main.r0000000600-g138527d.tgz
  yay-tsa-v2-0.1.0-main.r0000000590-g4f66151.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000600-g138527d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000600-g138527d.tgz
Due: prettier

fix(auth): migrate legacy sessions, add backend-free e2e, document trade-off
  SECURITY.md
  apps/web/playwright.config.ts
  apps/web/src/features/auth/stores/auth.store.test.ts
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/shared/utils/session-manager.test.ts
  apps/web/src/shared/utils/session-manager.ts
  apps/web/tests/e2e/auth-persistence.mocked.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-v2-0.1.0-main.r0000000601-gdfd7987
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000591-gfd6c6cd.tgz
  yay-tsa-v2-0.1.0-main.r0000000601-gdfd7987.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000601-gdfd7987
  index.yaml
  yay-tsa-0.5.1-main.r0000000600-g138527d.tgz
  yay-tsa-0.5.1-main.r0000000601-gdfd7987.tgz
  yay-tsa-v2-0.1.0-main.r0000000592-gc4d5319.tgz
Due: prettier

ci(web): run backend-free Playwright auth-persistence suite; document migration trade-off
  .github/workflows/ci.yml
  SECURITY.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000602-gd81280d
  index.yaml
  yay-tsa-0.5.1-main.r0000000601-gdfd7987.tgz
  yay-tsa-0.5.1-main.r0000000602-gd81280d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000602-gd81280d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000602-gd81280d.tgz
Due: prettier

Add deterministic memo/comparator component test; narrow perf-report claims
  apps/web/package.json
  apps/web/src/features/library/components/perf-memo.test.tsx
  package-lock.json
  yay-tsa-v2/perf/PERF_REPORT.md
Due: prettier, sort-package-json, tsc-web, npm-audit, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000603-gfb8bd89
  index.yaml
  yay-tsa-0.5.1-main.r0000000602-gd81280d.tgz
  yay-tsa-0.5.1-main.r0000000603-gfb8bd89.tgz
  yay-tsa-v2-0.1.0-main.r0000000593-ga938e77.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000603-gfb8bd89
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000603-gfb8bd89.tgz
Due: prettier

Add backend-free Playwright perf-regression suite (runs in web-e2e-mocked CI)
  apps/web/tests/e2e/perf-regression.mocked.spec.ts
Due: prettier, jscpd

Release yay-tsa-0.5.1-main.r0000000604-gd3ff8c5
  index.yaml
  yay-tsa-0.5.1-main.r0000000603-gfb8bd89.tgz
  yay-tsa-0.5.1-main.r0000000604-gd3ff8c5.tgz
  yay-tsa-v2-0.1.0-main.r0000000594-g2910480.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000604-gd3ff8c5
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000604-gd3ff8c5.tgz
Due: prettier

Add play/pause UI/action regression guard to memo component test
  apps/web/src/features/library/components/perf-memo.test.tsx
Due: prettier, tsc-web, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000605-g5eb1720
  index.yaml
  yay-tsa-0.5.1-main.r0000000604-gd3ff8c5.tgz
  yay-tsa-0.5.1-main.r0000000605-g5eb1720.tgz
  yay-tsa-v2-0.1.0-main.r0000000595-gdbd1719.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000605-g5eb1720
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000605-g5eb1720.tgz
Due: prettier

Prevent text selection during queue/list drag-reorder
  apps/web/src/index.css
  apps/web/src/shared/ui/SortableList.test.tsx
  apps/web/src/shared/ui/SortableList.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000606-g7483f04
  index.yaml
  yay-tsa-0.5.1-main.r0000000605-g5eb1720.tgz
  yay-tsa-0.5.1-main.r0000000606-g7483f04.tgz
  yay-tsa-v2-0.1.0-main.r0000000596-gf8f6f2d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000606-g7483f04
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000606-g7483f04.tgz
Due: prettier

Fix pre-commit failures; drop unrunnable mocked Playwright spec
  apps/web/package.json
  apps/web/src/features/library/components/PerfMemo.test.tsx
  apps/web/tests/e2e/perf-regression.mocked.spec.ts
  yay-tsa-v2/perf/run.sh
Due: prettier, sort-package-json, tsc-web, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000607-g4df11d3
  index.yaml
  yay-tsa-0.5.1-main.r0000000606-g7483f04.tgz
  yay-tsa-0.5.1-main.r0000000607-g4df11d3.tgz
  yay-tsa-v2-0.1.0-main.r0000000597-g9d096d5.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000607-g4df11d3
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000607-g4df11d3.tgz
Due: prettier

fix(ci): green CI — package.json sort, focus mocked suite, component-naming + React import
  .pre-commit-config.yaml
  apps/web/src/features/library/components/PerfMemo.test.tsx
  apps/web/tests/e2e/auth-persistence.mocked.spec.ts
Due: prettier, tsc-web, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000608-gc55584f
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000598-gf626a73.tgz
  yay-tsa-v2-0.1.0-main.r0000000608-gc55584f.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
