Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-0.4.3-main.043f129
  index.yaml
  yay-tsa-0.4.3-main.043f129.tgz
  yay-tsa-0.4.3-main.206e88f.tgz
Due: prettier

fix: Address group sync P0 issues — RTT, drift correction, split-brain
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  apps/web/src/features/player/stores/group-sync-store.ts
  packages/core/src/sync/server-clock.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.4.3-main.8964892
  index.yaml
  yay-tsa-0.4.3-main.043f129.tgz
  yay-tsa-0.4.3-main.8964892.tgz
Due: prettier

fix: SEEK routing in group mode, paused param, SSE reconnect
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  apps/web/src/features/player/stores/group-sync-store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.94b85e8
  index.yaml
  yay-tsa-0.4.3-main.8964892.tgz
  yay-tsa-0.4.3-main.94b85e8.tgz
Due: prettier

fix: Stop embedding backfill infinite loop on 413 (file too large)
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: PAUSE/PLAY no longer reset position to zero in group mode
  apps/web/src/features/player/stores/group-sync-store.ts
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackGroupController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaybackGroupService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.67dae3e
  index.yaml
  yay-tsa-0.4.3-main.67dae3e.tgz
  yay-tsa-0.4.3-main.94b85e8.tgz
Due: prettier

feat: Add setPlaybackRate to AudioEngine for group sync drift correction
  packages/platform/src/audio.interface.ts
  packages/platform/src/web/html5-audio.ts
  services/server/src/main/java/com/yaytsa/server/domain/service/DevicePresenceService.java
Due: prettier, eslint, docker-build, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.bedf801
  index.yaml
  yay-tsa-0.4.3-main.67dae3e.tgz
  yay-tsa-0.4.3-main.bedf801.tgz
Due: prettier

fix: Replace findAll() with indexed query, add listeningSessionId to transfer
  services/server/src/main/java/com/yaytsa/server/domain/service/DevicePresenceService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/SessionRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Use dimension-correct zero vectors for embedding skip sentinel
  services/server/src/main/java/com/yaytsa/server/domain/service/FeatureExtractionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/TrackFeaturesRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Device hooks re-run on auth — SSE subscriptions were never created
  apps/web/src/features/player/hooks/useDeviceEvents.ts
  apps/web/src/features/player/hooks/useDeviceHeartbeat.ts
  apps/web/src/features/player/hooks/useRemoteCommands.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.4.3-main.ffbdfc4
  index.yaml
  yay-tsa-0.4.3-main.bedf801.tgz
  yay-tsa-0.4.3-main.ffbdfc4.tgz
Due: prettier

fix: Add OpenAPI annotations for Schemathesis coverage
  .github/workflows/ci.yml
  services/server/src/main/java/com/yaytsa/server/config/OpenApiConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/DeviceController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackGroupController.java
  services/server/src/main/java/com/yaytsa/server/controller/TimeController.java
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.395e1db
  index.yaml
  yay-tsa-0.4.3-main.395e1db.tgz
  yay-tsa-0.4.3-main.f6cdf75.tgz
Due: prettier

fix: Wrap markOfflineDevices DB ops in TransactionTemplate
  services/server/src/main/java/com/yaytsa/server/domain/service/DevicePresenceService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.67ba34e
  index.yaml
  yay-tsa-0.4.3-main.395e1db.tgz
  yay-tsa-0.4.3-main.67ba34e.tgz
Due: prettier

feat: Add device presence UI with remote control and transfer
  apps/web/src/features/player/components/DevicesPanel.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/hooks/useDeviceEvents.ts
  apps/web/src/features/player/hooks/useDeviceHeartbeat.ts
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  apps/web/src/features/player/stores/device-store.ts
  packages/core/src/api/device.service.ts
  packages/core/src/api/device.types.ts
  packages/core/src/index.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

feat: Add device presence, remote control, and transfer playback
  services/server/src/main/java/com/yaytsa/server/controller/DeviceController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/DeviceSseService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/SessionEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/SessionRepository.java
  services/server/src/main/resources/db/migration/V32__device_presence.sql
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Address review issues in playback group API
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackGroupController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaybackGroupService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackGroupMemberRepository.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/PlaybackScheduleRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Add command buffering, proper service layer, and offline broadcast
  services/server/src/main/java/com/yaytsa/server/controller/DeviceController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/DevicePresenceService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/DeviceSseService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SessionService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix: Add missing autoscaling default to Helm chart values
  charts/yay-tsa/values.yaml
Due: none

Release yay-tsa-0.4.3-main.878419e
  index.yaml
  yay-tsa-0.4.3-main.67ba34e.tgz
  yay-tsa-0.4.3-main.878419e.tgz
Due: prettier

feat: Migrate all tests to Testcontainers + add FEATURES.md spec
  FEATURES.md
  services/server/pom.xml
  services/server/src/test/java/com/yaytsa/server/integration/AuthApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/BaseIntegrationTest.java
  services/server/src/test/java/com/yaytsa/server/integration/DatabaseCleaner.java
  services/server/src/test/java/com/yaytsa/server/integration/Feature.java
  services/server/src/test/java/com/yaytsa/server/integration/ImagesApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ItemsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/KaraokeApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/ListeningSessionApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/MockExternalServicesConfig.java
  services/server/src/test/java/com/yaytsa/server/integration/PlaylistsApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/StreamingApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/SystemApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/TestDataFactory.java
  services/server/src/test/java/com/yaytsa/server/integration/TestcontainersConfig.java
  services/server/src/test/java/com/yaytsa/server/integration/UsersApiTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/RadioSeedServiceTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/RadioSeedServiceWithHistoryTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/ScrobbleLogicTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/SignalPersistenceServiceTest.java
  services/server/src/test/java/com/yaytsa/server/integration/radio/TrackFeaturesNativeQueryTest.java
  services/server/src/test/resources/application-tc.yml
  services/server/src/test/resources/junit-platform.properties
Due: prettier, maven-compile

Release yay-tsa-0.4.3-main.af0a3ef
  index.yaml
  yay-tsa-0.4.3-main.878419e.tgz
  yay-tsa-0.4.3-main.af0a3ef.tgz
Due: prettier

fix: Run integration tests with Testcontainers on runner instead of Docker Compose
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.4.3-main.decae54
  index.yaml
  yay-tsa-0.4.3-main.af0a3ef.tgz
  yay-tsa-0.4.3-main.decae54.tgz
Due: prettier

fix: Use correct setup-java v5 action SHA in CI
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.4.3-main.9e7a25e
  index.yaml
  yay-tsa-0.4.3-main.9e7a25e.tgz
  yay-tsa-0.4.3-main.decae54.tgz
Due: prettier

chore: Fix formatting in yay-tsa-v2 subtree files
  yay-tsa-v2/ISSUES.md
  yay-tsa-v2/gradlew
Due: prettier

chore: Remove playwright-mcp artifacts from yay-tsa-v2 subtree
  yay-tsa-v2/.playwright-mcp/console-2026-04-12T11-31-31-207Z.log
  yay-tsa-v2/.playwright-mcp/console-2026-04-12T11-31-50-559Z.log
  yay-tsa-v2/.playwright-mcp/console-2026-04-12T11-32-04-131Z.log
  yay-tsa-v2/.playwright-mcp/page-2026-04-12T11-31-31-428Z.yml
  yay-tsa-v2/.playwright-mcp/page-2026-04-12T11-31-50-630Z.yml
  yay-tsa-v2/.playwright-mcp/page-2026-04-12T11-32-04-196Z.yml
Due: prettier

fix: Resolve SonarCloud issues and mobile E2E test failures
  apps/web/src/features/player/components/DevicesPanel.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  apps/web/src/features/player/stores/group-sync-store.ts
  apps/web/src/shared/ui/Modal.tsx
  packages/core/src/sync/server-clock.ts
  packages/platform/src/web/html5-audio.ts
  services/audio-separator/app.py
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.17aba39
  index.yaml
  yay-tsa-0.4.3-main.17aba39.tgz
  yay-tsa-0.4.3-main.9e7a25e.tgz
Due: prettier

chore: Add QA methodology learnings
  QA.md
Due: prettier

chore: Fix formatting in yay-tsa-v2 subtree files
  apps/web/public/manifest.webmanifest
  yay-tsa-v2/ANALYSIS.md
  yay-tsa-v2/CLAUDE.md
  yay-tsa-v2/docker-compose.yml
  yay-tsa-v2/docs/adr/0007-bounded-contexts-and-module-layout.md
  yay-tsa-v2/docs/gap-analysis.md
  yay-tsa-v2/docs/generated/contract-matrix.md
  yay-tsa-v2/docs/rollback-plan.md
Due: prettier

Release yay-tsa-0.4.3-main.1d7ddcb
  index.yaml
  yay-tsa-0.4.3-main.17aba39.tgz
  yay-tsa-0.4.3-main.1d7ddcb.tgz
Due: prettier

fix: Resolve E2E test failures on mobile and desktop
  .pre-commit-config.yaml
  QA.md
  apps/web/src/features/player/components/SeekBar.tsx
  apps/web/tests/e2e/page-objects/PlayerBar.ts
  apps/web/tests/e2e/queue.spec.ts
  apps/web/tests/e2e/sleep-timer.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.e308246
  index.yaml
  yay-tsa-0.4.3-main.1d7ddcb.tgz
  yay-tsa-0.4.3-main.e308246.tgz
Due: prettier
