Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-0.4.3-main.e0db8ce
  index.yaml
  yay-tsa-0.4.3-main.cfda9ed.tgz
  yay-tsa-0.4.3-main.e0db8ce.tgz
Due: prettier

fix: Reject null bytes in auth request; re-auth on session loss in monkey test
  apps/web/tests/e2e/monkey.spec.ts
  services/server/src/main/java/com/yaytsa/server/dto/request/AuthenticateByNameRequest.java
Due: prettier, jscpd, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.43b5149
  index.yaml
  yay-tsa-0.4.3-main.43b5149.tgz
  yay-tsa-0.4.3-main.e0db8ce.tgz
Due: prettier

fix: Navigate to /login fresh before re-auth to avoid stale form state
  apps/web/tests/e2e/monkey.spec.ts
Due: prettier, jscpd

fix: Return 404 for Favorite on non-existent item; handle DataIntegrityViolation as 409
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/error/GlobalExceptionHandler.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.626197d
  index.yaml
  yay-tsa-0.4.3-main.43b5149.tgz
  yay-tsa-0.4.3-main.626197d.tgz
Due: prettier

fix(web): Hide secondary player controls in portrait mobile
  apps/web/src/features/player/components/PlaybackControls.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat(web): Add mobile full-screen player; fix session restore race condition
  .prettierignore
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LrcLibClient.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

refactor(web): Extract shared lyrics hooks, fix a11y and dedup
  apps/web/src/features/player/components/InlineLyricsPanel.tsx
  apps/web/src/features/player/components/LyricLine.tsx
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/hooks/useAutoScrollToActiveLine.ts
  apps/web/src/features/player/hooks/useLyrics.ts
  apps/web/src/features/player/hooks/useLyricsFetch.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Improve a11y, LrcLibClient robustness, and hook deps pattern
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/hooks/useLyricsFetch.ts
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LrcLibClient.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

feat(web): Add mobile full-screen player and fix lyrics search (#147)
  .prettierignore
  apps/web/src/features/auth/stores/auth.store.ts
  apps/web/src/features/player/components/InlineLyricsPanel.tsx
  apps/web/src/features/player/components/LyricLine.tsx
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlaybackControls.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/hooks/useAutoScrollToActiveLine.ts
  apps/web/src/features/player/hooks/useLyrics.ts
  apps/web/src/features/player/hooks/useLyricsFetch.ts
  services/server/src/main/java/com/yaytsa/server/infrastructure/client/LrcLibClient.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.4bd6211
  index.yaml
  yay-tsa-0.4.3-main.4bd6211.tgz
  yay-tsa-0.4.3-main.626197d.tgz
Due: prettier

fix: Player state machine bugs, EAGER to LAZY, image placeholder
  apps/web/src/features/library/hooks/useFavorites.ts
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/stores/player.store.ts
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/AudioTrackEntity.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.5132367
  index.yaml
  yay-tsa-0.4.3-main.4bd6211.tgz
  yay-tsa-0.4.3-main.5132367.tgz
Due: prettier

fix: N+1 queries, IDOR, lyrics UX, player resilience, SSE lifecycle
  apps/web/src/features/player/components/DjPreferencesPanel.tsx
  apps/web/src/features/player/components/InlineLyricsPanel.tsx
  apps/web/src/features/player/components/LyricLine.tsx
  apps/web/src/features/player/components/LyricsScroller.tsx
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/hooks/useAutoScrollToActiveLine.ts
  apps/web/src/features/player/hooks/useLyrics.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/features/player/stores/session-store.ts
  packages/core/src/api/api.client.ts
  packages/core/src/api/items.service.ts
  packages/core/src/api/playlists.service.ts
  services/server/src/main/java/com/yaytsa/server/controller/ItemsController.java
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaylistsController.java
  services/server/src/main/java/com/yaytsa/server/controller/UsersController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/LyricsService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/PlaylistService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/mapper/ItemMapper.java
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix: Use OffsetBasedPageRequest in all query paths
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.f6cdf75
  index.yaml
  yay-tsa-0.4.3-main.5132367.tgz
  yay-tsa-0.4.3-main.f6cdf75.tgz
Due: prettier

fix(web): Replace lyrics modal with inline panel; add active line glow
  apps/web/src/features/player/components/LyricsScroller.tsx
  apps/web/src/features/player/components/LyricsView.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.a5e5d4f
  index.yaml
  yay-tsa-0.4.3-main.a5e5d4f.tgz
  yay-tsa-0.4.3-main.e36bc0d.tgz
Due: prettier

fix: Search with special sorts, SSE auth on async dispatch, mobile album card clicks
  apps/web/src/features/library/components/AlbumCard.tsx
  services/server/src/main/java/com/yaytsa/server/config/SecurityConfig.java
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.bbabef7
  index.yaml
  yay-tsa-0.4.3-main.a5e5d4f.tgz
  yay-tsa-0.4.3-main.bbabef7.tgz
Due: prettier

fix: Fallback sort to SortName when searching with join-based sorts
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.2eeeca6
  index.yaml
  yay-tsa-0.4.3-main.2eeeca6.tgz
  yay-tsa-0.4.3-main.bbabef7.tgz
Due: prettier

fix: Use search_text for cross-field search (artist, album, genre)
  services/server/src/main/java/com/yaytsa/server/domain/service/ItemService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/entity/ItemEntity.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.baaff48
  index.yaml
  yay-tsa-0.4.3-main.2eeeca6.tgz
  yay-tsa-0.4.3-main.baaff48.tgz
Due: prettier

fix: Comprehensive audit — dead code, security, race conditions, build
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  apps/web/Dockerfile
  apps/web/docker/entrypoint.sh
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/components/QueueView.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/tests/e2e/sleep-timer.spec.ts
  docker-compose.yml
  infra/nginx/nginx.conf.template
  infra/nginx/security-headers.conf
  lighthouserc.json
  package.json
  packages/core/src/api/admin.service.ts
  packages/core/src/cache/cache.interface.ts
  packages/core/src/cache/indexed-db-cache.ts
  packages/core/src/index.ts
  packages/core/src/player/playback-state.ts
  packages/core/tsconfig.json
  packages/platform/src/audio.interface.ts
  packages/platform/src/index.ts
  packages/platform/src/web/html5-audio.ts
  packages/platform/src/web/media-session.ts
  packages/platform/src/web/vocal-removal.ts
  packages/platform/src/web/wake-lock.ts
  packages/platform/tsconfig.json
  services/audio-separator/app.py
  services/audio-separator/extractor/embedding_extractor.py
  services/server/Dockerfile
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/controller/AuthController.java
  services/server/src/main/java/com/yaytsa/server/controller/SessionsController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/StreamingService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/PathUtils.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/query/ItemSpecifications.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/EmbyAuthFilter.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/security/EmbyAuthHeaderParser.java
  services/server/src/main/resources/application.yml
Due: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.eff975d
  index.yaml
  yay-tsa-0.4.3-main.baaff48.tgz
  yay-tsa-0.4.3-main.eff975d.tgz
Due: prettier

fix: Sync package-lock.json with lodash override change
  package-lock.json
Due: npm-audit

Release yay-tsa-0.4.3-main.7596d18
  index.yaml
  yay-tsa-0.4.3-main.7596d18.tgz
  yay-tsa-0.4.3-main.e46aa50.tgz
Due: prettier

fix: Bump Lighthouse FCP threshold to 2500ms for CI stability
  lighthouserc.json
Due: prettier

Release yay-tsa-0.4.3-main.2bea500
  index.yaml
  yay-tsa-0.4.3-main.2bea500.tgz
  yay-tsa-0.4.3-main.7596d18.tgz
Due: prettier

fix: Resolve all 30 SonarCloud issues
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/features/player/components/InlineLyricsPanel.tsx
  apps/web/src/features/player/components/LyricsScroller.tsx
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/tests/e2e/helpers/test-config.ts
  apps/web/tests/e2e/monkey.spec.ts
  packages/core/src/api/api.client.ts
  packages/platform/src/web/html5-audio.ts
  services/audio-separator/app.py
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.d34639e
  index.yaml
  yay-tsa-0.4.3-main.2bea500.tgz
  yay-tsa-0.4.3-main.d34639e.tgz
Due: prettier

fix: Resolve remaining 6 SonarCloud issues
  apps/web/src/features/player/components/PlayerBar.tsx
  apps/web/src/features/player/hooks/useLyricsFetch.ts
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/api/api.client.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.df14187
  index.yaml
  yay-tsa-0.4.3-main.d34639e.tgz
  yay-tsa-0.4.3-main.df14187.tgz
Due: prettier

fix(config): CP1251 encoding repair, folder-based fallback, ignore CD data dirs
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/FileSystemMediaScanner.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
  services/server/src/main/resources/application.yml
Due: prettier, maven-compile, maven-spotbugs, maven-pmd

fix(web): Improve unsynced lyrics visibility; harden CP1251 repair heuristic
  apps/web/src/features/player/components/LyricsScroller.tsx
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

feat(web): Gradient lyrics highlight zone instead of single-line
  apps/web/src/features/player/components/LyricsScroller.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.84841e0
  index.yaml
  yay-tsa-0.4.3-main.84841e0.tgz
  yay-tsa-0.4.3-main.df14187.tgz
Due: prettier

feat(web): Continuous smooth lyrics scroll; larger font size
  apps/web/src/features/player/components/LyricsScroller.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming
