Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-v2-0.1.0-main.r0000000870-ga24d29c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000870-ga24d29c.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000870-ga24d29c
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000870-ga24d29c.tgz
Due: prettier

fix: Guard analytics against fuzz-polluted history rows
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/ListeningStatsService.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/ScrobbleService.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/adapter/JpaPlayHistoryQueryPort.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/PlayHistoryJpaRepository.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000871-g49b27b8
  index.yaml
  yay-tsa-0.5.1-main.r0000000870-ga24d29c.tgz
  yay-tsa-0.5.1-main.r0000000871-g49b27b8.tgz
  yay-tsa-stack-0.1.0-main.r0000000870-ga24d29c.tgz
  yay-tsa-v2-0.1.0-main.r0000000861-g5d7adf9.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000871-g49b27b8
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000871-g49b27b8.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000871-g49b27b8
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000871-g49b27b8.tgz
Due: prettier

build: Add pip/npm cache mounts, CPU torch index, stable model layer
  .dockerignore
  apps/web/Dockerfile
  services/audio-ml/.dockerignore
  services/audio-ml/Dockerfile
  services/audio-ml/requirements/cpu.txt
Due: docker-build

Release yay-tsa-0.5.1-main.r0000000872-gce205d4
  index.yaml
  yay-tsa-0.5.1-main.r0000000871-g49b27b8.tgz
  yay-tsa-0.5.1-main.r0000000872-gce205d4.tgz
  yay-tsa-stack-0.1.0-main.r0000000871-g49b27b8.tgz
  yay-tsa-v2-0.1.0-main.r0000000862-ga1ec4b1.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000872-gce205d4
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000872-gce205d4.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000872-gce205d4
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000872-gce205d4.tgz
Due: prettier

fix: Allow OAuth consent redirect origin in form-action CSP
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpOAuthController.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/OAuthHtmlPages.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/McpOAuthFlowIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000873-g5391d4d
  index.yaml
  yay-tsa-0.5.1-main.r0000000872-gce205d4.tgz
  yay-tsa-0.5.1-main.r0000000873-g5391d4d.tgz
  yay-tsa-stack-0.1.0-main.r0000000872-gce205d4.tgz
  yay-tsa-v2-0.1.0-main.r0000000863-g6b5c2bd.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000873-g5391d4d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000873-g5391d4d.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000873-g5391d4d
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000873-g5391d4d.tgz
Due: prettier

fix: Bound playback-report ints, uuid path ids, non-blank array items
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConfig.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConformanceConfig.kt
Due: none

fix: Set MCP-compatible form-action CSP on v2 edge middleware
  charts/yay-tsa-v2/templates/secure-headers-middleware.yaml
  charts/yay-tsa-v2/values.yaml
Due: none

docs: Record MCP OAuth form-action CSP + connector cache learnings
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000874-g608cc55
  index.yaml
  yay-tsa-0.5.1-main.r0000000873-g5391d4d.tgz
  yay-tsa-0.5.1-main.r0000000874-g608cc55.tgz
  yay-tsa-stack-0.1.0-main.r0000000873-g5391d4d.tgz
  yay-tsa-v2-0.1.0-main.r0000000864-g909cd21.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000874-g608cc55
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000874-g608cc55.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000874-g608cc55
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000874-g608cc55.tgz
Due: prettier

fix: Schema conformance, device-identity drift, flaky ingest test
  apps/web/src/features/player/components/DevicesPanel.tsx
  apps/web/src/features/player/device-identity.ts
  apps/web/src/features/player/hooks/useActiveRemotePlayback.ts
  apps/web/src/features/player/hooks/useDeviceHeartbeat.ts
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  apps/web/src/features/player/stores/device-store.ts
  packages/core/src/api/device.service.ts
  packages/core/src/api/device.types.ts
  packages/core/src/index.ts
  yay-tsa-v2/adapter-jellyfin/detekt-baseline.xml
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDevicesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinFavoritesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConformanceConfig.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/McpPlaybackControlIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaybackReflectionIntegrationTest.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/UploadedTrackIngestTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

fix: Map missing multipart part to 400 instead of 500
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/TracksUploadIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000875-gf761603
  index.yaml
  yay-tsa-0.5.1-main.r0000000874-g608cc55.tgz
  yay-tsa-0.5.1-main.r0000000875-gf761603.tgz
  yay-tsa-stack-0.1.0-main.r0000000874-g608cc55.tgz
  yay-tsa-v2-0.1.0-main.r0000000865-g4af314a.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000875-gf761603
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000875-gf761603.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000875-gf761603
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000875-gf761603.tgz
Due: prettier

fix: Route /api/oauth direct to backend so MCP CSP reaches browser
  charts/yay-tsa-v2/templates/ingress-oauth.yaml
Due: none

Release yay-tsa-0.5.1-main.r0000000876-g796660a
  index.yaml
  yay-tsa-0.5.1-main.r0000000875-gf761603.tgz
  yay-tsa-0.5.1-main.r0000000876-g796660a.tgz
  yay-tsa-stack-0.1.0-main.r0000000875-gf761603.tgz
  yay-tsa-v2-0.1.0-main.r0000000866-g64ced82.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000876-g796660a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000876-g796660a.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000876-g796660a
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000876-g796660a.tgz
Due: prettier

docs: Record /api routing-priority CSP, multipart 400, aggregator overflow
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000877-gcf11734
  index.yaml
  yay-tsa-0.5.1-main.r0000000876-g796660a.tgz
  yay-tsa-0.5.1-main.r0000000877-gcf11734.tgz
  yay-tsa-stack-0.1.0-main.r0000000876-g796660a.tgz
  yay-tsa-v2-0.1.0-main.r0000000867-g39a84d8.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000877-gcf11734
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000877-gcf11734.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000877-gcf11734
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000877-gcf11734.tgz
Due: prettier

fix: Default TARGETARCH so audio-ml stage ref never resolves empty
  services/audio-ml/Dockerfile
Due: none

Release yay-tsa-0.5.1-main.r0000000878-gf9c6731
  index.yaml
  yay-tsa-0.5.1-main.r0000000877-gcf11734.tgz
  yay-tsa-0.5.1-main.r0000000878-gf9c6731.tgz
  yay-tsa-stack-0.1.0-main.r0000000877-gcf11734.tgz
  yay-tsa-v2-0.1.0-main.r0000000868-g4a283a7.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000878-gf9c6731
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000878-gf9c6731.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000878-gf9c6731
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000878-gf9c6731.tgz
Due: prettier

Revert "fix: Default TARGETARCH so audio-ml stage ref never resolves empty"
  services/audio-ml/Dockerfile
Due: none

Release yay-tsa-0.5.1-main.r0000000879-gaa8cb55
  index.yaml
  yay-tsa-0.5.1-main.r0000000878-gf9c6731.tgz
  yay-tsa-0.5.1-main.r0000000879-gaa8cb55.tgz
  yay-tsa-stack-0.1.0-main.r0000000878-gf9c6731.tgz
  yay-tsa-v2-0.1.0-main.r0000000869-g946cf37.tgz
Due: prettier

fix: Build audio-ml images amd64-only to end binfmt-race flakes
  .github/workflows/ci.yml
Due: prettier
