Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-v2-0.1.0-main.r0000000840-g31463e7
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000840-g31463e7.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000840-g31463e7
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000840-g31463e7.tgz
Due: prettier

fix: Upsert resume position to end duplicate-key race
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/adapter/JpaResumePositionRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/ResumePositionJpaRepository.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000841-g2fdee0b
  index.yaml
  yay-tsa-0.5.1-main.r0000000840-g31463e7.tgz
  yay-tsa-0.5.1-main.r0000000841-g2fdee0b.tgz
  yay-tsa-stack-0.1.0-main.r0000000840-g31463e7.tgz
  yay-tsa-v2-0.1.0-main.r0000000831-ga6f9507.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000841-g2fdee0b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000841-g2fdee0b.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000841-g2fdee0b
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000841-g2fdee0b.tgz
Due: prettier

fix: Make re-favorite idempotent instead of a 409 conflict
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/FavoritesConsistencyIntegrationTest.kt
  yay-tsa-v2/core-application/preferences/src/main/kotlin/dev/yaytsa/application/preferences/PreferencesUseCases.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000842-g802baab
  index.yaml
  yay-tsa-0.5.1-main.r0000000841-g2fdee0b.tgz
  yay-tsa-0.5.1-main.r0000000842-g802baab.tgz
  yay-tsa-stack-0.1.0-main.r0000000841-g2fdee0b.tgz
  yay-tsa-v2-0.1.0-main.r0000000832-g1dc0954.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000842-g802baab
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000842-g802baab.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000842-g802baab
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000842-g802baab.tgz
Due: prettier

fix: Reach personalized Songs order when ExcludeGenres is set
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PersonalizedTracksPaginationIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000843-g4e82d44
  index.yaml
  yay-tsa-0.5.1-main.r0000000842-g802baab.tgz
  yay-tsa-0.5.1-main.r0000000843-g4e82d44.tgz
  yay-tsa-stack-0.1.0-main.r0000000842-g802baab.tgz
  yay-tsa-v2-0.1.0-main.r0000000833-ga60597e.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000843-g4e82d44
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000843-g4e82d44.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000843-g4e82d44
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000843-g4e82d44.tgz
Due: prettier

test: Isolate favorites seed source_path so a second test can't collide
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/FavoritesConsistencyIntegrationTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000844-g0510410
  index.yaml
  yay-tsa-0.5.1-main.r0000000843-g4e82d44.tgz
  yay-tsa-0.5.1-main.r0000000844-g0510410.tgz
  yay-tsa-stack-0.1.0-main.r0000000843-g4e82d44.tgz
  yay-tsa-v2-0.1.0-main.r0000000834-g651d3b1.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000844-g0510410
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000844-g0510410.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000844-g0510410
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000844-g0510410.tgz
Due: prettier

docs: Record CI backend-sha, resume-race, favorite-409, #266, seed-isolation
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000845-g06662de
  index.yaml
  yay-tsa-0.5.1-main.r0000000844-g0510410.tgz
  yay-tsa-0.5.1-main.r0000000845-g06662de.tgz
  yay-tsa-stack-0.1.0-main.r0000000844-g0510410.tgz
  yay-tsa-v2-0.1.0-main.r0000000835-g04219e4.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000845-g06662de
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000845-g06662de.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000845-g06662de
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000845-g06662de.tgz
Due: prettier

fix(web): Inset mobile page content below the iPhone Dynamic Island
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000846-g052501b
  index.yaml
  yay-tsa-0.5.1-main.r0000000845-g06662de.tgz
  yay-tsa-0.5.1-main.r0000000846-g052501b.tgz
  yay-tsa-stack-0.1.0-main.r0000000845-g06662de.tgz
  yay-tsa-v2-0.1.0-main.r0000000836-gd62ed62.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000846-g052501b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000846-g052501b.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000846-g052501b
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000846-g052501b.tgz
Due: prettier

chore(ci): Bump autoqa pin c1cece6 -> b783d88
  .github/workflows/ci.yml
Due: prettier

fix(web): Move sortable attributes to the drag handle, not the row wrapper
  apps/web/src/shared/ui/SortableList.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000847-g724e72d
  index.yaml
  yay-tsa-0.5.1-main.r0000000846-g052501b.tgz
  yay-tsa-0.5.1-main.r0000000847-g724e72d.tgz
  yay-tsa-stack-0.1.0-main.r0000000846-g052501b.tgz
  yay-tsa-v2-0.1.0-main.r0000000837-g577f4bf.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000847-g724e72d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000847-g724e72d.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000847-g724e72d
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000847-g724e72d.tgz
Due: prettier

fix(web): Keep background auto-download failures out of error telemetry
  apps/web/src/features/offline/stores/offline.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000848-g7b4778d
  index.yaml
  yay-tsa-0.5.1-main.r0000000847-g724e72d.tgz
  yay-tsa-0.5.1-main.r0000000848-g7b4778d.tgz
  yay-tsa-stack-0.1.0-main.r0000000847-g724e72d.tgz
  yay-tsa-v2-0.1.0-main.r0000000838-g859037d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000848-g7b4778d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000848-g7b4778d.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000848-g7b4778d
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000848-g7b4778d.tgz
Due: prettier

fix: Re-enable detekt build-wide with kotlin pin and frozen baselines
  yay-tsa-v2/adapter-jellyfin/detekt-baseline.xml
  yay-tsa-v2/adapter-mcp/detekt-baseline.xml
  yay-tsa-v2/adapter-mpd/detekt-baseline.xml
  yay-tsa-v2/adapter-opensubsonic/detekt-baseline.xml
  yay-tsa-v2/adapter-shared/detekt-baseline.xml
  yay-tsa-v2/app/detekt-baseline.xml
  yay-tsa-v2/build.gradle.kts
  yay-tsa-v2/core-application/library/detekt-baseline.xml
  yay-tsa-v2/core-application/recommendation/detekt-baseline.xml
  yay-tsa-v2/core-domain/adaptive/detekt-baseline.xml
  yay-tsa-v2/core-domain/auth/detekt-baseline.xml
  yay-tsa-v2/core-domain/playback/detekt-baseline.xml
  yay-tsa-v2/core-domain/playlists/detekt-baseline.xml
  yay-tsa-v2/core-testkit/detekt-baseline.xml
  yay-tsa-v2/detekt.yml
  yay-tsa-v2/infra-karaoke-worker/detekt-baseline.xml
  yay-tsa-v2/infra-library-scanner/detekt-baseline.xml
  yay-tsa-v2/infra-llm/detekt-baseline.xml
  yay-tsa-v2/infra-media/detekt-baseline.xml
  yay-tsa-v2/infra-metadata-enricher/detekt-baseline.xml
  yay-tsa-v2/infra-notifications/detekt-baseline.xml
  yay-tsa-v2/infra-persistence/adaptive/detekt-baseline.xml
  yay-tsa-v2/infra-persistence/library/detekt-baseline.xml
  yay-tsa-v2/infra-persistence/ml/detekt-baseline.xml
  yay-tsa-v2/infra-persistence/playback/detekt-baseline.xml
  yay-tsa-v2/infra-persistence/playlists/detekt-baseline.xml
  yay-tsa-v2/infra-persistence/preferences/detekt-baseline.xml
  yay-tsa-v2/infra-persistence/shared/detekt-baseline.xml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000849-g87e9291
  index.yaml
  yay-tsa-0.5.1-main.r0000000848-g7b4778d.tgz
  yay-tsa-0.5.1-main.r0000000849-g87e9291.tgz
  yay-tsa-stack-0.1.0-main.r0000000848-g7b4778d.tgz
  yay-tsa-v2-0.1.0-main.r0000000839-gdfbb94b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000849-g87e9291
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000849-g87e9291.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000849-g87e9291
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000849-g87e9291.tgz
Due: prettier

test(web): Replace fixed waits with event and poll conditions (S2925)
  apps/web/tests/e2e/audiobooks.spec.ts
  apps/web/tests/e2e/chunk-reload.mocked.spec.ts
Due: prettier, jscpd
