Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix: Accept APP_VERSION build-arg so internal CI bakes real version
  apps/web/Dockerfile
Due: docker-build

docs(config): Note internal-autoqa rollout-502 transient and shared QA password
  QA.md
Due: prettier

fix: Outbox payload TEXT unbreaks radio/batch-queue; add play_track, richer search
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpController.kt
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/McpPlaybackControlIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/OutboxPayloadIntegrationTest.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/entity/OutboxEntity.kt
  yay-tsa-v2/infra-persistence/shared/src/main/resources/db/shared/V004__outbox_payload_text.sql
Due: none

fix: MCP honesty — semantic-unavailable notice, device-local queue label
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/HttpEmbeddingClient.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/McpPlaybackControlIntegrationTest.kt
  yay-tsa-v2/core-application/ml/src/main/kotlin/dev/yaytsa/application/ml/port/EmbeddingPort.kt
Due: none

fix: Fold non-adaptive play_history into affinity (unbias the DJ)
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpListeningTools.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AffinityWorkerIntegrationTest.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
  yay-tsa-v2/infra-persistence/ml/src/main/resources/db/ml/V006__affinity_history_cursor.sql
Due: none

feat: Add CPU CLAP embedding-server for semantic search enablement
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/values.yaml
  charts/yay-tsa/templates/embedding-server-deployment.yaml
  charts/yay-tsa/templates/embedding-server-service.yaml
  charts/yay-tsa/templates/networkpolicy.yaml
  charts/yay-tsa/values.yaml
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/HttpEmbeddingClient.kt
  yay-tsa-v2/app/src/main/resources/application.yml
Due: prettier

fix: Guard affinity history fold against non-UUID play_history ids
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/AffinityWorkerIntegrationTest.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/AffinityAggregator.kt
Due: none

test: Align get_track affinity assertion with all-listening label
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/McpListeningToolsIntegrationTest.kt
Due: none

fix: Malformed track id is a clean not-found, not a generic 500
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/McpPlaybackControlIntegrationTest.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
Due: none

feat: Normalize genres into atomic tags + derive subset relations
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/GenreRelationsIntegrationTest.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryScanner.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/GenreRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/resources/db/library/V009__normalize_genres_and_relations.sql
Due: none

feat: Taste-rank radio pool by affinity; tag source by real provenance
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/RadioStationService.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/RadioStationIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ScrobbleIntegrationTest.kt
  yay-tsa-v2/core-application/recommendation/src/main/kotlin/dev/yaytsa/application/recommendation/AffinityReranker.kt
Due: none

fix: Anonymize outbound User-Agents; drop domain/GitHub identity
  charts/yay-tsa-v2/values.yaml
  services/audio-ml/Dockerfile
  services/audio-ml/app.py
  services/audio-ml/lyrics_sync.py
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/LrclibClient.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/infra-metadata-enricher/detekt-baseline.xml
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
Due: prettier

fix: Exclude audiobooks from karaoke separation, ML embeddings, LLM-DJ
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/LibraryWriterHygieneTest.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
  yay-tsa-v2/infra-ml-worker/src/test/kotlin/dev/yaytsa/worker/ml/MlUnprocessedTrackQueryTest.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
Due: none

fix: Infer disc number from CD folder; stable multi-disc track order
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/LibraryWriterHygieneTest.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
Due: none

fix: Self-healing purge of stale audiobook ML features and karaoke stems
  yay-tsa-v2/infra-karaoke-worker/build.gradle.kts
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
  yay-tsa-v2/infra-karaoke-worker/src/test/kotlin/dev/yaytsa/worker/karaoke/KaraokeAudiobookCleanupTest.kt
  yay-tsa-v2/infra-ml-worker/src/main/kotlin/dev/yaytsa/worker/ml/MlFeatureExtractor.kt
  yay-tsa-v2/infra-ml-worker/src/test/kotlin/dev/yaytsa/worker/ml/MlAudiobookCleanupTest.kt
  yay-tsa-v2/infra-persistence/karaoke/src/main/kotlin/dev/yaytsa/persistence/karaoke/jpa/KaraokeAssetJpaRepository.kt
  yay-tsa-v2/infra-persistence/ml/src/main/kotlin/dev/yaytsa/persistence/ml/jpa/TrackFeaturesJpaRepository.kt
Due: none

fix: Exclude audiobooks from Python feature-extractor track selection
  services/audio-ml/extractor_cli.py
Due: none

fix: Constrain FavoriteOrder ItemIds to uuid items for schemathesis conformance
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConformanceConfig.kt
Due: none

fix: Flush cover-image delete before insert so scanner persists tracks
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/LibraryWriterHygieneTest.kt
Due: none

fix: Make rebuildGenreRelations transactional (TransactionRequiredException)
  QA.md
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
Due: prettier

fix: Don't leak raw SQL in error detail on DB constraint violation
  QA.md
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaylistsIntegrationTest.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/SpringTransactionalCommandExecutor.kt
Due: prettier

fix: Silence benign ReflectExternalPlayback OCC conflict WARNs
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
Due: none

fix: Strip leaked filename audio extension from track titles
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
Due: none

fix: Surface PWA update prompt promptly on tab focus
  apps/web/src/main.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Log best-effort playback reflection failures at debug, not warn
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
Due: none

fix: Strip NUL from JSON input so it never reaches the DB
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/JacksonConfig.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlaylistsIntegrationTest.kt
Due: none

docs: Record pass-2 QA fixes and correct NUL log-spam note
  QA.md
Due: prettier

docs: Append 2026-07-13 leverage-audit findings to LEVERAGE.md
  LEVERAGE.md
Due: prettier

build: Fix OOTB boot path, prune v1 leftovers from charts/nginx, sync docs
  CLAUDE.md
  FEATURES_OVERVIEW.md
  charts/yay-tsa-common/templates/_naming-helpers.tpl
  charts/yay-tsa-v2/templates/_helpers.tpl
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
  charts/yay-tsa/templates/NOTES.txt
  charts/yay-tsa/templates/_helpers.tpl
  charts/yay-tsa/templates/deployment.yaml
  charts/yay-tsa/templates/ingress.yaml
  charts/yay-tsa/templates/pwa-ingress.yaml
  charts/yay-tsa/values.yaml
  docker/docker-compose.yml
  docker/example.env
  infra/nginx/nginx.conf.template
Due: prettier, docker-build

fix: Bound ScheduleRequest ints in OpenAPI so int64 fuzz stays in range
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConformanceConfig.kt
Due: none

feat: User-requested karaoke jumps the batch queue (Fixes #272)
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
  yay-tsa-v2/core-application/karaoke/src/main/kotlin/dev/yaytsa/application/karaoke/port/KaraokeOnDemandPort.kt
  yay-tsa-v2/infra-karaoke-worker/src/main/kotlin/dev/yaytsa/worker/karaoke/KaraokeProcessor.kt
  yay-tsa-v2/infra-karaoke-worker/src/test/kotlin/dev/yaytsa/worker/karaoke/KaraokeAudiobookCleanupTest.kt
Due: none

fix: Revert uninstallable essentia pin, cap transformers <5 (bad dep bump)
  services/audio-ml/requirements/essentia.txt
Due: none

fix: Run ESLint at pre-push stage so cold CI lints with built dist
  .pre-commit-config.yaml
Due: prettier

fix: Cap numpy <2.5 for essentia image (numba backtracks to py3.13-less sdist)
  services/audio-ml/requirements/essentia-base.txt
  services/audio-ml/requirements/essentia.txt
Due: none

docs: QA pass 2026-07-14 — stage-split eslint, Sonar v2 inclusion, flake #284
  QA.md
Due: prettier

fix: Split conformance customizer into per-constraint passes (detekt)
  QA.md
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConformanceConfig.kt
Due: prettier

fix: Park failing ML extractions so 19 dead files stop starving the batch
  services/audio-ml/extractor/essentia_analyzer.py
  services/audio-ml/extractor_cli.py
  yay-tsa-v2/infra-persistence/ml/src/main/resources/db/ml/V007__extraction_failures.sql
Due: none

fix: Block body for applyUuidConstraints so ktlint/detekt agree on line length
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConformanceConfig.kt
Due: none

fix: Map 'UUID string too large' to 404 like other malformed ids; QA notes
  QA.md
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/GlobalExceptionHandler.kt
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
