Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix: Retry metadata enrichment on provider timeout instead of marking checked
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/CoverArtArchiveClient.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataProviderUnavailableException.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MusicBrainzClient.kt
Due: none

docs: Record metadata-enricher QA methodology (transient-error retry, writable mount)
  QA.md
Due: prettier

fix: Resolve residual schemathesis conformance (problem+json dotfiles, BuildSha rollout gate)
  .github/workflows/ci.yml
  .github/workflows/v2-ci.yml
  infra/nginx/nginx.conf.template
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDtos.kt
  yay-tsa-v2/app/src/main/resources/application.yml
Due: prettier, docker-build

fix: Add BuildSha to TS ServerInfo type to match Kotlin DTO
  packages/core/src/internal/models/types.ts
Due: prettier, eslint, docker-build, jscpd

fix: Resolve correctness-audit findings in search, enricher, images
  CORRECTNESS.md
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/LibraryQueries.kt
  yay-tsa-v2/core-application/library/src/main/kotlin/dev/yaytsa/application/library/port/LibraryQueryPort.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/InMemoryPorts.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/ReleaseMatcher.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/resources/db/library/V006__images_primary_unique.sql
Due: prettier

ci: Add concurrency cancel-in-progress to stop redundant parallel runs
  .github/workflows/automerge.yml
  .github/workflows/release-chart.yml
Due: prettier

refactor: Drop dead enricher round-trip + DRY recommendation feed hooks
  LEVERAGE.md
  apps/web/src/features/library/hooks/useDailyMix.ts
  apps/web/src/features/library/hooks/useDiscover.ts
  apps/web/src/features/library/hooks/useRecommendationFeed.ts
  packages/core/src/api/adaptive-dj.service.ts
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MusicBrainzClient.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

refactor: De-dup CI rollout, recommendation tails, track sections; prune hooks
  .github/actions/wait-backend-rollout/action.yml
  .github/workflows/ci.yml
  .github/workflows/v2-ci.yml
  .pre-commit-config.yaml
  apps/web/package.json
  apps/web/src/features/library/components/DailyMix.tsx
  apps/web/src/features/library/components/ExploreNew.tsx
  apps/web/src/features/library/components/FavoriteSongs.tsx
  apps/web/src/features/library/components/TrackSection.tsx
  apps/web/src/features/library/components/index.ts
  eslint.config.js
  services/audio-ml/pyproject.toml
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
Due: prettier, sort-package-json, tsc-web, eslint, jscpd, no-console, component-naming

chore(ci): Bump autoqa pin to 7941469
  .github/workflows/ci.yml
Due: prettier

docs: Add competitor painpoint research with yay-tsa status mapping
  PAINPOINTS.md
Due: prettier

feat: OpenSubsonic lyrics/apiKey, play-history dedup, unaccent search
  apps/web/src/pages/OfflineLibraryPage.tsx
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinLyricsController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicAuthFilter.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicDtos.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicResponse.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SupportedExtensions.kt
  yay-tsa-v2/adapter-shared/build.gradle.kts
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/LrclibClient.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/LyricsResolver.kt
  yay-tsa-v2/adapter-shared/src/test/kotlin/dev/yaytsa/adaptershared/LrclibClientTest.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/HttpIntegrationTestBase.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/PlayHistoryDedupIntegrationTest.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/SubsonicApiIntegrationTest.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
  yay-tsa-v2/infra-persistence/library/src/main/resources/db/library/V007__unaccent_search.sql
  yay-tsa-v2/infra-persistence/library/src/test/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPortTest.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/adapter/JpaPlayHistoryWritePort.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/entity/PlayHistoryEntity.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/PlayHistoryJpaRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/resources/db/playback/V004__play_history_dedup.sql
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

feat: Lease-transfer, Subsonic playQueue, real LLM-DJ Anthropic call
  apps/web/src/features/player/stores/device-store.ts
  packages/core/src/api/device.service.ts
  packages/core/src/api/device.types.ts
  packages/core/src/index.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDevicesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinProtocolCapabilities.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicController.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicDtos.kt
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicResponse.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/CoreBeansConfiguration.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/SubsonicApiIntegrationTest.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/SavedPlayQueue.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/SavedPlayQueueService.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/port/SavedPlayQueueRepository.kt
  yay-tsa-v2/core-domain/playback/src/main/kotlin/dev/yaytsa/domain/playback/Commands.kt
  yay-tsa-v2/core-domain/playback/src/main/kotlin/dev/yaytsa/domain/playback/PlaybackHandler.kt
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/TestCapabilities.kt
  yay-tsa-v2/core-testkit/src/test/kotlin/dev/yaytsa/testkit/scenario/LeaseTransferScenarioTest.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmClient.kt
  yay-tsa-v2/infra-llm/src/test/kotlin/dev/yaytsa/infra/llm/LlmClientTest.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/adapter/JpaSavedPlayQueueRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/entity/SavedPlayQueueEntity.kt
  yay-tsa-v2/infra-persistence/playback/src/main/kotlin/dev/yaytsa/persistence/playback/jpa/SavedPlayQueueJpaRepository.kt
  yay-tsa-v2/infra-persistence/playback/src/main/resources/db/playback/V005__saved_play_queue.sql
  yay-tsa-v2/infra-persistence/playback/src/test/kotlin/dev/yaytsa/persistence/playback/SavedPlayQueueServiceTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

feat: Route LLM-DJ through in-cluster LiteLLM gateway (GPT-5.4 Mini)
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/templates/networkpolicy.yaml
  charts/yay-tsa-v2/values.yaml
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmClient.kt
  yay-tsa-v2/infra-llm/src/test/kotlin/dev/yaytsa/infra/llm/LlmClientTest.kt
Due: prettier

fix(ci): Checkout repo in post-deploy jobs for local rollout action
  .github/workflows/ci.yml
  .github/workflows/v2-ci.yml
Due: prettier

docs: QA learnings — CI local-action checkout, LiteLLM LLM-DJ verify
  QA.md
Due: prettier

feat(platform): Attribute LiteLLM spend per user via OpenAI user field
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmClient.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
  yay-tsa-v2/infra-llm/src/test/kotlin/dev/yaytsa/infra/llm/LlmClientTest.kt
Due: none

fix(ci): Correct schemathesis exclude-path brace names for SSE endpoints
  .github/workflows/ci.yml
  CORRECTNESS.md
  QA.md
Due: prettier

fix: Gate LLM-DJ on new signals; fix play-resume position rewind
  yay-tsa-v2/core-domain/playback/src/main/kotlin/dev/yaytsa/domain/playback/PlaybackHandler.kt
  yay-tsa-v2/core-testkit/src/test/kotlin/dev/yaytsa/testkit/scenario/PositionTrackingScenarioTest.kt
  yay-tsa-v2/infra-llm/src/main/kotlin/dev/yaytsa/infra/llm/LlmOrchestrator.kt
Due: none

fix: Correct play-resume position test assertion (encoded the rewind bug)
  QA.md
  yay-tsa-v2/core-domain/playback/src/test/kotlin/dev/yaytsa/domain/playback/PlaybackHandlerTest.kt
Due: prettier

docs: QA learnings — Forgejo origin, schemathesis gate-policy fix
  QA.md
Due: prettier

fix: Wire device-transfer end-to-end (panel render + play)
  apps/web/src/features/player/components/DevicesPanel.tsx
  apps/web/src/features/player/components/RemotePlaybackBanner.tsx
  apps/web/src/features/player/stores/device-store.ts
  packages/core/src/api/device.service.ts
  packages/core/src/api/device.types.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

chore(ci): Bump autoqa pin 7941469 -> 57bd544
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000708-g3bde4f9
  index.yaml
  yay-tsa-0.5.1-main.r0000000645-ge746c0c.tgz
  yay-tsa-0.5.1-main.r0000000708-g3bde4f9.tgz
  yay-tsa-v2-0.1.0-main.r0000000636-gab58a10.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000708-g3bde4f9
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000708-g3bde4f9.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000709-gfde244e
  index.yaml
  yay-tsa-0.5.1-main.r0000000708-g3bde4f9.tgz
  yay-tsa-0.5.1-main.r0000000709-gfde244e.tgz
  yay-tsa-v2-0.1.0-main.r0000000637-g44bd7c5.tgz
Due: prettier

fix: Bound lyrics-sync runtime with time budget, shuffle to progress
  services/audio-ml/lyrics_sync.py
Due: none

fix(ci): Wait for last backend SHA in post-deploy-qa, not current
  .github/actions/wait-backend-rollout/action.yml
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000710-g048e779
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000710-g048e779.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000710-g048e779
  index.yaml
  yay-tsa-0.5.1-main.r0000000709-gfde244e.tgz
  yay-tsa-0.5.1-main.r0000000710-g048e779.tgz
  yay-tsa-v2-0.1.0-main.r0000000638-g0ccaf94.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000711-gcd6c667
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000711-gcd6c667.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000711-gcd6c667
  index.yaml
  yay-tsa-0.5.1-main.r0000000710-g048e779.tgz
  yay-tsa-0.5.1-main.r0000000711-gcd6c667.tgz
  yay-tsa-v2-0.1.0-main.r0000000639-g050637c.tgz
Due: prettier

fix(core): Serialize test CREATE EXTENSION to stop pg_extension race
  yay-tsa-v2/core-testkit/src/main/kotlin/dev/yaytsa/testkit/persistence/SharedPostgresContainer.kt
Due: none

docs: QA learnings — backend-wait sha, gh-pages mirror, PG extension race
  QA.md
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000713-gd40b869
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000713-gd40b869.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000713-gd40b869
  index.yaml
  yay-tsa-0.5.1-main.r0000000711-gcd6c667.tgz
  yay-tsa-0.5.1-main.r0000000713-gd40b869.tgz
  yay-tsa-v2-0.1.0-main.r0000000640-g69365cc.tgz
Due: prettier

chore(ci): Bump autoqa pin 57bd544 -> edd74c5
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000714-g9f6b042
  index.yaml
  yay-tsa-0.5.1-main.r0000000713-gd40b869.tgz
  yay-tsa-0.5.1-main.r0000000714-g9f6b042.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000714-g9f6b042
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000714-g9f6b042.tgz
Due: prettier

ci: Wire crawler-decorative-paths /Images/ and bump autoqa pin
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000715-g4b88857
  index.yaml
  yay-tsa-0.5.1-main.r0000000714-g9f6b042.tgz
  yay-tsa-0.5.1-main.r0000000715-g4b88857.tgz
  yay-tsa-v2-0.1.0-main.r0000000641-g37b1585.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
