Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

fix(web): Always cache offline cover art (don't gate on Primary tag)
  apps/web/src/features/offline/stores/offline.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000779-g3649184
  index.yaml
  yay-tsa-0.5.1-main.r0000000778-g014ec5a.tgz
  yay-tsa-0.5.1-main.r0000000779-g3649184.tgz
  yay-tsa-stack-0.1.0-main.r0000000778-g014ec5a.tgz
  yay-tsa-v2-0.1.0-main.r0000000769-g941eecd.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000779-g3649184
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000779-g3649184.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000779-g3649184
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000779-g3649184.tgz
Due: prettier

fix: Keep music cover APIs off audiobook albums in enricher
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/EntityGenreRepository.kt
Due: none

fix(helm): Persist artist-images/cover-cache on media volume
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
Due: none

docs: Record image/cover-art subsystem QA methodology
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000781-gc4326d3
  index.yaml
  yay-tsa-0.5.1-main.r0000000779-g3649184.tgz
  yay-tsa-0.5.1-main.r0000000781-gc4326d3.tgz
  yay-tsa-stack-0.1.0-main.r0000000779-g3649184.tgz
  yay-tsa-v2-0.1.0-main.r0000000770-g033712b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000781-gc4326d3
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000781-gc4326d3.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000781-gc4326d3
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000781-gc4326d3.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000782-g0baea3b
  index.yaml
  yay-tsa-0.5.1-main.r0000000781-gc4326d3.tgz
  yay-tsa-0.5.1-main.r0000000782-g0baea3b.tgz
  yay-tsa-stack-0.1.0-main.r0000000781-gc4326d3.tgz
  yay-tsa-v2-0.1.0-main.r0000000771-g5b7369a.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000782-g0baea3b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000782-g0baea3b.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000782-g0baea3b
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000782-g0baea3b.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000783-gf4ba935
  index.yaml
  yay-tsa-0.5.1-main.r0000000782-g0baea3b.tgz
  yay-tsa-0.5.1-main.r0000000783-gf4ba935.tgz
  yay-tsa-stack-0.1.0-main.r0000000782-g0baea3b.tgz
  yay-tsa-v2-0.1.0-main.r0000000772-g8f6229b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000783-gf4ba935
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000783-gf4ba935.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000783-gf4ba935
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000783-gf4ba935.tgz
Due: prettier

fix: Strip redundant artist-name prefix from track titles on scan
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-library-scanner/src/test/kotlin/dev/yaytsa/worker/scanner/LibraryWriterHygieneTest.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000784-gaaeacfb
  index.yaml
  yay-tsa-0.5.1-main.r0000000783-gf4ba935.tgz
  yay-tsa-0.5.1-main.r0000000784-gaaeacfb.tgz
  yay-tsa-stack-0.1.0-main.r0000000783-gf4ba935.tgz
  yay-tsa-v2-0.1.0-main.r0000000773-g3a63788.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000784-gaaeacfb
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000784-gaaeacfb.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000784-gaaeacfb
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000784-gaaeacfb.tgz
Due: prettier

feat(web): Single global search; remove per-tab search inputs
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/shared/testing/test-ids.ts
  apps/web/src/shared/ui/SearchInput.tsx
  apps/web/tests/e2e/helpers/test-ids.ts
  apps/web/tests/e2e/page-objects/LibraryPage.ts
  apps/web/tests/e2e/search-debounce.mocked.spec.ts
  apps/web/tests/e2e/search.spec.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

fix: Best-effort playback reporting + drop all img telemetry noise
  apps/web/src/features/player/stores/player.store.ts
  packages/core/src/api/api.client.ts
  packages/core/src/player/playback-state.ts
  packages/platform/src/web/client-telemetry.ts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

fix(deps): Pin @babel/core, bump ws/js-yaml to clear 3 CVEs
  package-lock.json
  package.json
Due: prettier, sort-package-json, npm-audit, docker-build

Release yay-tsa-0.5.1-main.r0000000785-gf8912ab
  index.yaml
  yay-tsa-0.5.1-main.r0000000784-gaaeacfb.tgz
  yay-tsa-0.5.1-main.r0000000785-gf8912ab.tgz
  yay-tsa-stack-0.1.0-main.r0000000784-gaaeacfb.tgz
  yay-tsa-v2-0.1.0-main.r0000000774-g7068999.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000785-gf8912ab
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000785-gf8912ab.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000785-gf8912ab
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000785-gf8912ab.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000786-gbe84ecc
  index.yaml
  yay-tsa-0.5.1-main.r0000000785-gf8912ab.tgz
  yay-tsa-0.5.1-main.r0000000786-gbe84ecc.tgz
  yay-tsa-stack-0.1.0-main.r0000000785-gf8912ab.tgz
  yay-tsa-v2-0.1.0-main.r0000000775-g60f0384.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000786-gbe84ecc
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000786-gbe84ecc.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000786-gbe84ecc
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000786-gbe84ecc.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000787-gb001dd9
  index.yaml
  yay-tsa-0.5.1-main.r0000000786-gbe84ecc.tgz
  yay-tsa-0.5.1-main.r0000000787-gb001dd9.tgz
  yay-tsa-stack-0.1.0-main.r0000000786-gbe84ecc.tgz
  yay-tsa-v2-0.1.0-main.r0000000776-g3dcd5dc.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000787-gb001dd9
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000787-gb001dd9.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000787-gb001dd9
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000787-gb001dd9.tgz
Due: prettier

fix: Escalate sustained playback-report failures; widen cover-file match
  apps/web/src/features/player/stores/player.store.ts
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000788-g4a9d592
  index.yaml
  yay-tsa-0.5.1-main.r0000000787-gb001dd9.tgz
  yay-tsa-0.5.1-main.r0000000788-g4a9d592.tgz
  yay-tsa-stack-0.1.0-main.r0000000787-gb001dd9.tgz
  yay-tsa-v2-0.1.0-main.r0000000777-g0aa74bc.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000788-g4a9d592
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000788-g4a9d592.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000788-g4a9d592
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000788-g4a9d592.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000789-gefd336f
  index.yaml
  yay-tsa-0.5.1-main.r0000000788-g4a9d592.tgz
  yay-tsa-0.5.1-main.r0000000789-gefd336f.tgz
  yay-tsa-stack-0.1.0-main.r0000000788-g4a9d592.tgz
  yay-tsa-v2-0.1.0-main.r0000000778-g014ec5a.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000789-gefd336f
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000789-gefd336f.tgz
Due: prettier

Release yay-tsa-stack-0.1.0-main.r0000000789-gefd336f
  index.yaml
  yay-tsa-stack-0.1.0-main.r0000000789-gefd336f.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000790-gc72dbd6
  index.yaml
  yay-tsa-0.5.1-main.r0000000789-gefd336f.tgz
  yay-tsa-0.5.1-main.r0000000790-gc72dbd6.tgz
  yay-tsa-stack-0.1.0-main.r0000000789-gefd336f.tgz
  yay-tsa-v2-0.1.0-main.r0000000779-g3649184.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
