Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

prettier:
  name: Prettier (code formatter + Tailwind sort)
  entry: npx --no-install prettier --write --ignore-unknown --plugin=prettier-plugin-tailwindcss
  language: system

sort-package-json:
  name: Sort package.json files
  entry: npx --no-install sort-package-json "package.json" "packages/*/package.json" "apps/*/package.json"
  language: system

tsc-web:
  name: TypeScript type check (web)
  entry: bash -c 'npm run build:core && npm run build:platform && cd apps/web && npx tsc --noEmit'
  language: system
  pass_filenames: false

eslint:
  name: ESLint (TypeScript/React quality)
  entry: npx --no-install eslint --fix --no-warn-ignored
  language: system
  pass_filenames: true

docker-compose-check:
  name: Docker Compose config validation
  entry: docker compose -f docker-compose.yml config -q
  language: system
  pass_filenames: false

npm-audit:
  name: npm audit (production security vulnerabilities)
  entry: npm audit --audit-level=high --omit=dev
  language: system
  pass_filenames: false
  stages:
  - pre-push

docker-build:
  name: Docker build validation
  entry: docker build -t yaytsa:test -f apps/web/Dockerfile .
  language: system
  pass_filenames: false
  stages:
  - pre-push

jscpd:
  name: Copy-paste detection (jscpd)
  entry: npx --no-install jscpd --min-lines 6 --min-tokens 50 --threshold 3 --ignore "**/tests/**,**/node_modules/**,**/dist/**,**/build/**" packages/ apps/
  language: system
  pass_filenames: false

no-console:
  name: No console.log in production
  entry: bash -c 'grep -rn "console\.\(log\|debug\)" apps/web/src/{features,routes,components} --include="*.ts" --include="*.tsx" 2>/dev/null && exit 1 || exit 0'
  language: system
  pass_filenames: false

component-naming:
  name: Component naming convention (PascalCase)
  entry: bash -c 'find apps/web/src -name "*.tsx" -exec basename {} \; | grep -vE "^[A-Z]|^(index|main|vite-env)" && exit 1 || exit 0'
  language: system
  pass_filenames: false

maven-compile:
  name: Maven compile (Java backend)
  entry: bash -c 'cd services/server && mvn compile -B -q'
  language: system
  pass_filenames: false

maven-spotbugs:
  name: SpotBugs (Java static analysis)
  entry: bash -c 'cd services/server && mvn spotbugs:check -B -q'
  language: system
  pass_filenames: false

maven-pmd:
  name: PMD (Java code quality)
  entry: bash -c 'cd services/server && mvn pmd:check -B -q'
  language: system
  pass_filenames: false

ci: Bump autoqa pin 4ea6a7c -> 2643745
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000728-g7941e2e
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000718-g992df17.tgz
  yay-tsa-v2-0.1.0-main.r0000000728-g7941e2e.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000728-g7941e2e
  index.yaml
  yay-tsa-0.5.1-main.r0000000727-gd415965.tgz
  yay-tsa-0.5.1-main.r0000000728-g7941e2e.tgz
  yay-tsa-v2-0.1.0-main.r0000000719-gda1d64f.tgz
Due: prettier

feat: Unify client error forwarding + artist images from open sources
  CORRECTNESS.md
  apps/web/src/app/infra/ErrorBoundary.tsx
  apps/web/src/features/player/hooks/useDeviceEvents.ts
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/main.tsx
  apps/web/src/shared/utils/error-reporter.ts
  charts/yay-tsa-v2/templates/backend-configmap.yaml
  charts/yay-tsa-v2/templates/backend-deployment.yaml
  charts/yay-tsa-v2/values.yaml
  packages/core/src/index.ts
  packages/core/src/internal/utils/logger.ts
  packages/platform/src/error-transport.interface.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinClientErrorsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinMediaController.kt
  yay-tsa-v2/app/src/main/resources/application.yml
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ClientErrorsIntegrationTest.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/ArtistImageSourceClient.kt
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-0.5.1-main.r0000000729-gbda2eb2
  index.yaml
  yay-tsa-0.5.1-main.r0000000728-g7941e2e.tgz
  yay-tsa-0.5.1-main.r0000000729-gbda2eb2.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000729-gbda2eb2
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000729-gbda2eb2.tgz
Due: prettier

feat: Add MCP list_devices tool for playback device discovery
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000730-g8ab416a
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000720-g8522201.tgz
  yay-tsa-v2-0.1.0-main.r0000000730-g8ab416a.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000730-g8ab416a
  index.yaml
  yay-tsa-0.5.1-main.r0000000729-gbda2eb2.tgz
  yay-tsa-0.5.1-main.r0000000730-g8ab416a.tgz
  yay-tsa-v2-0.1.0-main.r0000000721-gfbb7982.tgz
Due: prettier

feat: Write karaoke stems as MP3 192k; serve stems format-agnostically
  charts/yay-tsa/templates/audio-separator-deployment.yaml
  charts/yay-tsa/values.yaml
  services/audio-ml/Dockerfile
  services/audio-ml/app.py
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinKaraokeController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/MediaPathSafety.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000731-gd6633fc
  index.yaml
  yay-tsa-0.5.1-main.r0000000730-g8ab416a.tgz
  yay-tsa-0.5.1-main.r0000000731-gd6633fc.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000731-gd6633fc
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000731-gd6633fc.tgz
Due: prettier

feat: Expose album ProductionYear in /Items from earliest track year
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/JellyfinDtos.kt
  yay-tsa-v2/core-domain/library/src/main/kotlin/dev/yaytsa/domain/library/Types.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPort.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/mapper/LibraryMappers.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/AudioTrackRepository.kt
  yay-tsa-v2/infra-persistence/library/src/test/kotlin/dev/yaytsa/persistence/library/JpaLibraryQueryPortTest.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000732-g134d345
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000722-gf512cd4.tgz
  yay-tsa-v2-0.1.0-main.r0000000732-g134d345.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000732-g134d345
  index.yaml
  yay-tsa-0.5.1-main.r0000000731-gd6633fc.tgz
  yay-tsa-0.5.1-main.r0000000732-g134d345.tgz
  yay-tsa-v2-0.1.0-main.r0000000723-g7e7681a.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000733-g14cde4d
  index.yaml
  yay-tsa-0.5.1-main.r0000000732-g134d345.tgz
  yay-tsa-0.5.1-main.r0000000733-g14cde4d.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000733-g14cde4d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000733-g14cde4d.tgz
Due: prettier

fix: Correctness-audit fixes for finalization increments
  CORRECTNESS.md
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  apps/web/src/features/player/stores/group-sync-store.ts
  apps/web/src/shared/ui/GlobalSearchBar.tsx
  apps/web/tests/e2e/search.spec.ts
  packages/platform/src/web/html5-audio.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinDevicesController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/adapter-shared/src/main/kotlin/dev/yaytsa/adaptershared/HttpEmbeddingClient.kt
  yay-tsa-v2/core-application/playback/src/main/kotlin/dev/yaytsa/application/playback/DeviceSessionProjection.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000734-gce3c52d
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000724-gda63f71.tgz
  yay-tsa-v2-0.1.0-main.r0000000734-gce3c52d.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000734-gce3c52d
  index.yaml
  yay-tsa-0.5.1-main.r0000000733-g14cde4d.tgz
  yay-tsa-0.5.1-main.r0000000734-gce3c52d.tgz
  yay-tsa-v2-0.1.0-main.r0000000725-gb2dcf33.tgz
Due: prettier

fix: MCP red-line filter, remote-cmd idempotency, scan honesty
  apps/web/src/features/player/hooks/useRemoteCommands.ts
  packages/core/src/api/device.types.ts
  yay-tsa-v2/adapter-jellyfin/build.gradle.kts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAdaptiveController.kt
  yay-tsa-v2/adapter-mcp/build.gradle.kts
  yay-tsa-v2/adapter-mcp/src/main/kotlin/dev/yaytsa/adaptermcp/McpTools.kt
  yay-tsa-v2/app/build.gradle.kts
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/CoreBeansConfiguration.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/devices/RemoteCommandSseBridge.kt
  yay-tsa-v2/app/src/test/kotlin/dev/yaytsa/app/integration/ItemsPaginationIntegrationTest.kt
  yay-tsa-v2/core-application/recommendation/build.gradle.kts
  yay-tsa-v2/core-application/recommendation/src/main/kotlin/dev/yaytsa/application/recommendation/MusicSurfaceFilter.kt
  yay-tsa-v2/core-application/shared/src/main/kotlin/dev/yaytsa/application/shared/port/OutboxPort.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryScanner.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/JpaOutboxPort.kt
  yay-tsa-v2/infra-persistence/shared/src/main/kotlin/dev/yaytsa/persistence/shared/JpaRemoteCommandPort.kt
  yay-tsa-v2/settings.gradle.kts
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000735-g6373e4b
  index.yaml
  yay-tsa-0.5.1-main.r0000000734-gce3c52d.tgz
  yay-tsa-0.5.1-main.r0000000735-g6373e4b.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000735-g6373e4b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000735-g6373e4b.tgz
Due: prettier

chore: Format CORRECTNESS.md for prettier + markdownlint
  CORRECTNESS.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000736-ge71eb0b
  index.yaml
  yay-tsa-0.5.1-main.r0000000735-g6373e4b.tgz
  yay-tsa-0.5.1-main.r0000000736-ge71eb0b.tgz
  yay-tsa-v2-0.1.0-main.r0000000726-g3ac56e2.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000736-ge71eb0b
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000736-ge71eb0b.tgz
Due: prettier

fix: Correct cover gating field + quiet transfer 404 + enricher cooldown
  apps/web/src/features/offline/stores/offline.store.ts
  apps/web/src/features/player/components/DevicesPanel.tsx
  apps/web/src/features/player/stores/device-store.ts
  apps/web/src/features/player/stores/player.store.ts
  apps/web/src/shared/utils/track-image.ts
  packages/core/src/api/device.service.ts
  packages/core/src/index.ts
  yay-tsa-v2/infra-metadata-enricher/src/main/kotlin/dev/yaytsa/worker/metadata/MetadataEnricher.kt
  yay-tsa-v2/infra-metadata-enricher/src/test/kotlin/dev/yaytsa/worker/metadata/EnricherTestApplication.kt
  yay-tsa-v2/infra-metadata-enricher/src/test/kotlin/dev/yaytsa/worker/metadata/MetadataEnricherIntegrationTest.kt
Due: prettier, tsc-web, eslint, docker-build, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000737-g4121cf3
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000727-gd415965.tgz
  yay-tsa-v2-0.1.0-main.r0000000737-g4121cf3.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000737-g4121cf3
  index.yaml
  yay-tsa-0.5.1-main.r0000000736-ge71eb0b.tgz
  yay-tsa-0.5.1-main.r0000000737-g4121cf3.tgz
  yay-tsa-v2-0.1.0-main.r0000000728-g7941e2e.tgz
Due: prettier

fix(docker): Copy db.py into image so cronjob scripts can import it
  services/audio-ml/Dockerfile
Due: none

fix: Document client-errors 204 + drop decorative img telemetry
  apps/web/src/app/infra/install-error-handlers.ts
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinClientErrorsController.kt
Due: prettier, tsc-web, eslint, jscpd, no-console

Release yay-tsa-0.5.1-main.r0000000739-gf32cee6
  index.yaml
  yay-tsa-0.5.1-main.r0000000737-g4121cf3.tgz
  yay-tsa-0.5.1-main.r0000000739-gf32cee6.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000739-gf32cee6
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000739-gf32cee6.tgz
Due: prettier

fix(core): Document 204 via OpenApiConfig not adapter annotation
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinClientErrorsController.kt
  yay-tsa-v2/app/src/main/kotlin/dev/yaytsa/app/OpenApiConfig.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000740-g4549910
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000729-gbda2eb2.tgz
  yay-tsa-v2-0.1.0-main.r0000000740-g4549910.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000740-g4549910
  index.yaml
  yay-tsa-0.5.1-main.r0000000739-gf32cee6.tgz
  yay-tsa-0.5.1-main.r0000000740-g4549910.tgz
  yay-tsa-v2-0.1.0-main.r0000000730-g8ab416a.tgz
Due: prettier

docs: Add QA learnings for 204 OpenApiConfig + cronjob pin breakage
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000741-gc0c8efa
  index.yaml
  yay-tsa-0.5.1-main.r0000000740-g4549910.tgz
  yay-tsa-0.5.1-main.r0000000741-gc0c8efa.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000741-gc0c8efa
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000741-gc0c8efa.tgz
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$
