Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-0.4.3-main.183ad4a
  index.yaml
  yay-tsa-0.4.3-main.183ad4a.tgz
  yay-tsa-0.4.3-main.84841e0.tgz
Due: prettier

fix(config): Replace RANDOM() with deterministic sort in paginated queries
  services/server/src/main/java/com/yaytsa/server/infrastructure/persistence/repository/ItemRepository.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.23e9372
  index.yaml
  yay-tsa-0.4.3-main.183ad4a.tgz
  yay-tsa-0.4.3-main.23e9372.tgz
Due: prettier

fix(docker): Propagate output_dir to model instance in audio separator
  services/audio-separator/app.py
Due: none

Release yay-tsa-0.4.3-main.7455197
  index.yaml
  yay-tsa-0.4.3-main.23e9372.tgz
  yay-tsa-0.4.3-main.7455197.tgz
Due: prettier

fix(web): Add exponential smoothing to lyrics scroll for jitter-free motion
  apps/web/src/features/player/components/LyricsScroller.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.833f315
  index.yaml
  yay-tsa-0.4.3-main.7455197.tgz
  yay-tsa-0.4.3-main.833f315.tgz
Due: prettier

feat(config): Switch audio separator to BS-Roformer model (SDR 12.9 vs 9.0)
  charts/yay-tsa/values.yaml
  docker-compose.yml
  docker/docker-compose.yml
  services/audio-separator/Dockerfile
  services/audio-separator/app.py
Due: prettier, docker-compose-check

Release yay-tsa-0.4.3-main.0d7f39b
  index.yaml
  yay-tsa-0.4.3-main.0d7f39b.tgz
  yay-tsa-0.4.3-main.833f315.tgz
Due: prettier

fix(config): Increase audio separator probe timeouts for larger model download
  charts/yay-tsa/values.yaml
Due: none

Release yay-tsa-0.4.3-main.25807a0
  index.yaml
  yay-tsa-0.4.3-main.0d7f39b.tgz
  yay-tsa-0.4.3-main.25807a0.tgz
Due: prettier

fix(docker): Patch torch.load for BS-Roformer on PyTorch 2.10+
  services/audio-separator/Dockerfile
Due: none

Release yay-tsa-0.4.3-main.8a93f92
  index.yaml
  yay-tsa-0.4.3-main.25807a0.tgz
  yay-tsa-0.4.3-main.8a93f92.tgz
Due: prettier

Release yay-tsa-0.4.3-main.3c94283
  index.yaml
  yay-tsa-0.4.3-main.3c94283.tgz
  yay-tsa-0.4.3-main.8a93f92.tgz
Due: prettier

fix(docker): Patch audio-separator yaml→ckpt path and torch.load compat
  .github/workflows/ci.yml
  services/audio-separator/Dockerfile
  services/audio-separator/patches/patch_audio_separator.py
Due: prettier

Release yay-tsa-0.4.3-main.fbc48ca
  index.yaml
  yay-tsa-0.4.3-main.3c94283.tgz
  yay-tsa-0.4.3-main.fbc48ca.tgz
Due: prettier

fix(docker): Fix vocal stem classification and empty path validation
  services/audio-separator/app.py
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
Due: maven-compile, maven-spotbugs, maven-pmd

fix(web): GPU-composited lyrics scroll; fix empty vocalPath guard
  .pre-commit-config.yaml
  apps/web/src/features/player/components/LyricsScroller.tsx
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.ee4755f
  index.yaml
  yay-tsa-0.4.3-main.e626b3c.tgz
  yay-tsa-0.4.3-main.ee4755f.tgz
Due: prettier

fix(core): Detect hash-garbled tags and fallback to filepath names
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.c59aafb
  index.yaml
  yay-tsa-0.4.3-main.c59aafb.tgz
  yay-tsa-0.4.3-main.ed6787d.tgz
Due: prettier

fix(core): Strip track number prefix from filename fallback titles
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/JAudioTaggerExtractor.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.a93de56
  index.yaml
  yay-tsa-0.4.3-main.a93de56.tgz
  yay-tsa-0.4.3-main.c59aafb.tgz
Due: prettier

fix(platform): Replace native webp-imageio with TwelveMonkeys + cwebp subprocess
  services/server/pom.xml
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.61ad767
  index.yaml
  yay-tsa-0.4.3-main.61ad767.tgz
  yay-tsa-0.4.3-main.a93de56.tgz
Due: prettier

fix(platform): Add semaphore, process cleanup, and timeout fix to cwebp encoding
  services/server/src/main/java/com/yaytsa/server/domain/service/ImageService.java
Due: maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.7358947
  index.yaml
  yay-tsa-0.4.3-main.61ad767.tgz
  yay-tsa-0.4.3-main.7358947.tgz
Due: prettier

fix: Bound all executors and caches; add ARCHITECTURE.md
  ARCHITECTURE.md
  apps/web/src/features/player/stores/player.store.ts
  services/server/src/main/java/com/yaytsa/server/config/AsyncConfig.java
  services/server/src/main/java/com/yaytsa/server/controller/ListeningSessionController.java
  services/server/src/main/java/com/yaytsa/server/controller/PlaybackSignalController.java
  services/server/src/main/java/com/yaytsa/server/domain/service/KaraokeService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/QueueSseService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/RecommendationService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/SignalProcessingService.java
  services/server/src/main/java/com/yaytsa/server/domain/service/metadata/AggregatedMetadataService.java
  services/server/src/main/java/com/yaytsa/server/infrastructure/fs/MediaScannerTransactionalService.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.bee3c94
  index.yaml
  yay-tsa-0.4.3-main.7358947.tgz
  yay-tsa-0.4.3-main.bee3c94.tgz
Due: prettier

feat(web): Enable React Compiler; fix KaraokeController SSE leak
  apps/web/package.json
  apps/web/src/features/auth/components/UsersPanel.tsx
  apps/web/src/features/auth/hooks/useImageUrl.ts
  apps/web/src/features/player/components/LyricsScroller.tsx
  apps/web/src/features/player/components/MobileFullPlayer.tsx
  apps/web/src/features/player/components/SeekBar.tsx
  apps/web/src/features/player/components/VolumeControls.tsx
  apps/web/src/features/player/hooks/useLyrics.ts
  apps/web/src/pages/AlbumDetailPage.tsx
  apps/web/src/pages/AlbumsPage.tsx
  apps/web/src/pages/ArtistDetailPage.tsx
  apps/web/src/pages/ArtistsPage.tsx
  apps/web/src/pages/FavoritesPage.tsx
  apps/web/src/pages/SongsPage.tsx
  apps/web/src/shared/hooks/useImageErrorTracking.ts
  apps/web/src/shared/ui/SortMenu.tsx
  apps/web/src/shared/ui/SortableList.tsx
  apps/web/vite.config.ts
  package-lock.json
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
Due: prettier, sort-package-json, tsc-web, eslint, npm-audit, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

fix(web): Karaoke race guard; useEffectEvent for SSE/lyrics/colors
  apps/web/src/features/player/components/LyricsView.tsx
  apps/web/src/features/player/hooks/useAlbumColors.ts
  apps/web/src/features/player/hooks/useLyricsFetch.ts
  apps/web/src/features/player/stores/player.store.ts
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.e122d15
  index.yaml
  yay-tsa-0.4.3-main.bee3c94.tgz
  yay-tsa-0.4.3-main.e122d15.tgz
Due: prettier

fix: Lyrics effect dep, useCallback cleanup, SSE pool=2
  apps/web/src/features/player/hooks/useLyrics.ts
  apps/web/src/features/player/hooks/useLyricsFetch.ts
  services/server/src/main/java/com/yaytsa/server/controller/KaraokeController.java
Due: prettier, tsc-web, eslint, jscpd, no-console, maven-compile, maven-spotbugs, maven-pmd

Release yay-tsa-0.4.3-main.e6c34cc
  index.yaml
  yay-tsa-0.4.3-main.e122d15.tgz
  yay-tsa-0.4.3-main.e6c34cc.tgz
Due: prettier

fix(web): Smart back navigation + scroll position restoration
  apps/web/src/pages/RootLayout.tsx
  apps/web/src/shared/ui/BackLink.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.c4634a3
  index.yaml
  yay-tsa-0.4.3-main.c4634a3.tgz
  yay-tsa-0.4.3-main.e6c34cc.tgz
Due: prettier

fix(web): Scroll listener dep on authState for deferred mount
  apps/web/src/pages/RootLayout.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-0.4.3-main.9ecd98f
  index.yaml
  yay-tsa-0.4.3-main.9ecd98f.tgz
  yay-tsa-0.4.3-main.c4634a3.tgz
Due: prettier

build: Optimize JVM flags, upgrade nginx, cleanup build deps
  apps/web/Dockerfile
  services/audio-separator/Dockerfile
  services/server/Dockerfile
Due: docker-build

Release yay-tsa-0.4.3-main.c6048fe
  index.yaml
  yay-tsa-0.4.3-main.9ecd98f.tgz
  yay-tsa-0.4.3-main.c6048fe.tgz
Due: prettier
