Repository nikolay-e/yay-tsa: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, sort-package-json, tsc-web, eslint, docker-compose-check, npm-audit, docker-build, jscpd, no-console, component-naming, maven-compile, maven-spotbugs, maven-pmd

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$, but not: ^(package-lock\.json|pnpm-lock\.yaml|yarn\.lock|charts/)
  sort-package-json: any of: ^(package\.json|packages/.*/package\.json|apps/.*/package\.json)$ and \.json$
  tsc-web: any of: ^apps/web/src/.*\.(ts|tsx)$
  eslint: any of: ^(packages|apps)/.*\.(js|ts|tsx)$, but not: (tests|\.test\.|\.spec\.|\.config\.)
  docker-compose-check: any of: ^docker-compose\.yml$
  npm-audit: any of: ^package(-lock)?\.json$
  docker-build: any of: ^(apps/web/Dockerfile|apps/web/docker/|infra/nginx/|packages/|package\.json)
  jscpd: any of: \.(js|ts|tsx)$
  no-console: any of: ^apps/web/src/.*\.(ts|tsx)$
  component-naming: any of: ^apps/web/src/.*\.tsx$
  maven-compile: any of: ^services/server/(pom\.xml|src/.*)$
  maven-spotbugs: any of: ^services/server/src/main/.*\.java$
  maven-pmd: any of: ^services/server/src/main/.*\.java$

Release yay-tsa-0.5.1-main.r0000000474-g9f3a992
  index.yaml
  yay-tsa-0.5.1-main.r0000000473-gb453b32.tgz
  yay-tsa-0.5.1-main.r0000000474-g9f3a992.tgz
  yay-tsa-v2-0.1.0-main.r0000000465-gcc1e5f3.tgz
Due: prettier

fix(core): Scanner repairs v1-ETL absolute paths; strip XML control chars
  yay-tsa-v2/adapter-opensubsonic/src/main/kotlin/dev/yaytsa/adapteropensubsonic/SubsonicResponseWriter.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/entity/LibraryEntityJpa.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/repository/LibraryEntityRepository.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000475-ga3c57d1
  index.yaml
  yay-tsa-0.5.1-main.r0000000474-g9f3a992.tgz
  yay-tsa-0.5.1-main.r0000000475-ga3c57d1.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000475-ga3c57d1
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000475-ga3c57d1.tgz
Due: prettier

fix(helm): Add Subsonic /rest ingress so adapter is reachable
  charts/yay-tsa-v2/templates/ingress-subsonic.yaml
  charts/yay-tsa-v2/values.yaml
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000476-g3f51fc9
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000466-g1d9fe43.tgz
  yay-tsa-v2-0.1.0-main.r0000000476-g3f51fc9.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000476-g3f51fc9
  index.yaml
  yay-tsa-0.5.1-main.r0000000475-ga3c57d1.tgz
  yay-tsa-0.5.1-main.r0000000476-g3f51fc9.tgz
  yay-tsa-v2-0.1.0-main.r0000000467-g189b2a9.tgz
Due: prettier

style(web): Tailwind class order (pre-commit autofix)
  QA.md
  apps/web/src/pages/FavoritesPage.tsx
Due: prettier, tsc-web, eslint, jscpd, no-console, component-naming

Release yay-tsa-v2-0.1.0-main.r0000000477-g10df6ff
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000477-g10df6ff.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000477-g10df6ff
  index.yaml
  yay-tsa-0.5.1-main.r0000000476-g3f51fc9.tgz
  yay-tsa-0.5.1-main.r0000000477-g10df6ff.tgz
  yay-tsa-v2-0.1.0-main.r0000000468-g0e813dd.tgz
Due: prettier

fix(core): /Items playlist lookup + Sessions UUID validation + scanner zero-duration skip
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinSessionsController.kt
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
Due: none

ci: Pin autoqa@601af09 with schemathesis-base-url=/api
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000478-gc175b2e
  index.yaml
  yay-tsa-0.5.1-main.r0000000477-g10df6ff.tgz
  yay-tsa-0.5.1-main.r0000000478-gc175b2e.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000479-g06ec15c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000479-g06ec15c.tgz
Due: prettier

docs(config): QA.md - autoqa pipeline + backend bugs from 2026-05-17 QA
  QA.md
Due: prettier

Release yay-tsa-0.5.1-main.r0000000480-g66e2110
  index.yaml
  yay-tsa-0.5.1-main.r0000000478-gc175b2e.tgz
  yay-tsa-0.5.1-main.r0000000480-g66e2110.tgz
  yay-tsa-v2-0.1.0-main.r0000000469-gc923e03.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000480-g66e2110
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000480-g66e2110.tgz
Due: prettier

fix(core): Surface playlist command failures + log reason
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
Due: none

Release yay-tsa-v2-0.1.0-main.r0000000481-gd0fd75c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000470-gf7a6cc9.tgz
  yay-tsa-v2-0.1.0-main.r0000000481-gd0fd75c.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000481-gd0fd75c
  index.yaml
  yay-tsa-0.5.1-main.r0000000480-g66e2110.tgz
  yay-tsa-0.5.1-main.r0000000481-gd0fd75c.tgz
  yay-tsa-v2-0.1.0-main.r0000000471-g6cbaae5.tgz
Due: prettier

fix(core): POST /Playlists honors Ids field — was silently dropping initial tracks
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinPlaylistsController.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000482-g4885876
  index.yaml
  yay-tsa-0.5.1-main.r0000000481-gd0fd75c.tgz
  yay-tsa-0.5.1-main.r0000000482-g4885876.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000482-g4885876
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000482-g4885876.tgz
Due: prettier

ci: Bump autoqa pin to 012f233 (ZAP report write-perm fix)
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000483-g266c663
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000472-g2547807.tgz
  yay-tsa-v2-0.1.0-main.r0000000483-g266c663.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000483-g266c663
  index.yaml
  yay-tsa-0.5.1-main.r0000000482-g4885876.tgz
  yay-tsa-0.5.1-main.r0000000483-g266c663.tgz
  yay-tsa-v2-0.1.0-main.r0000000473-gb453b32.tgz
Due: prettier

fix(core): Populate Album.DateCreated from entity.createdAt
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinItemsController.kt
  yay-tsa-v2/core-domain/library/src/main/kotlin/dev/yaytsa/domain/library/Types.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/mapper/LibraryMappers.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000484-ged8cea1
  index.yaml
  yay-tsa-0.5.1-main.r0000000483-g266c663.tgz
  yay-tsa-0.5.1-main.r0000000484-ged8cea1.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000484-ged8cea1
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000484-ged8cea1.tgz
Due: prettier

fix(core): Sessions/Logout now actually revokes Bearer-auth tokens
  yay-tsa-v2/adapter-jellyfin/src/main/kotlin/dev/yaytsa/adapterjellyfin/JellyfinAuthController.kt
Due: none

ci: Bump autoqa pin to 1912545 (QA_AUTH_TOKEN mask)
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000485-g30bc14c
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000474-g9f3a992.tgz
  yay-tsa-v2-0.1.0-main.r0000000485-g30bc14c.tgz
Due: prettier

Release yay-tsa-0.5.1-main.r0000000485-g30bc14c
  index.yaml
  yay-tsa-0.5.1-main.r0000000484-ged8cea1.tgz
  yay-tsa-0.5.1-main.r0000000485-g30bc14c.tgz
  yay-tsa-v2-0.1.0-main.r0000000475-ga3c57d1.tgz
Due: prettier

ci: Fix autoqa SHA (typo in pin)
  .github/workflows/ci.yml
Due: prettier

Release yay-tsa-0.5.1-main.r0000000486-g4629b62
  index.yaml
  yay-tsa-0.5.1-main.r0000000485-g30bc14c.tgz
  yay-tsa-0.5.1-main.r0000000486-g4629b62.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000486-g4629b62
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000486-g4629b62.tgz
Due: prettier

fix(core): Scanner strips track-number prefix from filename-fallback titles
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
  yay-tsa-v2/infra-persistence/library/src/main/kotlin/dev/yaytsa/persistence/library/entity/LibraryEntityJpa.kt
Due: none

Release yay-tsa-0.5.1-main.r0000000487-g97b6fa6
  index.yaml
  yay-tsa-0.5.1-main.r0000000486-g4629b62.tgz
  yay-tsa-0.5.1-main.r0000000487-g97b6fa6.tgz
  yay-tsa-v2-0.1.0-main.r0000000476-g3f51fc9.tgz
Due: prettier

Release yay-tsa-v2-0.1.0-main.r0000000487-g97b6fa6
  index.yaml
  yay-tsa-v2-0.1.0-main.r0000000487-g97b6fa6.tgz
Due: prettier

fix(core): Scanner treats placeholder tags (#####, ????) as missing
  yay-tsa-v2/infra-library-scanner/src/main/kotlin/dev/yaytsa/worker/scanner/LibraryWriter.kt
Due: none
